<!-- Web-view Started -->
<div class="web-view" *ngFor="let response of interactive_dashoard_response">
    <div class="row web_first_row">
       
        <div class="col-1 web_first_col d-flex">
           <img class="web_profile_pic" src="{{interactive_dashoard_response[0].data._personal_data.profile_logo}}" />
        </div>
       
        <div class="col-2 web_second_col">
         <p class="web_profile_name"> {{interactive_dashoard_response[0].data._personal_data.first_name}}</p> 
         <p class="web_team_name"> {{interactive_dashoard_response[0].data._personal_data.team_name}}</p> 

         </div>
        
         <div class="col-6 d-flex justify-content-center align-items-center">
           <img class="web_logo" src="{{interactive_dashoard_response[0].data._personal_data.game_logo}}"/>
        </div>

        <div class="col-3 d-flex justify-content-end">
            <div class="web_points_bg">
                <div class="web_center_div">
                    <img class="web_points" src="assets/images/final-interactive-dashboard/web-assets/Web/Web/Cricket/Buttons/points_without_bg.png" />
                    <p class="total_web_points">{{interactive_dashoard_response[0].data._points[2].score}}</p>
                </div>
               
            </div>
        </div>

      
    </div>

    <div class="row web_second_row">
        <div class="col-8 web_background_image">
         <div class="row">
            <div class="col-2 web_col_left">
                <img class="web_my_trophy" (click)="navigateAchievementshelf()" src="{{interactive_dashoard_response[0].data.theme_details[0].my_trophy}}"/>
                <img class="web_my_rewards" (click)="navigateReward()" src="{{interactive_dashoard_response[0].data.theme_details[0].my_rewards}}"/>
                <img class="web_third_umpire" (click)="navigateToNotification()" src="{{interactive_dashoard_response[0].data.theme_details[0].third_umpire_bt}}"/>
            </div>

            <div class="col-8 d-flex justify-content-center align-items-end">
                <img class="web_character" src="{{interactive_dashoard_response[0].data._personal_data.skillmuni}}"/>
            </div>

            <div class="col-2 d-flex justify-content-end web_col_right">
                <img class="web_spectator_view" (click)="navigateToSpectatorView()" src="{{interactive_dashoard_response[0].data.theme_details[0].spectator_bt}}"/>
                <img class="web_booster" src="{{interactive_dashoard_response[0].data.theme_details[0].booster_bt}}"/>

            </div>
         </div>
        </div>

        <div class="col-4 web_right_side">
            <div class="upper_blue_scoreboard">
                <div class="row upper_blue_scorecard_details d-flex">

                    <div class="col-3 web_team_rank d-block">
                    
                        <p class="web_tem_rank_number">{{interactive_dashoard_response[0].data._primary.team_rank}}</p>
                        <p class="web_tem_rank_label">Team Rank</p>
                    </div>
                    <div class="col-1 sideline">
                    
                        <img class="web_sideline_image" src="assets/images/interactive-dashboard/Side Line.png"/>

                    </div>

                    <div class="col-3 web_my_score d-block">
                    
                        <p class="web_my_score_number">{{interactive_dashoard_response[0].data._points[0].score}}</p>
                        <p class="web_my_score_label">My Score</p>
                    </div>
                    <div class="col-1 sideline">
                    
                        <img class="web_sideline_image" src="assets/images/interactive-dashboard/Side Line.png"/>

                    </div>

                    <div class="col-3 web_my_rank d-block">
                    
                        <p class="web_my_rank_number">{{interactive_dashoard_response[0].data._primary.my_rank}}</p>
                        <p class="web_my_rank_label">My Rank</p>
                    </div>
                  
                   
                  
                </div>
            </div>

            <div class="lower_blue_scorecard" (click)="navigateDashboard()">
                <div class="row lower_blue_scorecard_details d-flex justify-content-center">
                    <div class="col-3 web_first_measurement d-block"  *ngFor="let points of interactive_dashoard_response[0].data._Point_distribution" >
                        <p class="web_first_measurement_number">{{points.weightage}}</p>
                        <p class="web_first_measurement_label">{{points.point_label}}</p>
                       
                    </div>
                    <!-- <div class="sideline d-flex" >
                    
                        <img class="web_sideline_image" src="assets/images/interactive-dashboard/Side Line.png"/>

                    </div> -->

                    <!-- <div class="col-2 web_first_measurement d-block">
                        <p class="web_first_measurement_number">180</p>
                        <p class="web_first_measurement_label">Runs Saved</p>

                    </div>
                    <div class="col-1 sideline">
                    
                        <img class="web_sideline_image" src="assets/images/interactive-dashboard/Side Line.png"/>

                    </div>

                    <div class="col-2 web_first_measurement d-block">
                        <p class="web_first_measurement_number">280</p>
                        <p class="web_first_measurement_label">Wickets Taken</p>

                    </div>

                    <div class="col-1 sideline">
                    
                        <img class="web_sideline_image" src="assets/images/interactive-dashboard/Side Line.png"/>

                    </div>
                    
                    <div class="col-2 web_first_measurement d-block">
                        <p class="web_first_measurement_number">98</p>
                        <p class="web_first_measurement_label">Fair Play</p>

                    </div> -->
                </div>
            </div>

            <div class="campaign_div">
              
                <div class="row campaign_details">
                    <div class="col-12 campaign_full_image  d-flex justify-content-end align-items-end"> 
                        <div>
                            <div  class="d-flex justify-content-end">
                                <img class="web_campaign_image" src="{{interactive_dashoard_response[0].data.theme_details[0].campaigns_bt_web}}" />

                            </div>
                            <div  class="d-flex justify-content-end">
                                <img class="web_daily_image" src="{{interactive_dashoard_response[0].data.theme_details[0].daily_bt_web}}"  />

                            </div>
                            <div  class="d-flex justify-content-end">
                                <img class="web_weekly_image" src="{{interactive_dashoard_response[0].data.theme_details[0].weekly_bt_web}}" />

                            </div>
                            <div  class="d-flex justify-content-end">
                                <img class="web_monthly_image" src="{{interactive_dashoard_response[0].data.theme_details[0].monthly_bt_web}}" />

                            </div>
                        </div>
                    
                    </div>
                   
                     <!-- <div class="col-1 web_pole">
                        <div  class="d-flex justify-content-start align-items-end">
                            <img class="web_monthly_imae" src="../../../../assets/images/final-interactive-dashboard/web-assets/Web/Web/Cricket/Buttons/POLE.png" />

                        </div>
                    </div>  -->

                </div>
            </div>

        </div>
    </div>
 

    <div class="row web_third_row">
        <div class="col-8">
            <div class="row">
                <div class="col-12 d-flex gap-2 web_buttons_col">
                    <div class="col-3 web_bottom_buttons">
                        <img class="web_button_image" src="{{interactive_dashoard_response[0].data.theme_details[0].champions_league_web}}" />
                    </div>
            
                    <div class="col-3 web_bottom_buttons">
                        <img class="web_button_image" src="{{interactive_dashoard_response[0].data.theme_details[0].personal_milestone_bt_web}}" />
                    </div>
            
                    <div class="col-3 web_bottom_buttons">
                        <img class="web_button_image" src="{{interactive_dashoard_response[0].data.theme_details[0].la_bt_web}}" />
                    </div>
            
                    <div class="col-3 web_bottom_buttons">
                        <img (click)="navigateToPlayZone()" class="web_button_image" src="{{interactive_dashoard_response[0].data.theme_details[0].spot_bt_web}}" />
                    </div>
            
                </div>
            </div>
        </div>
       
    </div>

</div>

<!-- Mobile View Started -->
<div class="mobile-view" *ngFor="let response of interactive_dashoard_response">
    <div class="row">
        <div class="col" >
            <!-- Profile Section -->
            <div class="d-flex justify-content-center">
                <div class="mobile-profile-section">
                    <div class="d-flex justify-content-between">
                        <div class="d-flex gap-2">
                            <div class="mobile-profile-picture">
                                <img src="{{interactive_dashoard_response[0].data._personal_data.profile_logo}}" alt="" width="100%" height="100%">
                            </div>
                            <div class="mobile-profile-info d-flex gap-2 align-items-center">
                                <div class="mobile-profile-name d-flex flex-column">
                                    <p class="mobile_first_name_details">{{interactive_dashoard_response[0].data._personal_data.first_name}} </p>
                                    <p class="mobile_team_name_details">{{interactive_dashoard_response[0].data._personal_data.team_name}}</p>
                                </div>
                                
                            </div>
                        </div>
                        <div class="mobile-reward-section">
                            <div class="text-center">
                                <img src="assets/images/final-interactive-dashboard/mobile-assets/Mobile/Cricket/Buttons/wallet 1.png" alt="" >
                                <div>{{interactive_dashoard_response[0].data._points[2].score}}</div>
                            </div>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <!-- Mobile First ScoreBoard Section -->
            <div class="d-flex justify-content-center">
                <div class="mobile-first-section d-flex justify-content-evenly align-items-center">
                    <div class="mobile-team-rank text-center col-4 border2px" >
                        <div>{{interactive_dashoard_response[0].data._primary.team_rank}}</div>
                        <div class="mobile-sub-name">Team Rank</div>
                    </div>
                    <div class="text-center col-4 border2px">
                        <div class="mobile-my-score">
                            {{interactive_dashoard_response[0].data._points[0].score}}
                        </div>
                        <div class="mobile-sub-name">
                            My Score
                        </div>
                        
                    </div>
                    <div class="mobile-myRank text-center col-4">
                        <div>{{interactive_dashoard_response[0].data._primary.my_rank}}</div>
                        <div class="mobile-sub-name">My Rank</div>
                    </div>
                </div>
            </div>
            <!-- mobile second section -->
            <div class="d-flex justify-content-center" (click)="navigateDashboard()">
                <div class="mobile-second-section d-flex flex-column justify-content-around">
                    <div class="mobile-title text-center">
                        <span> {{interactive_dashoard_response[0].data._personal_data.game_name}}</span>
                    </div>
                    <div class="d-flex justify-content-center mobile_point_distribution">
                        <div *ngFor="let points of interactive_dashoard_response[0].data._Point_distribution"  class="mobile-runs-scored text-center col-3 border2px"  >
                            <div>{{points.weightage}}</div>
                            <div class="mobile-sub-name">{{points.point_label}}</div>
                        </div>
                        <!-- <div  class="mobile-runs-saved text-center col-3 border2px">
                            <div>0050</div>
                            <div class="mobile-sub-name">Runs Saved</div>
                        </div>
                        <div  class="mobile-wickets-taken text-center col-3 border2px">
                            <div>0050</div>
                            <div class="mobile-sub-name">Wickets Taken</div>
                        </div>
                        <div  class="mobile-fair-play text-center col-3">
                            <div>0050</div>
                            <div class="mobile-sub-name">Fair Play</div>
                        </div> -->
                    </div>

                </div>
            </div>
            <!-- mobile btn section -->
            <div class="d-flex justify-content-center">
                <div class="mobile-btn-section">
                    <div>
                        <img src="{{interactive_dashoard_response[0].data.theme_details[0].la_bt}}" alt="Learning_Academy" width="90%" >
                    </div>
                    <div>
                        <img src="{{interactive_dashoard_response[0].data.theme_details[0].personal_milestone_bt}}" alt="Personal_Milestone" width="90%">
                    </div>
                   <div>
                        <img (click)="navigateToPlayZone()" src="{{interactive_dashoard_response[0].data.theme_details[0].spot_bt}}" alt="PlayZone" width="90%" >
                   </div>
                    
    
                </div>
            </div>
                
           
            <div class="col  d-flex justify-content-center align-items-center" >
                <div class="row mobile-cricket-pitch">
                    <div class="col-3 d-flex flex-column justify-content-between align-items-center p-2">
                        <div class="d-flex flex-column justify-content-between gap-1">
                            <div class="mobile-my-trophy">
                                <img (click)="navigateAchievementshelf()" src="{{interactive_dashoard_response[0].data.theme_details[0].my_trophy}}" alt="my-trophy" width="80%" height="90%">
                            </div>
                            <div class="mobile-my-rewards">
                                <img (click)="navigateReward()" src="{{interactive_dashoard_response[0].data.theme_details[0].my_rewards}}" alt="my-rewards" width="80%" height="90%">
                            </div>
    
                        </div>
                        <div class="d-flex flex-column gap-3">
                            <div class="mobile-tug-war">
                                <img src="{{interactive_dashoard_response[0].data.theme_details[0].champions_league_bt}}" alt="tug-of-war" height="100%">
                                
                            </div>
                            <div class="mobile-3rd-umpire">
                                <img (click)="navigateToNotification()" src="{{interactive_dashoard_response[0].data.theme_details[0].third_umpire_bt}}" alt="3rd-Umpire" width="100%" height="90%">
                            </div>
                        </div>
                        

                    </div>
                    <div class="col-6 d-flex justify-content-center align-self-end character-png">
                        <img src="{{interactive_dashoard_response[0].data._personal_data.skillmuni}}" alt="character-png" height="100%" width="100%" >
                    </div>
                    <div class="col-3 d-flex flex-column justify-content-between align-items-center p-2">
                        <div class="mobile-spectator-view">
                            <img (click)="navigateToSpectatorView()" src="{{interactive_dashoard_response[0].data.theme_details[0].spectator_bt}}" alt="spectator-view" height="100%" width="100%">
                        </div>
                        <div class="campaign-buttons d-flex flex-column gap-1 mt-1" >
                            <div>
                                <img src="{{interactive_dashoard_response[0].data.theme_details[0].campaigns_bt}}" alt="CAMPAIGNS" height="100%" width="100%">
                            </div>
                            <div>
                                <img src="{{interactive_dashoard_response[0].data.theme_details[0].Daily}}" alt="Daily" height="100%" width="100%">
                            </div>
                            <div>
                                <img src="{{interactive_dashoard_response[0].data.theme_details[0].Weekly}}" alt="WEEKLY" height="100%" width="100%">
                            </div>
                            <div>
                                <img src="{{interactive_dashoard_response[0].data.theme_details[0].Monthly}}" alt="Monthly" height="100%" width="100%">
                            </div>

                        </div>
                        <div class="mobile-booster">
                            <img src="{{interactive_dashoard_response[0].data.theme_details[0].booster_bt}}" alt="Booster" height="90%" width="100%">
                        </div>
                    </div>
                    
                   
    
                </div>
              
    
            </div>
          
           
        </div>
    </div>
   

</div>

























































































































































































































<!-- <div class="container-fluid">
    <div class="row" *ngFor="let response of interactive_dashoard_response">
        <div class="col-12 box">

            <mat-card class="image-container">

                <div class="first_row">
                    <div class="my_name">
                        <p> My Name</p>
                    </div>
                    <div class="team_name">
                        <p> Team Name</p>
                    </div>
                </div>

                <div class="second_row">
                    <div class="my_name_details">
                        {{interactive_dashoard_response[0].data._personal_data.first_name}}
                    </div>
                    <div class="team_name_details">
                        {{interactive_dashoard_response[0].data._personal_data.team_name}}
                    </div>
                </div>


                <div class="profile_pic" (click)="navigateToProfile()">
                    <img class="prof_src" src="{{interactive_dashoard_response[0].data._personal_data.profile_logo}}"
                        alt="profile" />
                </div>

                <div class="league_name">
                    <div class="leauge_name_details">
                        {{interactive_dashoard_response[0].data._personal_data.game_name}}

                    </div>
                </div>

                <div class="trophyAndRewards">
                    <div class="myTrophy" (click)="navigateAchievementshelf()">
                        My Trophy
                        <img class="trophy_img" src="assets/images/interactive-dashboard/my trophy icon.png" />

                    </div>

                    <div class="myRewards" (click)="navigateReward()">
                        <img class="trophy_img" src="assets/images/interactive-dashboard/reward icon.png" />

                        My Reward

                    </div>
                    <div class="rewardsPoints">
                        <img class="rewards_points"
                            src="assets/images/interactive-dashboard/reward points icon 1.png" />

                        <p class="reward_total_points"> {{interactive_dashoard_response[0].data._points[2].score}}</p>
                        <p class="reward">Reward Points</p>

                    </div>
                </div>


                <div class="details_box" (click)="navigateDashboard()">
                    <div class="title_interactive">
                        <p class="team_rank">TEAM RANK</p>
                        <p class="my_score">MY SCORE</p>
                        <p class="my_rank">MY RANK</p>

                    </div>
                    <div class="title_details">
                        <p class="team_rank_details">{{interactive_dashoard_response[0].data._primary.team_rank}}</p>
                        <p class="my_score_details">{{interactive_dashoard_response[0].data._points[0].score}}</p>
                        <p class="my_rank_details">{{interactive_dashoard_response[0].data._primary.my_rank}}</p>

                    </div>

                    <div class="row grid_circle">
                        <div class="col-md-3 dot"
                            *ngFor="let points of interactive_dashoard_response[0].data._Point_distribution">
                            <p class="run_scored">{{points.weightage}}</p>
                            <div class="run_scored_box">
                               
                                <p class="text_run_scored">{{points.point_label}}</p>
                            </div>
                        </div>


                    </div>

                </div>


                <div>
                    <img class="backround_image" id="img_id"
                        src="{{interactive_dashoard_response[0].data._personal_data.skillmuni}}" usemap="#auto" />
                    <map name="auto" id="auto">

                        <div *ngFor="let part of auto_parts; let k=index">
                            <div
                                *ngIf="part.type == 'Play Zone' || part.type == 'Lerning Academy' || part.type == 'ChampionsLeague' || part.type == '3rd umpire' || part.type == 'spectr' ; then withoutModal; else withModal">
                               
                            </div>
                            <ng-template #withoutModal>
                                <area shape="{{part.shape}}" coords="{{part.coords}}" (click)="partClicked(part,k)"
                                    data-id="k" title="part.type" href="javascript:void(0);"
                                    onmouseover="document.getElementById('img_id').style.cursor='pointer';"
                                    onmouseout="document.getElementById('img_id').style.cursor='';" />
                            </ng-template>
                            <ng-template #withModal>
                                <div *ngIf="part.type == 'PersonalMileStone' ">
                                    <area shape="{{part.shape}}" coords="{{part.coords}}" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop1" (click)="partClicked(part,k)" data-id="k"
                                        title="part.type" href="javascript:void(0);"
                                        onmouseover="document.getElementById('img_id').style.cursor='pointer';"
                                        onmouseout="document.getElementById('img_id').style.cursor='';" />
                                </div>


                                <div *ngIf="part.type == 'Daily' ">
                                    <area shape="{{part.shape}}" coords="{{part.coords}}" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop2" (click)="partClicked(part,k)" data-id="k"
                                        title="part.type" href="javascript:void(0);"
                                        onmouseover="document.getElementById('img_id').style.cursor='pointer';"
                                        onmouseout="document.getElementById('img_id').style.cursor='';" />
                                </div>

                                <div *ngIf="part.type == 'Weekly'">
                                    <area shape="{{part.shape}}" coords="{{part.coords}}" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop3" (click)="partClicked(part,k)" data-id="k"
                                        title="part.type" href="javascript:void(0);"
                                        onmouseover="document.getElementById('img_id').style.cursor='pointer';"
                                        onmouseout="document.getElementById('img_id').style.cursor='';" />
                                </div>
                                <div *ngIf="part.type == 'Monthly'">
                                    <area shape="{{part.shape}}" coords="{{part.coords}}" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop4" (click)="partClicked(part,k)" data-id="k"
                                        title="part.type" href="javascript:void(0);"
                                        onmouseover="document.getElementById('img_id').style.cursor='pointer';"
                                        onmouseout="document.getElementById('img_id').style.cursor='';" />
                                </div>

                                <div *ngIf="part.type == 'Booster' ">
                                    <area shape="{{part.shape}}" coords="{{part.coords}}" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop5" (click)="partClicked(part,k)" data-id="k"
                                        title="part.type" href="javascript:void(0);"
                                        onmouseover="document.getElementById('img_id').style.cursor='pointer';"
                                        onmouseout="document.getElementById('img_id').style.cursor='';" />
                                </div>

                            </ng-template>
                        </div>
                    </map>
                </div>

            </mat-card>

        </div>

    </div> 


    <div class="PersonalMilestoneModal">
        <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content passbookModal">
                    <div class="modal-body">
                        <div *ngFor="let part_img of auto_parts">
                            <div *ngIf="part_img.type == 'PersonalMileStone'" style="position:relative;">

                                <img src="https://coroebus.in/coroebus-beta/assets/Media/personal_milestone.png" />
                                <div>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>

                                </div>
                            </div>
                        </div>



                      
                    </div>
                
             
    
            </div> 
                </div>
            </div>
        </div>
    </div> 







    <!-- DailyModal -->
    <!-- <div class="DailyModal" >
        <div class="modal  fade bd-example-modal-sm" id="DailyModal" data-bs-backdrop="static" data-bs-keyboard="false"
            tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modalDialogDaily modal-dialog-centered">
                <div class="modal-content "
                    style="background: url(assets/images/interactive-dashboard/BG.png);position: relative; background-size:contain;">
                    <div class="modal-body"
                        style="background-image:url(https://coroebus.in/coroebus-beta/assets/Media/Daily_champion.svg); background-repeat: no-repeat; background-size:contain; position:ralative;">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="button-close" data-bs-dismiss="modal"
                                aria-label="Close">X</button>
                        </div>
                        <div class="popupheight popupDaily row d-flex" *ngIf="interactive_dashoard_response[0].data.seasonal_theme_daily.length>0" >
                            <div class="d-flex justify-content-between  mb-2 p-1">
                                <div class="ModalHeading">
                                    {{interactive_dashoard_response[0].data.seasonal_theme_daily[0].seasonal_theme_title}}
                                </div>
                               
                            </div>
                            <div class="mt-2 " style="height: 200px;">
                                <div class="modalDescription col-11">
                                    {{interactive_dashoard_response[0].data.seasonal_theme_daily[0].theme_description}}
                                    
                                </div>
    
                                <div class="modalDescription d-flex justify-content-start p-1 mt-2">
    
                                    <div> Valid Till
                                        :{{interactive_dashoard_response[0].data.seasonal_theme_daily[0].valid_till_date |
                                        date:"dd/M/yyyy"}}</div>
                                </div>
                            </div>
    
                            <div class="d-flex flex-column justify-content-center align-items-center ms-4">
                                <div class="firstCircle centerCircle">
                                    <div class="secondCircle centerCircle">
                                        <div class="thirdCircle centerCircle">
                                            <div class="forthCircle">
                                                <img src="{{interactive_dashoard_response[0].data.seasonal_theme_daily[0].logo}}"
                                                     alt=""
                                                     height="52"
                                                     width="52"
                                                     style="border-radius: 50%;">
                                            </div>
                                          
                                            <div class="row">
                                                <div class="col p-1">
                                                    <div class="rewardPintImg">
                                                        <img class="imgSIze-17"
                                                             src={{interactive_dashoard_response[0].data.seasonal_theme_daily[0].reward_points_image}} /> <span style="color: #FFFFFF;"> {{interactive_dashoard_response[0].data.seasonal_theme_daily[0].reward_point}}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                                
                            <div class="card" style="margin-top:20%;">
                                <div class="Progress-card container">
                                    <div class="">
                                        <div *ngFor="let item of dailyToppers">
                                            <div class="row">
                                                <div class="col-5">Achieved:{{item.seasonal_score_achived}}</div>
                                                <div class="col-5" style="text-align:end;">
                                                    Target:{{item.seasonal_score_target}} </div>
                                            </div>
    
                                            <div class="row" *ngIf="item.length !=0">
                                                <div class="col-10" style="padding:14px 7px 0px 0px;">
                                                   
                                                    <progress id="file" class="range rangeBgcolor"
                                                        value="{{item.seasonal_score_percentage}}" max="100">
                                                        {{item.seasonal_score_percentage}}% </progress>
                                                </div>
                                                <div class="col-2">
                                                    <img src="{{item.seasonal_badge_logo}}" alt="loading" height="38"
                                                        width="39" style="border-radius: 50%;">
                                                </div>
                                            </div>
    
                                        </div>
                                        <div *ngIf="dailyToppers.length == 0">
                                            <div>
                                                <div class="row">
                                                    <div class="col">
                                                        <span class="welcomeText">
                                                            Hey welcome! The themes will be configured soon. Stay tuned!
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                                
    
    
                            
    
    
                        </div>
                        <div class="row d-flex justify-content-center align-items-end " style="height:35vh;" *ngIf="interactive_dashoard_response[0].data.seasonal_theme_daily.length==0">
                            <div class="col text-center">
                                <span>Hey Welcome! The Themes will be configured soon. Stay tuned </span>
                            </div>
                        </div>
                        
                       
                    </div>
                    
                </div>
            </div>
        </div>
    </div> 
 -->









    <!-- Weekly Modal Started -->
    <!-- <div class="weeklyModal" >
        <div class="modal  fade bd-example-modal-sm" id="staticBackdrop3" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true" >
            <div class="modal-dialog modalDialogWeekly modal-dialog-centered" >
                <div class="modal-content modalContentWeekly" style="background: url(assets/images/interactive-dashboard/BG.png);position: relative; background-size:contain;"   >
                    <div class="modal-body" style="background-image:url(https://coroebus.in/coroebus-beta/assets/Media/weekly_champion.svg); background-repeat: no-repeat; background-size: contain; position:ralative;">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="button-close" data-bs-dismiss="modal"
                                aria-label="Close">X</button>
                        </div>
                        <div class="row d-flex" *ngIf="interactive_dashoard_response[0].data.seasonal_theme_weekly.length>0" >
                            <div class="d-flex justify-content-between  mb-1 p-1">
                                <div class="ModalHeading" >{{interactive_dashoard_response[0].data.seasonal_theme_weekly[0].seasonal_theme_title}}</div>
                                
                            </div>
                            <div class="mb-3">
                                <div  class="modalDescription col-11" >
                                    {{interactive_dashoard_response[0].data.seasonal_theme_weekly[0].theme_description}}
                                </div>
                               
                                <div class="modalDescription d-flex justify-content-between p-1 mt-2">
                                    <div > Valid From : 22/09/2022</div>
                                    <div> Valid Till :{{interactive_dashoard_response[0].data.seasonal_theme_weekly[0].valid_till_date | date:"dd/M/yyyy"}}</div>
                                </div>
                            </div>
                          
                            <div class="mt-5">
                                <div class="d-flex justify-content-center">
                                    <img src="interactive_dashoard_response[0].data.seasonal_theme_weekly[0].logo" alt="master_blaster">
                                </div>

                                <div class="d-flex justify-content-center mt-2">
                                    <button class="btn-reward d-flex justify-content-center align-items-center p-1 gap-1" >
                                        <div>
                                            <img src="assets/images/interactive-dashboard/reward points icon 1.png" alt="">
                                        </div>
                                        <div>{{interactive_dashoard_response[0].data.seasonal_theme_weekly[0].reward_point}}</div>
                                    </button>
                                    
                                </div>
                                <div class="d-flex justify-content-center gap-2 mt-1">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="Number">{{interactive_dashoard_response[0].data.seasonal_theme_weekly_badge_details[0].your_rank}}</div>
                                        <div class="Words">Your Rank</div>
                                    </div>
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="Number">{{interactive_dashoard_response[0].data.seasonal_theme_weekly_badge_details[0].your_score}}</div>
                                        <div class="Words">Your Score</div>
                                    </div>
                                </div>
                                <div class="mt-3 mb-2">
                                   <span class="Top5">Top 5 performers who have won the badge</span> 
                                   &nbsp;
                                   <span class="infoIcon">&#x24D8;</span>
                                </div>
                           
                                    <div class="col-12 card-container d-flex gap-2 " style="overflow-x:auto;" *ngIf="weeklyTopers.length!=0">
                                        <div class="card col-4 p-2 gap-2" *ngFor="let topper of weeklyTopers" style="background: #D9FFDE;">
                                            <div >
                                                <div class="pic" >
                                                    <img src="{{topper.profile_mage}}" alt="image" height="40px" width="40px"  >
                                                </div>
                                                <div class="name">{{topper.first_name.slice(0,10)}}...</div>
                                                <div class="rank">Rank:{{topper.user_rank}}</div>
                                                <div class="score">{{topper.score}}</div>
                                            </div>
                                            
                                        </div>
                                        
                                       
                                        
                                    </div>
                                    <div class="card  p-2 gap-2" *ngIf="weeklyTopers.length==0">
                                               
                                        <span class="welcomeText">
                                            Hey welcome! The themes will be configured soon. Stay tuned!
                                        </span>
                                    
                                    </div>
                                    
                                
                               
                            </div>


                        </div>
                        <div class="row d-flex justify-content-center align-items-end" style="height:35vh;" *ngIf="interactive_dashoard_response[0].data.seasonal_theme_weekly.length==0">
                            <div class="col text-center">
                                <span>Hey Welcome! The Themes will be configured soon. Stay tuned </span>
                            </div>
                        </div>
                         -->
                    <!-- </div> -->
                    <!-- <div class="modal-footer">
             
    
            </div> -->
                <!-- </div>
            </div>
        </div>
    </div> -->
    <!-- Monthly Modal -->
    <!-- <div class="monthlyModal">
        <div class="modal  fade bd-example-modal-sm" id="staticBackdrop4" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true" >
            <div class="modal-dialog modalDialogMonthly modal-dialog-centered ">
                <div class="modal-content modalContentMonthly" style="background: url(assets/images/interactive-dashboard/BG.png);position: relative; background-size:contain;"   >
                    <div class="modal-body" style="background-image:url(https://coroebus.in/coroebus-beta/assets/Media/monthly_champion.svg); background-repeat: no-repeat; background-size: contain; position:ralative;">
                        <div class="d-flex justify-content-end">
                            <button type="button" class="button-close" data-bs-dismiss="modal"
                                aria-label="Close">X</button>
                        </div>
                        <div class="row d-flex" *ngIf="interactive_dashoard_response[0].data.seasonal_theme_weekly.length>0">
                            <div class="d-flex justify-content-between  mb-1 p-1">
                                <div class="ModalHeading" style="color:#ffff">{{interactive_dashoard_response[0].data.seasonal_theme_monthly[0].seasonal_theme_title}}</div>
                                
                            </div>
                            <div class="mb-3" >
                                <div   class="modalDescription col-11" style="color:#ffff" >
                                    {{interactive_dashoard_response[0].data.seasonal_theme_monthly[0].theme_description}}
                                </div>
                               
                                <div class="modalDescription d-flex justify-content-between p-1 mt-1" style="color:#ffff">
                                    <div > Valid From : 22/09/2022</div>
                                    <div> Valid Till :{{interactive_dashoard_response[0].data.seasonal_theme_weekly[0].valid_till_date | date:"dd/M/yyyy"}}</div>
                                </div>
                            </div>
                          
                            <div class="mt-5">
                                <div class="d-flex justify-content-center">
                                    <img src="interactive_dashoard_response[0].data.seasonal_theme_monthly[0].logo" alt="">
                                </div>

                                <div class="d-flex justify-content-center mt-2">
                                    <button class="btn-reward d-flex justify-content-center align-items-center p-1 gap-1" >
                                        <div>
                                            <img src="assets/images/interactive-dashboard/reward points icon 1.png" alt="">
                                        </div>
                                        <div>{{interactive_dashoard_response[0].data.seasonal_theme_monthly[0].reward_point}}</div>
                                    </button>
                                    
                                </div>
                                <div class="d-flex justify-content-center gap-2 mt-2">
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="Number">{{interactive_dashoard_response[0].data.seasonal_theme_monthly_badge_details[0].your_rank}}</div>
                                        <div class="Words">Your Rank</div>
                                    </div>
                                   
                                    <div class="d-flex flex-column align-items-center">
                                        <div class="Number">{{interactive_dashoard_response[0].data.seasonal_theme_monthly_badge_details[0].your_score}}</div>
                                        <div class="Words">Your Score</div>
                                    </div>
                                </div>
                                <div class="mt-3 mb-2" >
                                   <span class="Top5">Top 5 performers who have won the badge</span> 
                                   &nbsp;
                                   <span class="infoIcon">&#x24D8;</span>
                                </div >
                           
                                    <div class="col-12 card-container d-flex gap-2 " style="overflow-x:auto;color:#ffff" *ngIf="weeklyTopers.length!=0">
                                        <div class="card col-4 p-2 gap-2" *ngFor="let topper of monthlyTopers" style="background: linear-gradient(180deg, #608CDF 0%, #62B8E9 100%);">
                                            <div class="pic">
                                                <img src="{{topper.profile_mage}}" alt="image" height="40px" width="40px"  >
                                            </div>
                                            <div class="name">{{topper.first_name.slice(0,10)}}...</div>
                                            <div class="rank">Rank:{{topper.user_rank}}</div>
                                            <div class="score">{{topper.score}}</div>
                                        </div>
                                        
                                    </div>
                                    <div class="card  p-2 gap-2" *ngIf="weeklyTopers.length==0">
                                               
                                        <span class="welcomeText">
                                            Hey welcome! The themes will be configured soon. Stay tuned!
                                        </span>
                                    
                                    </div>
                                
                               
                            </div>


                        </div>
                        <div class="row d-flex justify-content-center align-items-end" style="height:35vh;" *ngIf="interactive_dashoard_response[0].data.seasonal_theme_weekly.length==0">
                            <div class="col text-center">
                                <span>Hey Welcome! The Themes will be configured soon. Stay tuned </span>
                            </div>
                        </div>
                      
                    </div>
                
                </div>
            </div>
        </div>
    </div>




    <div>
        <div class="modal fade" id="staticBackdrop5" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered ">
                <div class="modal-content">
                    <div class="modal-body modalBodyBooster">
                        <div style="position:relative;">

                            <img src="https://coroebus.in/coroebus-beta/assets/Media/Booster.png" />
                            <div>
                                <button type="button" class="btn-close closeBooster" data-bs-dismiss="modal"
                                    aria-label="Close"></button>

                            </div>


                        </div>

                    </div>
                </div>
            </div> -->
        <!-- </div>
    </div> -->