// Web-view started

.web-view {
    background: linear-gradient(var(--myvar));
    height: 100vh;
    width: 100vw;
    background-size: 100% 100%;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    overflow: hidden;
}

.web_first_row {
    height: 10vh;
    width: 98vw;
}


.web_profile_pic {
    height: 9vh;
    width: 90%;
    border: 1px solid #FEEE1E;
}

.web_profile_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 1em;
    cursor: pointer;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* identical to box height */
    color: #FFFFFF;
}

.web_team_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
  
    /* identical to box height */
    color: #FFFFFF;
    line-height: 0;
    font-size: 2vh;
}


.web_second_col {
    vertical-align: middle;
    margin: auto 0;
    padding: 0;
}

.web_logo {
    height: 5vh;
}

.web_points {
    height: 4vh;
}

.total_web_points {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2vh;
    font-weight: 400;
    color: #000000;
}

.web_points_bg {
    background: #FEEE1E;
    border: 4px solid #FEEE1E;
    height: 8vh;
    min-width: 6vw;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.web_second_row {
    height: 70vh;
    padding: 0.5em;
    display: flex;
}

.web_third_row {
    height: 15vh;
    padding: 0.5em;
    display: flex;
}

.web_center_div{
    text-align: center;
}



.web_my_trophy {
    height: 10vh;
    margin-top: 1em;
    cursor: pointer;
    border: 1px solid #FEEE1E;
}

.web_my_rewards {
    height: 10vh;
    margin-top: 1em;
    cursor: pointer;
    border: 1px solid #FEEE1E;

}

.web_col_left {
    height: 65vh;
}

.web_third_umpire {
    height: 14vh;
    position: absolute;
    bottom: 0.2em;
    left: 0.5em;
    cursor: pointer;
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.web_booster {
    height: 14vh;
    position: absolute;
    bottom: .2em;
    right: 0.5em;
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
 
   
}

.web_right_side {
    height: 85vh;
    padding-right: 0;
}

.web_character {
    height: 37vh;
    padding-bottom: 1em;
    padding-left: 3em;

}

.web_spectator_view {
    height: 14vh;
    cursor: pointer;
    padding-top: 1em;
}

.web_col_right {
    height: 65vh;
}


.upper_blue_scoreboard {
    height: 15vh;
    background: #004EC9;
    border-radius: 4px;
    margin-top: 0.5em;

}

.lower_blue_scorecard {
    height: 15vh;
    background: #004EC9;
    border-radius: 4px;
    margin-top: 0.5em;
    cursor: pointer;
}



.lower_blue_scorecard,
.lower_blue_scorecard_details {
    height: 15vh;
   width: 100%;
   margin-left: 0;
}

.upper_blue_scorecard_details{
    height: 15vh;
    margin-left: 2vh;
}
.lower_blue_scorecard_details{
  
  
    margin-top: 0;
    margin-bottom: 0;
}

.lower_blue_scorecard_details :nth-child(4) {
    border-right: none;

}



.web_team_rank,
.web_my_score,
.web_first_measurement {
    vertical-align: middle;
    margin: auto 0;
    // border-right: 2px solid #ffffff;
    // height: 12vh;
}

.web_first_measurement{
    border-right: 2px solid #ffffff;
}

.sideline{
    display: flex;
    align-items: center;
    height: 84v;
    /* height: 84%; */
    height: 15vh;
}

.web_sideline_image{ 
    height: 80%;
}
.web_my_rank {
    vertical-align: middle;
    margin: auto 0;
}

.web_tem_rank_number,
.web_my_rank_number,
.web_first_measurement_number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
    

}

.web_my_score_number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    text-align: center;
    color: #FEED12;
    margin-bottom: 0;

}

.web_tem_rank_label,
.web_my_score_label,
.web_my_rank_label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 0.9em;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.web_first_measurement_label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vh;
    text-align: center;
    color: #FFFFFF;

}


.web_campaign_image {
    width: 80%;
    height: 10vh;

}

.campaign_details {
    margin-top: 9vh;
    padding-right: 1em;
}

.web_daily_image,
.web_weekly_image,
.web_monthly_image {
    width: 80%;
    height: 10vh;
    margin-top: 2vh;
}

.campaign_full_image {
    height: 44.5vh;
    padding-right: 0;
    border-right: 10px solid #ffffff;
}

.web_pole {
    padding: 0;

}

.web_button_image {
    height: 15vh;
    width: 85%;
    cursor: pointer;
}

.web_buttons_col {
    // width: 66vw;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width:270px) and (max-width:959.9px) {
    .web-view {
        display: none;
    }
    .dailyCenterCircle{
        height: 14vh;
    }
 
}

// Mobile View Started

.mobile-view {
    background: linear-gradient(var(--myvar));
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;
    
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center;
    box-sizing: border-box;
    overflow: hidden; 
}
.mobile-profile-section {
   margin-top: 2vh;
   width: 88vw;
   height: 10vh;
}

.mobile-profile-picture {
    box-sizing: border-box;
    width: 15vw;
    height: 8vh;
    border: 2px solid #FEED10;
    border-radius: 10px;
}

.mobile-profile-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 4vw;
    cursor: pointer;;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
}
.MobileimageBorder{
    border: 1px solid yellow;
    border-radius: 5px;
}
.mobile_first_name_details{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 36vw;
    margin-bottom: 0;
}

.mobile_team_name_details{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 36vw;
    margin-bottom: 0;
}
.mobile-reward-section {
    width: 15vw;
    height: 8vh;
    font-weight: 700;
    background: #FEEE1E;
    border: 2px solid #FEEE1E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-first-section {
    background: #004EC9;
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4vw;
    opacity: 0.8;
    border-radius: 10px;
    height: 10vh;
    width: 90vw;
    padding: 2%;
    margin-top: 1vh;
    margin-bottom: 1vh;
   

}

.mobile-second-section {
    background: #004EC9;
    opacity: 0.8;
    font-family: 'Inter';
    font-style: normal;
    color:#ffff;
    font-weight: 700;
    font-size: 4vw;
    border-radius: 10px;
    height:14vh;
    padding: 2%;
    width: 90vw;

}

.mobile-btn-section {
    height: 7vh;
    margin-top: 2vh;
    width: 88vw;
    display: flex;
    justify-content:space-around;
    align-items: center;
}



.character-png{
    height: 40vh;
    margin-bottom: 2vh;
}

.mobile-title{
    border-bottom: 1px solid white;
}

.mobile-my-trophy,.mobile-my-rewards,.mobile-spectator-view{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15vw;
    height: 6vh;
    
}
.mobile-my-score{
    color: #FEED12
}
.campaign-buttons{
    height: auto;
    width: 18vw;
    border-right: 2px solid #ffffff;
}

.mobile-tug-war {
    width: 15vw;
    height: 6.7vh;

}

.mobile-sub-name{
        font-family: 'Inter';
        font-style: normal;
        font-weight: 700;
        font-size: 2.5vw;
        line-height: 15px;
}

.border2px{
    border-right: 2px solid #ffff;
}

.border2px:last-child{
    border-right: none;
}
.mobile-booster>img{
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
    padding-bottom: .2em;
}
.mobile-3rd-umpire>img{
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
   
    padding-bottom: .2em;

}

// .mobile-my-trophy ,.mobile-my-rewards ,.mobile-tug-war, .mobile-3rd-umpire{
//     height: 10vh;
// }

// @media (orientation: landscape) {
//     .mobile-view {
//       display: none;
//     }
    
//   }

@media screen and (min-width:960px)  {
    .mobile-view {
        display: none;
    }
    .dailyCenterCircle{
        height: 23vh;
    }


}

// Modal CSS 
.modal-content{
    background-color: transparent;
    border: none;
    // margin-left:14%;
    // margin-top: 15%;
    // width: 72%;
    border-radius: 10px;
}

.modalBodyBooster{
    display:flex;
    justify-content: center;
}


.closeBooster{
    position:absolute;
    top: 10px;
    right: 10px;
}


.PersonalMilestoneModal
{
    .modal-body{
        display:flex;
        justify-content: center;
    }


    .modal-content{
        background-color: transparent;
        border: none;
    }

    .btn-close{
        position: absolute;
        right: 10px;
        /* right: 100px; */
        top: 10px;
    }
}
// CSS For Weekly Modal


::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.3em;
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: scroll;
    border-radius: 10px;
    background: #bbb;
}
.WeeklyModal{


    .modal-body{
        display:flex;
        justify-content: center;
        background-image: url('../../../../assets/images/interactive-dashboard/BG.png');


    }


}
.ModalHeading{


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #252525;
}
.modalDescription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}
.btn-reward{
    width: 79px;
    height: 25px;
    font-family: "Inter";
    border: none !important;
    background-color: #D9FFDE !important;
    border-radius: 3px;

}
.Number{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 32px !important;
    line-height: 41px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #252525;
}
.button-close{
    border-radius: 100%;
    color: #000000;
    background: transparent;
}
.Top5{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}
.infoIcon{
    width: 20px;
    height: 20px;
    border: 2px,solid ,#000000;
}
.card-container{
    position: relative;
    overflow-x: auto;
    .card{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;

        .pic>img{
            border-radius: 100%;
        }

        .name .rank .score{
            font-family: 'Inter';
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;
            width: 10vw;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


// Dail Modal CSS


.centerCircle {
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.firstCircle {
    background-color: #DCDCDC;
    border: 1px solid black;
    height: 135px;
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    width: 96px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    // top: -8vh;
    // left: 35%;
    border: 9px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(white, white), linear-gradient(30deg, lightgray 36%, lightgrey 30%), linear-gradient(154deg, brown 75%, lightgrey 30%), linear-gradient(300deg, lightgray 36%, lightgrey 30%), linear-gradient(210deg, lightgray 36%, lightgrey 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
}

.secondCircle {
    background-color: #5ABC07;
    height: 116px;
    width: 84px;
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.thirdCircle {
    background-color: #5ABC07;
    border: 1px solid #ffffff;
    height: 105px;
    width: 73px;
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forthCircle {

    background-color: #E1E1E1;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /* border: 1px solid black; */
    height: 52px;
    width: 52px;

}

.circle1 {
    position: fixed;
    right: 18px;
}



.range {
    width: 100%;
}
.rangeBgcolor {
    accent-color: #38B200;
}




.box {
    display: flex;
    justify-content: center;
    align-items: start;

    margin-top: -24px;
    position: absolute;
    /* height: 108vh; */
    // height: 1280px;
    // height: 106vh;

    /* padding-bottom: 0; */
}

// .image-container {
//     width: 360px;
//     height: 801px;
//     padding: 0;
//     margin-top: -50px;
// }
.prof_src{
    width: 80px;
    border-radius: 100%;
    height: 80px;

}

.image-container{
    width: 360px;
    height: 801px;
    padding: 0;
    margin-top: -39px;
}

.first_row {
    width: 280px;
    height: 30px;
    position: relative;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}


.my_name {
    position: absolute;
    top: -20px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 15px;
}

.team_name {
    position: absolute;
    top: -20px;
    right: 15px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.second_row {
    width: 330px;
    position: absolute;
    top: 144px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 1px solid white;
}


.my_name_details {
    position: absolute;
    top: -20px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 15px;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.team_name_details {
    position: absolute;
    top: -20px;
    right: 15px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.profile_pic {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 9%;
    transform: translate(-50%, 0px);
}

.league_name {
    border-bottom: 25px solid #BF302E;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    width: 220px;
    left: 50%;
    position: absolute;
    top: 19%;
    transform: translate(-50%, 10px);
}

.leauge_name_details {
    position: absolute;
    /* top: -20px; */
    /* right: 15px; */
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    top: 4px;
}

.trophyAndRewards {
    width: 293px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;

}

.myTrophy {
    cursor: pointer;
    position: absolute;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -20px;
}

.trophy_img {
    margin-left: 4px;
}

.myRewards {
    position: absolute;
    cursor: pointer;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -20px;
    right: 4px;
}

.rewardsPoints {
    width: 91px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #ffffff;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}

.rewards_points {
    position: absolute;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    top: -22px;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #951610;
}

.reward_total_points {
    color: #951610;
    position: absolute;
    top: -22px;
    font-size: 8px;
    font-weight: bold;
    right: 0;
    width: 69%;
    text-align: center;
}

.reward {
    position: absolute;
    font-size: 6px;
    top: -12px;
    right: -1px;
    color: #951610;

}

.details_box {
    position: absolute;
    width: 262px;
    height: 146px;
    cursor: pointer;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -2px);
    background: linear-gradient(180deg, #243356 0%, #25385B 46.87%, #2C6691 100%);
}

.team_rank {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
}

.my_score {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
}

.my_rank {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
    margin-right: 15px;
}


.title_interactive {
    display: flex;
    justify-content: space-between;
}


.title_details {
    display: flex;
    justify-content: space-between;
}

.team_rank_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #FFFFFF;
    justify-content: center;
    width: 33%;

}

.my_score_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #F4BD34;
    justify-content: center;
    width: 33%;
    margin-left: 16px;
}

.my_rank_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #FFFFFF;
    justify-content: center;
    width: 33%;
    margin-left: 4px;
}

.dot {
    height: 45px;
    width: 45px;
    background-color: #2787C8;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ffca22;
    left: 12px;
    margin-top: -6px;

}

.run_scored {
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    position: absolute;

    color: #FFFFFF;
    width: -44%;
    /* left: 0; */
    /* top: 9px; */
    left: 50%;
    top: 26%;
    transform: translate(-50%, 0px);
}

.run_scored_box {
    width: 40px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 46px;
    left: 2px;
    background: #2D2C2A;
}

.text_run_scored {
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    width: 91%;
    font-weight: 700;
    font-size: 6.5px;
    line-height: 8px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 4px;
    margin-left: 2px;
    color: #FFFFFF;
}

.grid_circle {
    display: flex;
    justify-content: space-around;
    width: 100%;
}


@media (min-width: 2000px) and (max-width: 2048px){
    .box-container {

        height: 1536px;
        /* padding-bottom: 0; */
    }
}

@media (min-width: 2550px) and (max-width: 2560px){
    .box-container {

        height: 1920px;
        /* padding-bottom: 0; */
    }
}

@media (min-width: 3830px) and (max-width: 3860px){
    .box-container {

        height: 2160px;
        /* padding-bottom: 0; */
    }
}