// Web-view started

.web-view {
    background: linear-gradient(var(--myvar));
    height: 100vh;
    // width: 100vw;
    // background-size: 100% 100%;
    display: block;
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1.5em;
    padding-right: 1.5em;
    overflow: hidden;
}



.web_view_main{
    background: linear-gradient(var(--myvar));
    overflow: hidden;
}
.web_first_row {
    height: 10vh;
    // width: 98vw;
}


.web_profile_pic {
    height: 7vh;
    width: 7vh;
    // border: 1px solid #FEEE1E;
    cursor: pointer;
    border-radius: 100%;
}

.web_profile_div{
    border: 1px solid #FEEE1E;
    background: #FEEE1E;
    height: 8vh;
    width: 8vh;
    border-radius: 10px;
}


.web_profile_name {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2vh;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
    margin-top: 1vh;
    width: 12vw;
}

.web_team_name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;

    /* identical to box height */
    color: #FFFFFF;
    line-height: 0;
    font-size: 2vh;
}

.web_sound{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 10px;
    /* padding: 10px; */
    height: 8vh;
    width: 8vh;
    cursor: pointer;

}

.web_sound_image{
   width: 50%;
}
.web_second_col {
    vertical-align: middle;
    margin: auto 0;
    padding: 0;
}

.web_logo {
    height: 5vh;
}

.web_points {
    height: 4vh;
}

.total_web_points {
    text-align: center;
    font-family: 'Inter';
    font-style: normal;
    font-size: 2vh;
    font-weight: 400;
    color: #000000;
}

.web_points_bg {
    background: #FEEE1E;
    border: 4px solid #FEEE1E;
    height: 8vh;
    width: 8vh;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.web_second_row {
    height: 70vh;
    padding: 0.5em;
    display: flex;
}

.web_second_row_tvs{
    height: 83vh;
    padding: 0.5em;
    display: flex;
    align-items: center;
}
.web_third_row {
    height: 15vh;
    padding: 0.5em;
    display: flex;
}

.web_center_div {
    cursor: pointer;
    text-align: center;
}



.web_my_trophy {
    height: 10vh;
    margin-top: 1em;
    cursor: pointer;
    border: 1px solid #FEEE1E;
    border-radius: 10px;
    
}

.web_my_rewards {
    height: 10vh;
    margin-top: 1em;
    cursor: pointer;
    border: 1px solid #FEEE1E;
    border-radius: 10px;

}

.web_col_left {
    height: 65vh;
}

.web_third_umpire {
    height: 12vh;
  
    bottom: 0.5em;
    left: 0.5em;
    cursor: pointer;
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.web_third_umpire_tvs{
    height: 12vh;
    position: absolute;
    bottom: -1em;
    left: 0.5em;
    cursor: pointer;
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.web_booster {
    height: 12vh;
    cursor: pointer;
    bottom: 0.5em;
    right: 0.5em;
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 10vh;
   
}

.web_booster_tvs{
    height: 12vh;
  
    cursor: pointer;
    bottom: -1em;
    right: 0.5em;
    border-radius: 10px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

.web_right_side {
    height: 85vh;
    padding-right: 0;
}

.web_right_side_tvs{
    height: 70vh;
    padding-right: 0;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.web_character {
    height: 47vh;
    padding-bottom: 1em;
    cursor: pointer;

}

.web_spectator_view {
    height: 14vh;
    cursor: pointer;
    padding-top: 1em;
    width: 10vh;
}

.web_col_right {
    height: 65vh;
}

.inner-upper-card{
flex-direction: column;
}

.inner-lower-card{
    flex-direction: column;

}

.upper_blue_scoreboard {
    height: 15vh;
    background: var(--colorback);
    border-radius: 4px;
    margin-top: 0.5em;
    cursor: pointer;

}

.upper_blue_scoreboard_tvs{
    height: 30vh;
    background: var(--colorback);
    border-radius: 8px;
    margin-top: 0.5em;
    cursor: pointer;
    width: 100%;
}

.upper_blue_scorecard_details_tvs{
    height: 15vh;
    width: 100%;
    margin-left: 0;
}

.upper_score_board_header_tvs{
    font-family: "Inter";
    font-style: normal;
    color: #ffff;
    font-weight: 700;
    font-size: 1.5vw;
}
.lower_score_board_header_tvs{
    font-family: "Inter";
    font-style: normal;
    color: #ffff;
    font-weight: 700;
    font-size: 1.5vw;

}

.ok_button{
    position: absolute;
    padding: 10px;
    width: 10vw;
    bottom: 30px;
    left: 50%;
    border-radius: 10px;
    border: none;
    /* border: 1px solid yellow; */
    transform: translate(-50%);

}

.lower_blue_scorecard {
    height: 15vh;
    background: var(--colorback);
    border-radius: 4px;
    margin-top: 0.5em;
    cursor: pointer;
}

.lower_blue_scorecard_tvs{
    height: 30vh;
    background: var(--colorback);
    border-radius: 8px;
    margin-top: 0.5em;
    cursor: pointer;
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 9vh;
    
}

.lower_blue_scorecard_details_tvs{
    height: 19vh;
    width: 100%;
   
}


.lower_blue_scorecard,
.lower_blue_scorecard_details {
    height: 15vh;
    width: 100%;
    margin-left: 0;
}

.upper_blue_scorecard_details {
    height: 15vh;
    
}

.lower_blue_scorecard_details {


    margin-top: 0;
    margin-bottom: 0;
}

.lower_blue_scorecard_detail :nth-child(4) {
    border-right: none;

}

.lower_blue_scorecard_details :nth-child(4) {
    border-right: none;

}

.web_team_rank_tvs{
    margin: auto 0;
    vertical-align: middle;
}

.web_my_score_tvs{
    vertical-align: middle;
    margin: auto 0;
}

.web_team_rank,
.web_my_score,
.web_first_measurement {
    vertical-align: middle;
    margin: auto 0;
    height: 6vh;
    border-right: 2px solid #ffffff;
    // border-right: 2px solid #ffffff;
    // height: 12vh;
}

.web_first_measurement {
    border-right: 2px solid #ffffff;
}

.sideline {
    display: flex;
    align-items: center;
    height: 84v;
    /* height: 84%; */
    height: 15vh;
}

.sideline_tvs{
    display: flex;
    align-items: center;
    height: 84v;
    /* height: 84%; */
    height: 15vh;
    width: 0;
}

.web_sideline_image {
    height: 55%;
}

.web_my_rank {
    vertical-align: middle;
    margin: auto 0;
    height: 6vh;
}

.web_tem_rank_number,
.web_my_rank_number,
.web_first_measurement_number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.web_my_score_number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.5vw;
    text-align: center;
    color: #FEED12;
    margin-bottom: 0;
}

.web_tem_rank_label,
.web_my_score_label,
.web_my_rank_label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vh;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 0;
}

.web_first_measurement_label {
    font-family: "Inter";
    font-style: normal;
    font-weight: 700;
    font-size: 1.3vh;
    text-align: center;
    color: #FFFFFF;
    word-spacing: 100vw;

}


.web_campaign_image {
    width: 20vw;
    // background-color: #A02925;
    height: 10vh;
    border:2px solid black;

}
.campaign-btn-mobile{
    width: 100%;
    height: 4vh;
    border:2px solid black;
    font-size: 0.7em;
    color:#fff;
    // position: relative;
    text-align: center;
}
.campaign_image_arrow_mobile{
    background-size:100% 100%;
    height: 0.6vh;
    width: 100%;
   
    border:1px solid black !important;
}
.mobile_campaign_image{
    width: 100%;
    // background-color: #A02925;
    height: 7vh;
    border:2px solid black;

}

.campaign_details {
    margin-top: 9vh;
    padding-right: 1em;
}

.campaign-button-web{
    height: 11vh;
    width:100%;

}
.web_daily_image,
.web_weekly_image,
.web_monthly_image {
    width: 80%;
    height: 10vh;
    margin-top: 2vh;
    cursor: pointer;
}

.web_daily_div{
    width:100%;
    height: 11vh;
    margin-top: 0.5vh;
    cursor: pointer;

}

.mobile_daily_div{
    width:100%;
    height: 6vh;
  
    cursor: pointer;

}

.web-daily-btn {
    width: 100%;
    height: 9vh;
    margin-top: 0.5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1%;

    .web_daily_gradient{
        width: 100%;
        height: 8vh;
        border-radius: 10px;
        display:flex;
        justify-content: space-between;
        padding: 2%;
        align-items: center;

        .btn-text-daily{
            color: #000;
            font-family: 'Inter';
            // font-size: 1em;
            font-style: normal;
            font-weight: 700;
            padding-left: 2%;
            // height: 100%;

        }
        .lengthy_text{
            font-size: 1em;
            // white-space: nowrap;
        }
        .Small_text{
            font-size: 1.3em;
            

        }


    }
}

.mobile-daily-btn{
    width: 100%;
    height: 6vh;
    margin-top: 0.5vh;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 1%;

    .mobile_daily_gradient{
        width: 100%;
        height: 5vh;
        border-radius: 10px;
        display:flex;
        justify-content: space-between;
        padding: 1%;
        // align-items: center;

        .btn-text-daily{
            color: #000;
            font-family: 'Inter';
            // font-size: 1em;
            font-style: normal;
            font-weight: 700;
            // align-self: center;
            padding-left: 0.5%;
            // height: 100%;

        }
        .lengthy_text{
            font-size: 0.4em;
            // white-space: nowrap;
        }
        .Small_text{
            font-size:0.7em;
            

        }


    }

}
.campaign_full_image {
    height: 44.5vh;
    padding-right: 0;
    border-right: 10px solid #ffffff;
}

.web_pole {
    padding: 0;

}

.web_button_image {
    height: 15vh;
    width: 95%;
    cursor: pointer;
}

.web_buttons_col {
    // width: 66vw;
    padding-left: 0;
    padding-right: 0;
}

@media screen and (min-width:270px) and (max-width:959.9px) {

    .web-view {
        display: none;
    }

    .mobile_sound{
        display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid yellow;
    border-radius: 10px;
    height: 7vh;
    width: 15vw;
    cursor: pointer;
    }

    .dailyCenterCircle {
        height: 14vh;
    }

    .ok_button{
        position: absolute;
        padding: 10px;
        width: 28vw;
        bottom: 20px;
        left: 50%;
        border-radius: 10px;
        border: none;
        /* border: 1px solid yellow; */
        transform: translate(-50%);
    
    }
}

// Mobile View Started

.mobile-view {
    background: linear-gradient(var(--myvar));
    height: 100vh;
    width: 100vw;
    padding: 0;
    margin: 0;

    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center center;
    box-sizing: border-box;
    overflow: hidden;
}

.mobile-profile-section {
    margin-top: 2vh;
    width: 95vw;
    height: 8vh;
}

.mobile-profile-picture {
    box-sizing: border-box;
    width: 15vw;
    height: 8vh;
    border: 2px solid #FEED10;
    border-radius: 10px;
}

.mobile-profile-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    
    cursor: pointer;
    ;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #FFFFFF;
}
.MobileimageBorder{
    border: 1px solid yellow;
    border-radius: 5px;
}
.mobile_first_name_details{
    overflow: hidden;
    text-overflow: ellipsis;
    width: 36vw;
    margin-bottom: 0;
    font-size: 4vw;
}

.mobile_team_name_details {
    overflow: hidden;
    text-overflow: ellipsis;
    width: 36vw;
    margin-bottom: 0;
    font-size: 3.5vw;
}

.mobile-reward-section {
    width: 15vw;
    height: 7vh;
    font-weight: 700;
    background: #FEEE1E;
    border: 2px solid #FEEE1E;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mobile-first-section {
    background: var(--colorback);
    color: white;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 4.5vw;
    opacity: 0.8;
    border-radius: 10px;
    height: 11vh;
    width: 95vw;
    padding: 2%;
    margin-top: 1vh;
    margin-bottom: 1vh;


}

.mobile-second-section {
    background: var(--colorback);
    opacity: 0.8;
    font-family: 'Inter';
    font-style: normal;
    color: #ffff;
    font-weight: 700;
    font-size: 4.5vw;
    border-radius: 10px;
    height: 15vh;
    padding: 2%;
    width: 95vw;

}

.mobile-btn-section {
    height: 7vh;
    margin-top: 1vh;
    margin-bottom:1vh;
    width: 95vw;
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.character-png {
    height: 35vh;
    cursor: pointer;
    // margin-bottom: 1vh;
}

.mobile-title {
    border-bottom: 1px solid white;
}
.mobile-game-title{
    font-size: 4vw;
}
.mobile-my-trophy,
.mobile-my-rewards,
.mobile-spectator-view {
    display: flex;
    justify-content: start;
    align-items: center;
    width: 15vw;
    height: 6vh;

}

.mobile-my-score {
    color: #FEED12
}

.campaign-buttons {
    height: auto;
    width: 18vw;
    border-right: 2px solid #ffffff;
}
.mobile-tug-war {
    width: 15vw;
    margin-left: -6%;
    height: 6vh;

}

.mobile-sub-name {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 2.8vw;
    line-height: 17px;
    word-spacing: 100vw;
}

.mobile-sub-name-upper {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 3.2vw;
    line-height: 15px;
   
}

.border2px {
    border-right: 2px solid #ffff;
}

.border2px:last-child {
    border-right: none;
}
.mobile-booster>img{
    border-radius: 10px;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px
 
}
.mobile-3rd-umpire>img{
    border-radius: 10px;
    // border-bottom-left-radius: 20px;
    // border-bottom-right-radius: 20px
   
    

}

// .mobile-my-trophy ,.mobile-my-rewards ,.mobile-tug-war, .mobile-3rd-umpire{
//     height: 10vh;
// }

// @media (orientation: landscape) {
//     .mobile-view {
//       display: none;
//     }

//   }

@media screen and (min-width:960px) {
    .mobile-view {
        display: none;
    }

    .dailyCenterCircle {
        height: 23vh;
    }


}

// Modal CSS 
.modal-content {
    // background-color: transparent;
    border: none;
    // margin-left:14%;
    // margin-top: 15%;
    // width: 72%;
    border-radius: 10px;
  
}

.close_btn{
    position:absolute;
    background: transparent;
    border: none;
    color: white;
    height: 3vh;
    width:3vh ;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalBodyBooster {
    display: flex;
    justify-content: center;
}


.closeBooster {
    position: absolute;
    top: 10px;
    right: 10px;
}


.PersonalMilestoneModal {
    .modal-body {
        display: flex;
        justify-content: center;
    }


    .modal-content {
        background-color: transparent;
        border: none;
    }

    .btn-close {
        position: absolute;
        right: 10px;
        /* right: 100px; */
        top: 10px;
    }
}

// CSS For Weekly Modal


::-webkit-scrollbar {
    width: 0.4rem;
    height: 0.3em;
    scroll-behavior: smooth;
}

/* Track */
::-webkit-scrollbar-track {
    display: none;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: scroll;
    border-radius: 10px;
    background: #bbb;
}

.WeeklyModal {


    .modal-body {
        display: flex;
        justify-content: center;
        background-image: url('../../../../assets/images/interactive-dashboard/BG.png');


    }


}

.ModalHeading {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 18px;
    /* identical to box height */

    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;

    color: #252525;
}

.modalDescription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;

    color: #000000;
}

.btn-reward {
    width: 79px;
    height: 25px;
    font-family: "Inter";
    border: none !important;
    background-color: #D9FFDE !important;
    border-radius: 3px;

}

.Number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 800;
    font-size: 32px !important;
    line-height: 41px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #252525;
}

.button-close {
    height: 22px;
    width: 22px;
    font-size: 12px;
    border-radius: 50%;
    font-weight: bold;
    border-radius: 100%;
    /* color: #000000; */
    border: 1px solid #000000;
    background: transparent;
    padding-top: 2px;
    display:flex;
    justify-content:center;
    align-items: center;
    height:3vh;
    width:3vh;
    border-radius: 100%;
}
.button-close-monthly{
    height: 22px;
    width: 22px;
    font-size: 12px;
    border-radius: 50%;
    font-weight: bold;
    border-radius: 100%;
    color:#ffff;
    border:1px solid #ffff;
    display:flex;
    justify-content:center;
    align-items: center;
    background: transparent;
    padding-top: 2px;



}

.Top5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.infoIcon {
    width: 20px;
    height: 20px;
    border: 2px, solid, #000000;
}

.card-container {
    position: relative;
    overflow-x: auto;
    

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        text-align: center;
        margin-right: 10px;

        .pic>img {
            border-radius: 100%;
        }

        .name .rank .score {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;
            width: 10vw;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


// Daily Modal CSS


.centerCircle {
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.firstCircle {
    background-color: #DCDCDC;
    border: 1px solid black;
    height: 135px;
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    width: 96px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: absolute;
    // top: -8vh;
    // left: 35%;
    border: 9px solid transparent;
    background-size: 100% 100%, 50% 50%, 50% 50%, 50% 50%, 50% 50%;
    background-repeat: no-repeat;
    background-image: linear-gradient(white, white), linear-gradient(30deg, lightgray 36%, lightgrey 30%), linear-gradient(154deg, brown 75%, lightgrey 30%), linear-gradient(300deg, lightgray 36%, lightgrey 30%), linear-gradient(210deg, lightgray 36%, lightgrey 30%);
    background-position: center center, left top, right top, left bottom, right bottom;
    background-origin: content-box, border-box, border-box, border-box, border-box;
    background-clip: content-box, border-box, border-box, border-box, border-box;
}

.secondCircle {
    background-color: #5ABC07;
    height: 116px;
    width: 84px;
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.thirdCircle {
    background-color: #5ABC07;
    border: 1px solid #ffffff;
    height: 105px;
    width: 73px;
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forthCircle {

    background-color: #E1E1E1;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /* border: 1px solid black; */
    height: 52px;
    width: 52px;

}

.circle1 {
    position: fixed;
    right: 18px;
}


.range {
    width: 100%;
    height: 20px;
    accent-color: #38B200;
    
}

.rangeBgcolor {
    accent-color: #38B200;
    border-radius: 10px;
}




.box {
    display: flex;
    justify-content: center;
    align-items: start;

    margin-top: -24px;
    position: absolute;
    /* height: 108vh; */
    // height: 1280px;
    // height: 106vh;

    /* padding-bottom: 0; */
}

// .image-container {
//     width: 360px;
//     height: 801px;
//     padding: 0;
//     margin-top: -50px;
// }
.prof_src {
    width: 80px;
    border-radius: 100%;
    height: 80px;

}

.image-container {
    width: 360px;
    height: 801px;
    padding: 0;
    margin-top: -39px;
}

.first_row {
    width: 280px;
    height: 30px;
    position: relative;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}


.my_name {
    position: absolute;
    top: -20px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 15px;
}

.team_name {
    position: absolute;
    top: -20px;
    right: 15px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.second_row {
    width: 330px;
    position: absolute;
    top: 144px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 1px solid white;
}


.my_name_details {
    position: absolute;
    top: -20px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 15px;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.team_name_details {
    position: absolute;
    top: -20px;
    right: 15px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.profile_pic {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 9%;
    transform: translate(-50%, 0px);
}

.league_name {
    border-bottom: 25px solid #BF302E;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    width: 220px;
    left: 50%;
    position: absolute;
    top: 19%;
    transform: translate(-50%, 10px);
}

.leauge_name_details {
    position: absolute;
    /* top: -20px; */
    /* right: 15px; */
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    top: 4px;
}

.trophyAndRewards {
    width: 293px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;

}

.myTrophy {
    cursor: pointer;
    position: absolute;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -20px;
}

.trophy_img {
    margin-left: 4px;
}

.myRewards {
    position: absolute;
    cursor: pointer;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -20px;
    right: 4px;
}

.rewardsPoints {
    width: 91px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #ffffff;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}

.rewards_points {
    position: absolute;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    top: -22px;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #951610;
}

.reward_total_points {
    color: #951610;
    position: absolute;
    top: -22px;
    font-size: 8px;
    font-weight: bold;
    right: 0;
    width: 69%;
    text-align: center;
}

.reward {
    position: absolute;
    font-size: 6px;
    top: -12px;
    right: -1px;
    color: #951610;

}

.details_box {
    position: absolute;
    width: 262px;
    height: 146px;
    cursor: pointer;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -2px);
    background: linear-gradient(180deg, #243356 0%, #25385B 46.87%, #2C6691 100%);
}

.team_rank {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
}

.my_score {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
}

.my_rank {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
    margin-right: 15px;
}


.title_interactive {
    display: flex;
    justify-content: space-between;
}


.title_details {
    display: flex;
    justify-content: space-between;
}

.team_rank_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #FFFFFF;
    justify-content: center;
    width: 33%;

}

.my_score_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #F4BD34;
    justify-content: center;
    width: 33%;
    margin-left: 16px;
}

.my_rank_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #FFFFFF;
    justify-content: center;
    width: 33%;
    margin-left: 4px;
}

.dot {
    height: 45px;
    width: 45px;
    background-color: #2787C8;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ffca22;
    left: 12px;
    margin-top: -6px;

}

.run_scored {
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    position: absolute;

    color: #FFFFFF;
    width: -44%;
    /* left: 0; */
    /* top: 9px; */
    left: 50%;
    top: 26%;
    transform: translate(-50%, 0px);
}

.run_scored_box {
    width: 40px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 46px;
    left: 2px;
    background: #2D2C2A;
}

.text_run_scored {
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    width: 91%;
    font-weight: 700;
    font-size: 6.5px;
    line-height: 8px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 4px;
    margin-left: 2px;
    color: #FFFFFF;
}

.grid_circle {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

// Accordian Css Started

.accordian-title{
    font-family: 'Swiss921 BT',sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 2.2vh;
    line-height: 21px;
    /* identical to box height */
    color: #252525;
    
    
    }
    .accordian-subtitle{
    font-family: 'Swiss921 BT',sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    /* identical to box height */
    color: #252525;
    
    }
    .accordian-date{
    font-weight: 700;
    font-size: 11px;
    line-height: 13px;
    color: #252525;
    
    }
    .lastScore ,.TodaysScore{
        height: 72px;
        width: 72px;
        border-radius: 100%;
        border:2px solid rgba(0, 0, 0, 0.25);
        font-family: 'Swis721 Cn BT' sans-serif;
        font-style: normal;
        font-weight: bolder;
        font-size: 18px;
        line-height: 22px;
    /* identical to box height */
        opacity:0.9;
        color:#FEEE1E;
        background-color:var(--colorback);    
    }
    .accordian-label{
        font-family: 'Swis721 Cn BT' 'sans-serif';
        font-style: normal;
        font-weight: 700;
        font-size: 1.4vh;
        // line-height: 14px;
        color: #252525;
    
    }
    .flex_center{
        display: flex;
        justify-content: center;
        align-items: center;
        gap:1rem;
    }
    .btn-booster{
        background: var(--colorback);
        border: 1px solid var(--colorback);
        border-radius: 3px;
        font-weight: 700;
        height: 5vh;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 1%;
        /* identical to box height */
        text-transform: uppercase;
        color: #FFFFFF;
        text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    }
    .rangeBgcolor{
        background-color: #058640;
    
    }
    .booster_btn_close{
        border-radius: 100%;
        background: black;
        color:#ffffff;
        border: 1px solid #ffffff;
        margin-bottom: 2%;
    }
    .promotional_btn_close{
        border-radius: 100%;
        background: white;
        color: black;
        border: 1px solid #ffffff;
        margin-bottom: 2%;
        position: absolute;
        top: -12%;
        right: 0%;
    
    }
    .skillmuniCharacter{
        height: 15vh;
    
    }
    .shadow{
        width: 52px;
        height: 9px;
        background: #433C45;
        border-radius: 60%;
        margin-top:-12%;
    }

    

.animation-bar-1 {
  
    display: block;
  
 
    font-size: 16px;
   
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.animation-bar{
    display: block;

    font-size: 16px;
    border-radius: 30px;
    .border-left{
        border-left:2px solid #8EC912;
        height:3vh;
    }
}
.badges_row{
    display: flex;
    // justify-content: start;
    // gap:23%;

}
.Progressscore{
    font-size:1.1vw;font-weight: 600;font-family:'Inter';
    height:35px;
    width:35px;
    border-radius:50%;
    // margin-left:-10%;
    margin-left: -1.2vw;
    color:#8EC912;
    font-size:3vh;
    // border:1px solid black;
    text-align:center;
    display:grid;
    place-content:start;
}
.animation-bar-1 span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    
   
    overflow: hidden;
    // background-size: 150%;
    background: linear-gradient(90deg, #77B711 -4.86%, #D9FF15 11.93%, #77B711 27.8%, #D8FE15 42.73%, #8EC912 58.91%, #D8FE15 71.54%, #8EC912 84.16%, #D8FE15 103.82%);
    border-radius: 20px;
    animation: progress-anim-1 10s infinite linear;
}

.animation-bar-1 span:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(45deg, #ffffff 25%,
                                        rgba(0, 0, 0, 0) 25%,
                                        rgba(0, 0, 0, 0) 50%,
                                        #ffffff 50%,
                                        #ffffff 75%,
                                        rgba(0, 0, 0, 0) 75%,
                                        rgba(0, 0, 0, 0));
    background-size: 30px 30px;
    opacity: 0.3;
    animation: progress-anim-1-after 0.5s infinite linear;
}
// @keyframes progress-anim-1 {
//     0% {
//         width: 20%;
//     }
//     50% {
//         width: 80%;
//     }
//     100% {
//         width: 20%;
//     }
// }

// @keyframes progress-anim-1-after {
//     0% {
//         background-position: 0 100%;
//     }
//     100% {
//         background-position: 30px 100%;
//     }
// }



@media (min-width: 1000px) and (max-width: 1280px) {
    .web_first_measurement_label {
        font-family: "Inter";
        font-style: normal;
        font-weight: 700;
        font-size: 1.1vh !important;
        text-align: center;
        color: #FFFFFF;
        word-spacing: 100vw;
    }
}

// @media (min-width: 2550px) and (max-width: 2560px) {
//     .box-container {

//         height: 1920px;
//         /* padding-bottom: 0; */
//     }
// }

// @media (min-width: 3830px) and (max-width: 3860px) {
//     .box-container {

//         height: 2160px;
//         /* padding-bottom: 0; */
//     }
// }

