::ng-deep{
    .page-content {
        padding: 90px 0px 0px 0px !important;
    }}
.graph_container{
    background: transparent;
}

.historical-live-btn{
    width: 30%;
    display: flex;
    justify-content: end;
    height: 79px;
    align-items: center;
}



.performance-filter-select{
    height: 42px;
    margin-top: 0.5em;
}

.graph_label{
    font-weight: 500;
    font-size: 14px;
    color: #000000;
}

.dot {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
  }

  .container-fluid-top-accordion{
        width: 100%;
    
        margin-right: auto;
        margin-left: auto;
  
}
.container-fluid-full{
    width: 100%;
   
    margin-right: auto;
    margin-left: auto;
}
.container-fluid-lower-accordion{
    width: 100%;
    /* padding-right: 0.75rem; */
    /* padding-right: var(--bs-gutter-x, 0.75rem); */
    /* padding-left: 0.75rem; */
    /* padding-left: var(--bs-gutter-x, 0.75rem); */
    margin-right: auto;
    margin-left: auto;
}

.container-fluid-overall{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.prof_pic_my_performance{
    height: 55px;
    width: 55px;
    border-radius: 100%;
}

.name_my_performance{
    font-family: 'Inter';
    font-size: 0.8em;
    padding-left: 12px;
    font-weight: 600;

}

.level_my_performance{
    font-family: 'Inter';
    font-size: 0.8em;
    font-weight: 600;
    padding-left: 12px;
    padding-top: 2px;

}
@media (min-width: 770px) and (max-width: 1024px)  {
    .historical-live-btn {
        width: 50%;
    }

    // .performance-game-points-coin {
    //     margin-left: 0%;
    // }

    // .performance-overall-points {
    //     margin-left: 3rem;
    // }
}

@media (min-width: 200px) and (max-width: 769px) {
    .historical-live-btn {
        width: 100%;
    }
    .accordion-item{
        width: 100%;
    }
    .container-fluid-overall{
        width: 100%;
    margin-right: auto;
    margin-left: auto;
    // width: 78vw;
    padding: 0;
    }
    .web-card{
        display: none;
    }
}
@media (min-width: 768px) and (max-width: 1024px) {
    .name_my_performance{
        font-family: 'Inter';
        font-size: 1.2vw;
        font-weight: 600;
        padding-top: 8px;
        padding-left: 12px;
    
    }
    
    .level_my_performance{
        font-family: 'Inter';
        font-size: 1.2vw;
        font-weight: 600;
        padding-left: 12px;
        padding-top: 2px;
    
    }
}
@media (min-width: 1024px)  {
    .mobile-card{
        display: none;
    }

    
}

//   Css For Fashion

.card-shadow{
    background: linear-gradient(153.37deg, #ECECEC 14.39%, #FFFFFF 65.49%);
box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.7), 4px 4px 4px rgba(0, 0, 0, 0.4);
border-radius: 8px;
background-size: cover;

}
.card-shadow-mobile{
    background: linear-gradient(153.37deg, #ECECEC 14.39%, #FFFFFF 65.49%);
    box-shadow: -2px -2px 4px #FFFFFF, 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}