<div class="PlayZone-web-view">
    <div class="row">
        <div class="col-12 d-flex gap-2">
            <div class="col-8 playZone-container">
                <h5>Play Zone</h5>
                <div class="subHeading">
                    <span class="text ">Defination of Play Zone will come here</span>
                </div>
                <div class="d-flex gap-1">
                        
                              <select class="form-control form-select"
                              [(ngModel)]="spot_type" aria-label=".form-select-lg example">
                                <option value="Performance" class="form-option m-5">Performance</option>
                                <option value="Engagement" class="form-option m-5">Engagement</option>
                                <option value="" selected="selected" class="form-option m-5">All</option>
                              </select>
                        
                          
                          
                    <div class="searchBar col-9">
                        <input type="text" class="form-control col-12" placeholder="Search"
                            aria-label="Search People here.." aria-describedby="basic-addon2"  [(ngModel)]="term1" >
                    </div>
                    <div>
                        <button class="btn-sm-2 col-1">
                            <img src="assets/images/playZone/images/Vector.png" alt="">
                        </button>
                    </div>
                </div>
                <div class="row card-container" id="cardContainer">
                    <div class="col-12 cards">

                        <div class="card col-5" *ngFor="let data of spotEngagementData|filterPipe:spot_type  |filter:term1">
                            <div [ngStyle]="{'opacity':data._status==='active' ? 1 : 0.7}">
                                <div class="ps-3 subHeading">
                                    <div>
                                        <span class="text">&nbsp;Type &nbsp;:</span>&nbsp;
                                        <span class="heading">{{data.spot_type}}</span>
                                    </div>
                                    <div>
                                       
                                        <div *ngIf="data.spot_status === 'Open' &&  data._status!=='active'; then ifBlock"></div>
                                        
                                        <ng-template #ifBlock>
                                            <button class="btn btn-secondary" [disabled]="true">Retracted</button>
                                        </ng-template>
                                        <div *ngIf="data.spot_status === 'Opened' &&  data._status!=='active'; then ifBlock1"></div>
                                        <ng-template #ifBlock1>
                                            <button class="btn btn-danger" [disabled]="true">{{data._status}}</button>
                                        </ng-template>
                                        <!-- <ng-template #elseBlock><button
                                                class="btn btn-danger">{{data._status}}</button>
                                        </ng-template> -->
                                    </div>
                                </div>
                                <div class="card-body d-flex gap-2">
                                    <div class="col-5">
                                        <div class="p-1">
                                            <img src="{{data.primary_logo}}" alt="" height="100%" width="100%">
                                        </div>
                                        <div>

                                        </div>
                                    </div>
                                    <div class="col-7">
                                        <div>
                                            <h6 class="mb-3 card-title">{{data.spot_engagement_title}}</h6>
                                            <p class="card-description">
                                                {{data.spot_engagement_description}}
                                            </p>
                                            <div class="d-flex justify-content-end align-items-end">
                                                <span class="date" style="position: absolute; right: 10px; bottom: 70px;">{{data.end_date |date:"d/M/yyyy 'at' hh:mm a"}}
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="d-flex p-1">
                                    <div *ngIf="data.spot_status==='Open' && data._status==='active'; then openedBlock;else openBlock"></div>
                                    <ng-template #openedBlock>
                                        <button  style="cursor:pointer;border: none;background: #ffff;" class="status-openButton"
                                        (click)="open(content)">
                                        {{data.spot_status}}
                                    </button>
                                    </ng-template>
                                    <ng-template #openBlock>
                                       
                                        <button style="cursor:pointer;border: none;background: #ffff;"
                                             [disabled]="true" class="status-openButton">
                                            {{data.spot_status}}
                                        </button>
                                    </ng-template>

                                    <ng-template #content let-c="close" let-d="dismiss">
                                        <div class="modal-header">
                                            <div class="container">
                                                <div class=" d-flex justify-content-center align-items-center" style="margin:auto;">
                                                        <img src="assets/images/playZone/images/congradulations.png" alt="Congratulations_Image" height="90%" width="90%">
                                                </div>
                                               
                                            </div>
                                            
            
                                           <!-- <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button> -->
                                        </div>
                                        <div class="modal-body text-center">
                                            <div class="text-center modal-heading" >
                                                <h4>Congratulations</h4>
                                            </div>
                                          
                                          <p class="text">You have successfully earned points</p>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                          <button type="button" class="btn btn-ok" (click)="c('Save click')" style="width:15vw;">OK</button>
                                        </div>
                                      </ng-template>
                                </div>
                            </div>

                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center"
                            *ngIf="spotEngagementData.length<=0">
                            <div class="noContentContainer">
                                
                                <img src="assets/images/playZone/images/spot.svg" alt="" width="100%"
                                    height="100%">
                                <span class="noContentContainer-Desc">
                                    Stay tuned! You Might soon get a chance to Play and earn Rewards
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3 reward-container">
                <div class="reward-content col-12"  *ngIf="spotEngagementPassbook.length>=0">
                    <div class="rewardHeading">
                        <span class="heading">Reward Passbook</span>
                        <div class="d-flex gap-2 mb-2">
                            <span>
                                <img src="assets/images/playZone/images/Reward point0 1.png" alt="reward">
                            </span>
                            <span class="heading">{{rewardPoints}}</span>
                        </div>

                    </div>
                    <div class="d-flex gap-2 mt-3">
                        <div style="height:5vh">
                              
                            <div class="row">
                                <div class="col">
                                  <div ngbDropdown class="d-inline-block">
                                    
                                        <img src="assets/images/playZone/images/Group 6078.png" type="button" alt="filter" (click)="openDropdown()" id="dropdownBasic1" ngbDropdownToggle >
                                    
                                    <div ngbDropdownMenu aria-labelledby="dropdownBasic1" *ngIf="hideDropDown"  class="d-flex flex-column justify-content-center p-3 m-2" style="width:20vw">
                                        <button  class="form-label" ngbDropdownItem>status</button>
                                        <button ngbDropdownItem>
                                       <input type="checkbox" checked="Latest">  &nbsp;
                                        Latest</button>
                                        <button ngbDropdownItem>
                                            <input type="checkbox"  checked="Validity">&nbsp;
                                        Validity</button>
                                        <button  class="form-label" ngbDropdownItem>Engagement Type</button>
                                        <button ngbDropdownItem>
                                            <input type="checkbox" checked="Performance">&nbsp;
                                        Performance</button>
                                        <button ngbDropdownItem>
                                            <input type="checkbox" checked="Engaged">&nbsp;
                                        Engagement</button>
                                        <button ngbDropdownItem>
                                            <input type="checkbox" checked="all">&nbsp;
                                        All</button>
                                      
                                    </div>
                                  </div>
                                </div>
                            </div>         
                        </div>
                        
                        <div class="RewardsearchBar">
                            <input type="text" class="form-control" placeholder="Search here"
                                aria-label="Search" aria-describedby="basic-addon2" [(ngModel)]="term" >
                        </div>
                        <button class="btn-sm-2">
                            <img src="assets/images/playZone/images/Vector.png" alt=""  type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           
                        </button>
                    </div>
                    
                    <table class="table table-striped m-2">
                        <thead>
                            <tr>
                                <th scope="col">Sr No.</th>
                                <th scope="col">Event</th>
                                <th scope="col" (click)="sortList('date_time_stamp')">
                                    Date &nbsp;
                                    <div *ngIf="reverse; then downFilter else upFilter"></div>
                                    <ng-template #downFilter>
                                        <img src="assets/images/playZone/images/filterDown.png" alt="">
                                    </ng-template>
                                    <ng-template #upFilter>
                                        <img src="../../../assets/images/playZone/images/filterUp.png" alt="">
                                    </ng-template>

                                </th>
                                <th scope="col" (click)="sortList1('reward_point')">Points
                                    &nbsp;<div *ngIf="!reverse1; then downFilter1 else upFilter1"></div>
                                    <ng-template #downFilter1>
                                        <img src="assets/images/playZone/images/filterDown.png" alt="">
                                    </ng-template>
                                    <ng-template #upFilter1>
                                        <img src="../../../assets/images/playZone/images/filterUp.png" alt="">
                                    </ng-template>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let passbookData of spotEngagementPassbook |filter:term |orderBy: key : reverse |orderBy: key1 : reverse1 ;let i=index ">
                                <td scope="row">{{i+1}}</td>
                                <td>
                                    <span [ngbTooltip]="tooltipContent" placement="bottom" id=table-row >{{passbookData.game_name.slice(0,10)}}&nbsp;...</span>
                                 </td>
                                <td>{{passbookData.date_time_stamp|date:'dd/MM/yyyy'}}</td>
                                <td>{{passbookData.reward_point}}</td>

                                <ng-template #tooltipContent>
                                    {{passbookData.game_name}}
                                </ng-template>
                            </tr>
                        </tbody>
                    </table>
                    
                    <div class="d-flex justify-content-center align-items-center"
                        *ngIf="spotEngagementPassbook.length<=0">
                        <div class="noContentContainer">
                            <img src="assets/images/playZone/images/spot.svg" alt="" width="90%" height="90%">
                            <span class="noContentContainer-Desc">
                                Stay tuned! You Might soon get a chance to Play and earn Rewards
                            </span>
                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>
    

</div>


<!-- mobile view started -->


<div class="playzone-mobile-view">
    <div class="row">
        <div class="col">
            <div class="mobile-playzone-container">
                <div>
                    <h5>Play Zone</h5>
                    <div class="mb-1">
                        <span class="text">Defination of Play Zone will come here</span>
                    </div>
                </div>

                <div>
                    <img src="assets/images/playZone/images/Reward point0 1.png" alt="">&nbsp;
                    <span class="heading">{{rewardPoints}}</span>
                </div>
            </div>
            <div>
                <div class="d-flex gap-2 mt-3">

                </div>
                <mat-tab-group animationDuration="0ms">

                    <mat-tab label="Events">
                        <div class="d-flex gap-1 mb-2">
                            <div class="col-2.5">
                                <div style="height:5vh">
                                    <div class="row">
                                        <div class="col">
                                          <div ngbDropdown class="d-inline-block">
                                            
                                                <img src="assets/images/playZone/images/Group 6078.png" type="button" alt="filter" (click)="openDropdown()" id="dropdownBasic2">
                                            
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" *ngIf="hideMobileDropDown" class="d-flex flex-column justify-content-center p-3 m-2" style="width:60vw">
                                                <button  class="form-label" ngbDropdownItem>status</button>
                                                <button ngbDropdownItem>
                                               <input type="checkbox">  &nbsp;
                                                Latest</button>
                                                <button ngbDropdownItem>
                                                    <input type="checkbox">&nbsp;
                                                Validity</button>
                                                <button  class="form-label" ngbDropdownItem>Engagement Type</button>
                                                <button ngbDropdownItem>
                                                    <input type="checkbox">&nbsp;
                                                Performance</button>
                                                <button ngbDropdownItem>
                                                    <input type="checkbox">&nbsp;
                                                Engagement</button>
                                                <button ngbDropdownItem>
                                                    <input type="checkbox">&nbsp;
                                                All</button>
                                              
                                            </div>
                                          </div>
                                        </div>
                                    </div>
                                    
                                </div>
                            </div>

                            <div class="RewardsearchBar col-8">
                                <input type="text" class="form-control" placeholder="Search"
                                    aria-label="Search People here.." aria-describedby="basic-addon2" [(ngModel)]="term1">
                            </div>
                            <button class="btn-sm-2">
                                <img src="assets/images/playZone/images/Vector.png" alt="">
                            </button>
                        </div>

                        <div class="card col-12" *ngFor="let data of spotEngagementData |filter:term1"
                            [ngStyle]="{'opacity':data._status==='active' ? 1 : 0.7}">
                            <div class="p-2 subHeading">
                                <div>
                                    <span class="text">Type &nbsp;:</span>&nbsp;
                                    <span class="heading">{{data.spot_type}}</span>
                                </div>
                                <div>
                                    <div *ngIf="data.spot_status === 'Open' &&  data._status!=='active'; then ifBlock"></div>
                                        
                                    <ng-template #ifBlock>
                                        <button class="btn btn-secondary" [disabled]="true">Retracted</button>
                                    </ng-template>
                                    <div *ngIf="data.spot_status === 'Opened' &&  data._status!=='active'; then ifBlock1"></div>
                                    <ng-template #ifBlock1>
                                        <button class="btn btn-danger" [disabled]="true">{{data._status}}</button>
                                    </ng-template>
                                    <!-- <ng-template #elseBlock><button class="btn btn-success">{{data._status}}</button>
                                    </ng-template> -->
                                </div>
                            </div>
                            <div class="card-body d-flex gap-2">
                                <div class="col-5">
                                    <div class="p-1">
                                        <img src="{{data.primary_logo}}" alt="" height="100%" width="100%">
                                    </div>
                                    <div>

                                    </div>
                                </div>
                                <div class="col-7">
                                    <div>
                                        <h6 class="mb-3">{{data.spot_engagement_title}}</h6>
                                        <p class="mobile-card-description">
                                            {{data.spot_engagement_description}}
                                        </p>
                                        <div class="d-flex justify-content-end align-items-end mt-2">
                                            <span class="date" style="position: absolute; bottom:60px; right:10px">{{data.end_date | date:"d/M/yyyy 'at' hh:mm a"}}</span>
                                        </div>



                                    </div>
                                </div>


                            </div>
                            <hr>
                            <div class="d-flex p-2" style="cursor:pointer;">
                                <div *ngIf="data.spot_status==='Open' && data._status==='active'; then openedBlock;else openBlock"></div>
                                    <ng-template #openedBlock>
                                        <button style="cursor:pointer;border: none;background: #ffff;" class="mobile-status-openButton"
                                        (click)="open(content1)">
                                        {{data.spot_status}}
                                    </button>
                                    </ng-template>
                                    <ng-template #openBlock>
                                       
                                        <button style="cursor:pointer;border: none;background: #ffff;"
                                             [disabled]="true" class="status-openButton">
                                            {{data.spot_status}}
                                        </button>
                                    </ng-template>
                                    <ng-template #content1 let-c="close" let-d="dismiss">
                                        <div class="modal-header">
                                            <div class="container">
                                                <div class=" d-flex justify-content-center align-items-center" style="margin:auto;">
                                                        <img src="assets/images/playZone/images/congradulations.png" alt="Congratulations_Image" height="100%" width="100%">
                                                </div>
                                               
                                            </div>
                                            
            
                                           <!-- <button type="button" class="btn-close" aria-label="Close" (click)="d('Cross click')"></button> -->
                                        </div>
                                        <div class="modal-body text-center">
                                            <div class="text-center modal-heading" >
                                                <h4>Congratulations</h4>
                                            </div>
                                          
                                          <p class="text">You have successfully earned points</p>
                                        </div>
                                        <div class="modal-footer d-flex justify-content-center">
                                          <button type="button" class="btn btn-ok" (click)="c('Save click')" style="width: 15vw;">OK</button>
                                        </div>
                                      </ng-template>
                            </div>
                        </div>
                        <div class="col-12 d-flex justify-content-center align-items-center h-100"
                            *ngIf="spotEngagementData.length<=0">
                            <div class="mobile-noContentContainer">
                                <img src="assets/images/playZone/images/spot.svg" alt="" width="90%"
                                    height="90%">
                                <span class="mobile-noContentContainer-Desc">
                                    Stay tuned! You Might soon get a chance to Play and earn Rewards
                                </span>
                            </div>


                        </div>
                    </mat-tab>

                    <mat-tab label="Reward Passbook">
                        <div class="d-flex gap-1 mb-2">
                            <div class="col-2.5">
                                <div style="height:5vh">
                                    <div class="row">
                                        <div class="col">
                                          <div ngbDropdown class="d-inline-block">
                                            
                                                <img src="assets/images/playZone/images/Group 6078.png" type="button" alt="filter" (click)="openDropdown()" id="dropdownBasic2" ngbDropdownToggle >
                                            
                                            <div ngbDropdownMenu aria-labelledby="dropdownBasic2" *ngIf="hideMobileDropDown" class="d-flex flex-column justify-content-center p-3 m-2" style="width:60vw">
                                                <button  class="form-label" ngbDropdownItem>status</button>
                                                <button ngbDropdownItem>
                                               <input type="checkbox">  &nbsp;
                                                Latest</button>
                                                <button ngbDropdownItem>
                                                    <input type="checkbox">&nbsp;
                                                Validity</button>
                                                <button  class="form-label" ngbDropdownItem>Engagement Type</button>
                                                <button ngbDropdownItem>
                                                    <input type="checkbox">&nbsp;
                                                Performance</button>
                                                <button ngbDropdownItem>
                                                    <input type="checkbox">&nbsp;
                                                Engagement</button>
                                                <button ngbDropdownItem>
                                                    <input type="checkbox">&nbsp;
                                                All</button>
                                              
                                            </div>
                                          </div>
                                        </div>
                                    </div>         
                                </div>
                            </div>

                            <div class="RewardsearchBar col-8">
                                <input type="text" class="form-control" placeholder="Search"
                                    aria-label="Search People here.." aria-describedby="basic-addon2" [(ngModel)]="term">
                            </div>
                            <button class="btn-sm-2">
                                <img src="assets/images/playZone/images/Vector.png" alt="">
                                
                            </button>
                        </div>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th scope="col">Sr No.</th>
                                    <th scope="col">Event</th>
                                    <th scope="col">Date</th>
                                    <th scope="col">Points</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let passbookData of spotEngagementPassbook | filter:term;let i=index">
                                    <td scope="row">{{i+1}}</td>
                                    <td>
                                        <span [ngbTooltip]="tooltipContent1" placement="bottom">{{passbookData.game_name.slice(0,10)}}...</span>
                                    </td>
                                    
                                    <td>{{passbookData.date_time_stamp|date:'dd/MM/yyyy'}}</td>
                                    <td>{{passbookData.reward_point}}</td>
                                    <ng-template #tooltipContent1>
                                        {{passbookData.game_name}}
                                    </ng-template>
                                </tr>
                            </tbody>
                        </table>
                        <div class="col-12 d-flex justify-content-center align-items-center"
                            *ngIf="spotEngagementPassbook.length<=0">
                            <div class="mobile-noContentContainer">
                                <img src="assets/images/playZone/images/spot.svg" alt="" width="90%"
                                    height="90%">
                                <span class="mobile-noContentContainer-Desc">
                                    Stay tuned! You Might soon get a chance to Play and earn Rewards
                                </span>
                            </div>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </div>
        </div>
    </div>

</div>