<div id="layout-wrapper web-view">
  <app-horizontaltopbar></app-horizontaltopbar>

  <div class="main-content">
    <div class="page-content">
      <router-outlet></router-outlet>
    </div>
  </div>

  <app-footer></app-footer>
  <app-rightsidebar></app-rightsidebar>
</div>
<!-- Rotated View -->
<div class="mobile-view-rotated d-flex flex-column justify-content-center align-items-center">
  <div class="phone">
  </div>
  <div class="message">
    Please rotate your device!
  </div>
  
</div>
