<section class="main-frame" *ngIf="showComponent">
    <header class="logo"><img src="assets/images/svg/logo/logo-with-out-transparent.svg" alt="logo" /></header>
    <div class="baner-img">
        <h2 class="text-center game-select-txt">Please select your game</h2>
        <img class="w-100 h-100" src="assets/images/svg/theme-selection/baner-img.png" alt="img" />
    </div>
    <div class="d-flex justify-content-center align-items-center" style="height: 50vh;">
        <div class="col-12  mt-4">
            <div class="card-wrapper">
                <div id="carouselExample " class="carousel slide w-100" data-bs-interval="false" data-ride="carousel"
                    data-pause="hover">
                    <div class="carousel-inner">
                        <div class="carousel-item" [ngClass]="{'active': i === 0}"
                            *ngFor="let items of gameList;let i = index">
                            <div class="row"
                                [ngClass]="{'text-center': items?.length === 1,'row-cols-1': (Util?.isMobile() &&  items?.length > 2)}">
                                <div class="col p-bottom-mobile" *ngFor="let item of items;let in = index"
                                    [ngClass]="{'theme-card-center': (in === 0 && items?.length === 2)}">
                                    <label [ngClass]="{'wd-50': items?.length === 1,'theme-card-w': items?.length === 2}">
                                        <input type="radio" name="product" class="card-input-element"
                                            [checked]="selectedGame === item?.id_coroebus_game"
                                            (change)="handleChange($event, item)" />
                                        <div class="card-img pt-2  game-card-img">
                                            <img src="{{item?.logo}}" class="theme-img game-img" alt="img" width="100%" />
                                            <h6 class="m-3">
                                                {{item?.game_name}}
                                            </h6>
                                          
                                            <button type="button" (click)="handleChange($event, item)"
                                                [ngClass]="{'btn-outline-primary': selectedGame === item?.id_coroebus_game}"
                                                class="btn p-button">Select</button>
                                        </div>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ng-container *ngIf="gameList?.length >= 2">
                        <button class="carousel-control-prev" data-bs-target="#carouselExample" type="button"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" data-bs-target="#carouselExample" type="button"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </ng-container>
    
                </div>
            </div>
        </div>
    </div>
   
  
    <div class="row w-100">
        <div class="col">
          <div class="footer login-pwd">
            <h6>Powered by Coroebus &#169;</h6>
          </div>
        </div>
      </div>
</section>