<div *ngIf="id_role!=13;then one;else two"></div>
<ng-template #one>
  <header id="page-topbar"  [ngStyle]="{'background': headerInfo?.color}">
    <!-- <img src="assets/images/svg/logo/toolbar-bg.svg" height="180" alt=""> -->
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
  
  
        <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
          (click)="toggleMobileMenu($event)">
          <i class="fa fa-fw fa-bars"></i>
        </button>
      </div>
  
      <div class="d-flex">
      <span class="top-bar-game-name text-white">
        <img src="{{headerInfo?.game_logo}}" class="top-bar-game-logo" alt="Logo">
        <!-- {{headerInfo?.game_name}} -->
       
      </span>
      </div>
  
      <div class="d-flex">
  
  
        <div class="dropdown d-inline-block" ngbDropdown>
          <button type="button" class="d-none- btn header-item noti-icon" id="page-header-notifications-dropdown"
            [routerLink]="[ '/notification/list']" ngbDropdownToggle>
            <!-- <i class="bx bx-bell bx-tada"></i> -->
            <!-- <img src="assets/images/svg/dashboard/notification-icon.svg" class="bx-tada" alt="notification"> -->
            <!-- [ngClass]="{'bx-tada': notificationStatusList?._count>0}" -->
            <img src="{{notificationStatusList?.image}}" alt="notification" height="18">
            <!-- <span class="badge bg-danger rounded-pill notification-badge">3</span> -->
          </button>
          <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0 d-none"
            aria-labelledby="page-header-notifications-dropdown" ngbDropdownMenu>
            <div class="p-3">
              <div class="row align-items-center">
                <div class="col">
                  <h6 class="m-0">{{ 'HEADER.NOTIFICATIONS.TITLE' | translate}} </h6>
                </div>
                <div class="col-auto">
                  <a href="javascript: void(0);" class="small">{{ 'HEADER.NOTIFICATIONS.VIEW_ALL' | translate}}</a>
                </div>
              </div>
            </div>
            <ngx-simplebar style="position: relative; height: 230px;">
              <a href="javascript: void(0);" class="text-reset notification-item">
                <div class="media d-none">
                  <div class="avatar-xs me-3">
                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                      <i class="bx bx-cart"></i>
                    </span>
                  </div>
                  <div class="media-body">
                    <h6 class="mt-0 mb-1">{{ 'HEADER.NOTIFICATIONS.FIRST.TITLE' | translate}}</h6>
                    <div class="font-size-12 text-muted">
                      <p class="mb-1">{{ 'HEADER.NOTIFICATIONS.FIRST.TEXT' | translate}}</p>
                      <p class="mb-0"><i class="mdi mdi-clock-outline"></i>
                        {{ 'HEADER.NOTIFICATIONS.FIRST.TIME' | translate}}</p>
                    </div>
                  </div>
                </div>
              </a>
  
            </ngx-simplebar>
            <div class="p-2 border-top d-grid">
              <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                <i class="mdi mdi-arrow-right-circle me-1"></i> <span key="t-view-more">{{
                  'HEADER.NOTIFICATIONS.LOAD_MORE' | translate}}</span>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</ng-template>


<ng-template #two>
  <header id="page-topbar"  [ngStyle]="{'background': topbar_color}">
    <!-- <img src="assets/images/svg/logo/toolbar-bg.svg" height="180" alt=""> -->
    <div class="navbar-header">
      <div class="d-flex">
        <!-- LOGO -->
  
  
        <button type="button" class="btn btn-sm px-3 font-size-16 header-item" id="vertical-menu-btn"
          (click)="toggleMobileMenu($event)">
          <i class="fa fa-fw fa-bars"></i>
        </button>
      </div>
  
      <div class="d-flex">
      <span class="top-bar-game-name text-white">
        <img src="{{top_toolbar_logo}}" class="top-bar-game-logo" alt="Logo">
        <!-- {{headerInfo?.game_name}} -->
       
      </span>
      </div>
  
      <div class="d-flex">
        <i class="fa fa-home" style=" color:#FFFFFF ; cursor: pointer; font-size: 1vw;" aria-hidden="true" (click)="RedirectionToHome()"></i>

        <!-- <img src="../../../assets/images/TopHierarchyDashboard/Homebutton.png"/> -->
  
      </div>
    </div>
  </header>
</ng-template>