.bg-image{
    background-image: url(../../../../assets/images/29cricket-[Converted].png);
} 

.ellipsis1 {
    overflow: visible;
    text-overflow: ellipsis;
    white-space:nowrap;
    max-width: 100%;
    // cursor: pointer;
}
.points-dis-name1 {
    background: #F3F2C1;
//    height: 87%;
   margin-top:2px;
   margin-left:2px;
   border-radius: 6.46995px;
   text-align:left;
   font-weight: 600;
   font-size: 11px;
   line-height: 31px;
padding-left: 10px;
   width: 149.62px;
height: 50.14px;
left: 4px;
top: 3.23px;
}
.table-header
{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 100%;
}

.poketitle
{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
   color: #342319;
    
}
.active{
//  border-radius: 16px;
// box-shadow: inset 3px 3px 3px rgba(136,164,191,0.48);
// outline: none;
text-shadow:#342319;
background: #FFFFFF;
border: 2px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 11px;
}

.emojitext{
   border-radius: 10px;
    background: #ffffff;
    box-shadow: unset !important;
    background: #FFFFFF;
border: 2px solid rgba(83, 184, 187, 0.5);
border-radius: 15px;
}
.card-fotter{
text-align: center;
}
.submit
{
    width: 145px;
}
// #animationPoke{
//     position: fixed;
//     top:0;
//     left: 0;
//     z-index: 1050;
//     display: block;
//     height: 100%;
//     width: 100%;
//     overflow:hidden;
//    outline: 0;
//    background-color: rgba(0,0,0,0.4);
// }

// .crawl{
//     position: relative;
//     transform-origin: 50% 100%;
//     animation:crawl 6s linear;
// }
// section[class*="poke-slide"]{
//     position: relative;
//     display: none;
// }
// section[class="poke-slide1"]{
//     position: relative;
//     display:flex;
// }
// .star-wars{
//     display: none;
//     padding: 2%;
//     justify-content: center;
//     position: absolute;
//     height: auto;
//     color: rgb(255,255,255);
//     z-index: 20000;
//     font-size: 20px;
//     font-weight: 400;
//     line-height: 120%;
//     top: 100%;
//     text-align: center;
// }

// .crawl> .title {
//     font-size: 90%;
//     text-align: center;
// }

// .crawl > .title h1{
//     margin: 0px 0px 100px;
// }

// @keyframes crawl{
//     0%{
//         margin-top: -0%;
//         transform: rotate(1deg) translateZ((0));
//     }
// }