ModalHeading.ok_button{
    position: absolute;
    padding: 10px;
    width: 10vw;
    bottom: 30px;
    left: 50%;
    border-radius: 10px;
    border: none;
    /* border: 1px solid yellow; */
    transform: translate(-50%);

}
.mat_panel_title{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 0.8vw;
}
.cardWithBackgroundImage{
  
    .card-div{
        background: transparent;
        
    }
    .card-less-height{
        background: transparent;
       
    }
}

::ng-deep{
    .card{
        border: none;

    }
}


.cardWithTransparentImage{
.card-div{
    height: 43vh;
    width: 20vw;
}



}



.bulletins-card{
border-radius: 11px;
}

.points-bullentins-card-no-height{
    height: 90vh;
    
}

// .inner-bulletins-height {
//     height: 33vh;
//     width:30vw;
//     overflow-y: auto;
//     overflow-x: hidden;
// }
.inner-bulletins-height{
    margin-top: 10vh !important;
    height: 28vh;
    overflow-x: hidden;
    width: 100%;
}

.bulletins-card{
.card{
    background-color: white;
}
}


.bulletin_main_div{
    border-radius: 11px;
}
.pointsDistributionSection{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}
.points-notification-card
{
   background-repeat: no-repeat;
   background-position: inherit;
   background-size: cover;
   width: auto;
   height: 40vh;
   border-radius: 11px;
 
}
.points-dis-card{
   background-repeat: no-repeat;
   background-position: inherit;
   background-size: cover;
   width: auto;
   height:92vh;
   border-radius: 11px;
}
.form-control{
   width: 99%;
   height: 6vh;
   border-radius: 10px;
}
::ng-deep{
   .page-content {
       padding: 79px 0px 0px 0px !important;
   }
}

.inner-points-height {
    // padding-top: 2%;
   height: auto;
     width: 20vw;
     display: flex;
     justify-content: center;
     align-items: center;
  
//    overflow-x: hidden;
//    overflow-y: auto;
}
.points-rank-card{
   background-repeat: no-repeat;
   background-position: inherit;
   background-size: cover;
   
   border-radius: 11px;

 
}
.subsectionofChampionsLeague{
    list-style: none;
    font-size: 1.6vh;

    div{
        padding: 5px;
        padding-left:2% ;
    }

    .counter{
        background: red;
        color:#ffff;
        height: 3vh;
        width: 3vh;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    
}
.subsectionofChampionsLeague>div:hover{
    background-color: gray;
}
mat-accordion{
    position: relative;
    .red_indicator{
        position: absolute;
        top:0px;
        right: -0.35vw;
        background: red;
        height: 1.6vh;
        width: 1.6vh;
        z-index: 1;
        border-radius: 100%;

        -webkit-animation: 2s blink ease infinite;
        -moz-animation: 2s blink ease infinite;
        -ms-animation: 2s blink ease infinite;
        -o-animation: 2s blink ease infinite;
        animation: 2s blink ease infinite;
    }
    


}
@keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-moz-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-ms-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }
  
  @-o-keyframes blink {
    from, to {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
  }

  .inner_content_new_challange{
    font-weight: 600;
    font-family: 'Work Sans';
    font-size:1.6vh;
    height: 5vh;
    display: flex;
    align-items: center;
  
    background: #FFFFFF;
    border-bottom: 0.5px solid #A5ACB8;
   padding-left: 1vw;
    width: 95%;
    .badge-container{
        width: 10vw;
        height: 5vh;
        display: flex;
        justify-content: start;
        align-items: center;
        .activeBadge{
            width: 4vh;
            height: 4vh;
            border: 1px solid #0000;
            margin-left: 0.5vw;
            background: #D9D9D9;
            color: #000000;
            border-radius: 4px;
        }
        .deActiveBadge{
            width: 4vh;
            height: 4vh;
            border: 1px solid #0000;
            margin-left: 0.5vw;
            background: #D9D9D9;
            color: #000000;
            filter: grayscale(100%);
            border-radius: 4px;
        }
    }
        
   
    

  }

.inner_content,.inner_content_daily1{
    font-weight: 600;
    font-family: 'Inter';
    font-size:1.6vh;
    height: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #FFFFFF;
    border-bottom: 0.5px solid #A5ACB8;
   padding-left: 1vw;
    width: 95%;
    .badge-container{
        width: 10vw;
        height: 5vh;
        display: flex;
        justify-content: start;
        align-items: center;
        .activeBadge{
            width: 4vh;
            height: 4vh;
            border: 1px solid #0000;
            margin-left: 0.5vw;
            background: #D9D9D9;
            color: #000000;
            border-radius: 4px;
        }
        .deActiveBadge{
            width: 4vh;
            height: 4vh;
            border: 1px solid #0000;
            margin-left: 0.5vw;
            background: #D9D9D9;
            color: #000000;
            filter: grayscale(100%);
            border-radius: 4px;
        }
    }
        
   
    


}
.inner_content-daily{
    font-weight: 600;
    font-family: 'Inter';
    font-size:1.6vh;
    height: 5vh;
    display: flex;
    align-items: center;
    cursor: pointer;
    background: #FFFFFF;
    border-bottom: 0.5px solid #A5ACB8;
   padding-left: 1vw;
    width: 18vw;
    .badge-container{
        width: 10vw;
        height: 5vh;
        display: flex;
        justify-content: start;
        align-items: center;
        .activeBadge{
            width: 4vh;
            height: 4vh;
            border: 1px solid #0000;
            margin-left: 0.5vw;
            background: #D9D9D9;
            color: #000000;
            border-radius: 4px;
        }
        .deActiveBadge{
            width: 4vh;
            height: 4vh;
            border: 1px solid #0000;
            margin-left: 0.5vw;
            background: #D9D9D9;
            color: #000000;
            filter: grayscale(100%);
            border-radius: 4px;
        }
    }
        
   
    


}


.inActiveBadge{
    height:5vh;
    width: 5vh;
    border-radius: 100%;
    img{
        border-radius: 100%;
        filter: grayscale(100%);
    }
    
    

}
   .ActiveBadge{
    height:5vh;
    width: 5vh;
    border-radius: 100%;
    img{
        border-radius: 100%;
        filter: grayscale(0%);
    }
   
    
   

   }



// .RankSection{
//     .card{
//         background: transparent;
//     }
// }
.points-bullentins-card{
   background-repeat: no-repeat;
   background-position: inherit;
   background-size: cover;
   width: auto;
   height:43vh;
   border-radius: 11px;
}

.points-dis-name1{
    //    background: #F3F2C1;
      
       border-radius: 6.46995px;
       font-weight: 600;
       font-size: 0.72vw;
       line-height: 31px;
       width: auto;
       height: 5.5vh;
       width: 80%;
       font-size: 1.5vh;
       font-weight: 600;
       font-family: "Inter";
}
.inner-notification-height {
   height: 33vh;
   overflow-y: auto;
   overflow-x: hidden;
}
.dashboard-username{
   font-weight: 600;
   font-size: 1.5em;
   line-height: 100%;
   color: #000000;
   width:200px;
//   white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis; 
}
.dashboard-teamname{
   font-weight: 600;
   font-size: 0.7em;
   line-height: 100%;
   color: #000000;
   width:200px;
  //white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
::ng-deep{
   .page-content{
       padding: calc(70px + 24px) calc(24px / 2) 2px calc(24px / 2);
   }
}
.text-white{
    font-size: 1vw;
    font-weight: 500;
    font-family: 'Inter';
    margin-bottom: 0;

}
.dashboard-searchbar
{
//   width: 100%;
 height: 7vh;
 /* White */
 background: #FFFFFF;
 /* Card / Big */
 box-shadow: 0px 0px 0px 1px #E8E8E8, 0px 0px 2px rgba(0, 0, 0, 0.12), 0px 20px 20px rgba(0, 0, 0, 0.08);
 border-radius: 15px;
 
}


.font-size-14{
    font-size: 1.4vh !important;
    

}

@media screen and (min-width:270px) and (max-width:1023.8px) {
    .web-view {
        display: none;
    }
    .dailyCenterCircle {
        height: 21vh;
    }
    .ok_button{
        position: absolute;
        padding: 10px;
        width: 28vw;
        bottom: 20px;
        left: 50%;
        border-radius: 10px;
        border: none;
        /* border: 1px solid yellow; */
        transform: translate(-50%);
    

    }

}
// Mobile view Started //
@media screen and (min-width:1023.9px) {
    .mobile-view {
        display: none;
    }
    .inner_content-daily{
        width:11vw;
    }
}


.mobile-dashboard-banner-main-rank-img{
    height: auto;
    width: 18vw;
    padding-left: 5%;
}
.mobile-points-dis-name1{
    background: #F3F2C1;
    margin-top: 2px;
    margin-left: 2px;
    border-radius: 6.46995px;
    font-weight: 600;
    font-size: 11px;
    line-height: 31px;
    padding-left: 10px;
    width: 30vw;
    height: 6vh;
    left: 4px;
    top: 3.23px;
}
.mobile-ellipsis{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 9ch;
    cursor: pointer;
}
.dashboard-banner-mobile{
    border: 2px solid;
    box-shadow: 0px 0px 0px 1px #E8E8E8;
    filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.12)) drop-shadow(0px 20px 20px rgba(0, 0, 0, 0.08));
    border-radius: 15px;
    width: 100%;
    height: 20vh;
    padding: 0% 1% 1% 1%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;

}
.mobile-avatar-upload{
    position: relative;
    height: auto;
    width: auto;

}
.mobile-avatar-upload .mobile-avatar-edit
{position: absolute;
    left:80px;
    z-index: 1;
    top: 1%;
}
.mobile-avatar-upload .mobile-avatar-edit input {
    display: none;
}
.mobile-avatar-upload .mobile-avatar-edit input+label{
    display: inline-block;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
    border-radius: 100%;
    background: #FFFFFF;
    border: 1px solid transparent;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
    cursor: pointer;
    font-weight: normal;
    transition: all 0.2s ease-in-out;
    background-repeat: no-repeat;
    background-position: center;
}

.mobile-avatar-upload .mobile-avatar-preview {
    width: 87px;
    height: 87px;
    position: relative;
    border-radius: 100%;
    margin-bottom: 5%;
    border: 2.20588px solid #FFFFFF;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
.mobile-avatar-upload .mobile-avatar-preview>img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.mobile-dashboard-user-name{
    font-size: 2.2vh;
    font-family: 'Inter';
    line-height: 100%;
    color: #000000;
    font-style: normal;
    text-align: center;
    
}
.mobile-dashboard-user-team-name{
font-weight: 400;
font-size: 10px;
text-align: center;
color: #000000;

}
.mobile-points-dis-card{
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: cover;
    width: auto;
    height: auto;
    border-radius: 11px;
}
.card-container{
    display: flex;
}
.card-container-popup{
    display: block;

}
.name-f-size-mobile{
    font-size: 16px;
}
.one-data-mobile{
    .card-container{
        display: flex;
    justify-content: center;

    }
    
}
.two-data-mobile{
    .card-container{
        display: flex;
        // gap:;
        justify-content: space-evenly;
    }
   
}
// Daily Modal
.bg-imagedaily
{
    background-image: url('../../../../assets/images/navratri.png');
    background-repeat: no-repeat; 
    background-size: contain; 
     height: 10vh;
}





.secondCircle {
    background-color: #5ABC07;
    height: 116px;
    width: 84px;
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.thirdCircle {
    background-color: #5ABC07;
    border: 1px solid #ffffff;
    height: 105px;
    width: 73px;
    border-radius: 45%;
    -moz-border-radius: 45%;
    -webkit-border-radius: 45%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.forthCircle {

    background-color: #E1E1E1;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    /* border: 1px solid black; */
    height: 52px;
    width: 52px;

}

.circle1 {
    position: fixed;
    right: 18px;
}


.range {
    width: 100%;
    height: 20px;
    accent-color: #38B200;
    
}

.rangeBgcolor {
    accent-color: #38B200;
    border-radius: 10px;
}




.box {
    display: flex;
    justify-content: center;
    align-items: start;

    margin-top: -24px;
    position: absolute;
    /* height: 108vh; */
    // height: 1280px;
    // height: 106vh;

    /* padding-bottom: 0; */
}

// .image-container {
//     width: 360px;
//     height: 801px;
//     padding: 0;
//     margin-top: -50px;
// }
.prof_src {
    width: 80px;
    border-radius: 100%;
    height: 80px;

}

.image-container {
    width: 360px;
    height: 801px;
    padding: 0;
    margin-top: -39px;
}

.first_row {
    width: 280px;
    height: 30px;
    position: relative;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}


.my_name {
    position: absolute;
    top: -20px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 15px;
}

.team_name {
    position: absolute;
    top: -20px;
    right: 15px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.second_row {
    width: 330px;
    position: absolute;
    top: 144px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 1px solid white;
}


.my_name_details {
    position: absolute;
    top: -20px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 15px;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.team_name_details {
    position: absolute;
    top: -20px;
    right: 15px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}
.profile_pic {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 9%;
    transform: translate(-50%, 0px);
}
.league_name {
    border-bottom: 25px solid #BF302E;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    width: 220px;
    left: 50%;
    position: absolute;
    top: 19%;
    transform: translate(-50%, 10px);
}

.leauge_name_details {
    position: absolute;
    /* top: -20px; */
    /* right: 15px; */
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    top: 4px;
}

.trophyAndRewards {
    width: 293px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;

}

.myTrophy {
    cursor: pointer;
    position: absolute;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -20px;
}

.trophy_img {
    margin-left: 4px;
}

.myRewards {
    position: absolute;
    cursor: pointer;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -20px;
    right: 4px;
}

.rewardsPoints {
    width: 91px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #ffffff;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}

.rewards_points {
    position: absolute;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    top: -22px;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #951610;
}

.reward_total_points {
    color: #951610;
    position: absolute;
    top: -22px;
    font-size: 8px;
    font-weight: bold;
    right: 0;
    width: 69%;
    text-align: center;
}

.reward {
    position: absolute;
    font-size: 6px;
    top: -12px;
    right: -1px;
    color: #951610;

}

.details_box {
    position: absolute;
    width: 262px;
    height: 146px;
    cursor: pointer;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -2px);
    background: linear-gradient(180deg, #243356 0%, #25385B 46.87%, #2C6691 100%);
}

.team_rank {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
}

.my_score {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
}

.my_rank {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
    margin-right: 15px;
}


.title_interactive {
    display: flex;
    justify-content: space-between;

}


.title_details {
    display: flex;
    justify-content: space-between;
}

.team_rank_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #FFFFFF;
    justify-content: center;
    width: 33%;

}

.my_score_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #F4BD34;
    justify-content: center;
    width: 33%;
    margin-left: 16px;
}

.my_rank_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #FFFFFF;
    justify-content: center;
    width: 33%;
    margin-left: 4px;
}

.dot {
    height: 45px;
    width: 45px;
    background-color: #2787C8;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ffca22;
    left: 12px;
    margin-top: -6px;

}

.run_scored {
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    position: absolute;

    color: #FFFFFF;
    width: -44%;
    /* left: 0; */
    /* top: 9px; */
    left: 50%;
    top: 26%;
    transform: translate(-50%, 0px);
}

.run_scored_box {
    width: 40px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 46px;
    left: 2px;
    background: #2D2C2A;
}
.text_run_scored {
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    width: 91%;
    font-weight: 700;
    font-size: 6.5px;
    line-height: 8px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 4px;
    margin-left: 2px;
    color: #FFFFFF;
}

.grid_circle {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

// Modal Css
.modal-content {
    // background-color: transparent;
    border: none;
    // margin-left:14%;
    // margin-top: 15%;
    // width: 72%;
    border-radius: 10px;
  
}

.close_btn{
    position:absolute;
    display:flex;
    justify-content: center;
    align-items:center;
    background: transparent;
    border: none;
    color: white;
}

.modalBodyBooster {
    display: flex;
    justify-content: center;
}


.closeBooster {
    position: absolute;
    top: 10px;
    right: 10px;
}


.PersonalMilestoneModal {
    .modal-body {
        display: flex;
        justify-content: center;
    }


    .modal-content {
        // background-color: transparent;
        border: none;
    }

    .btn-close {
        position: absolute;
        right: 10px;
        /* right: 100px; */
        top: 10px;
    }
}

// CSS For Weekly Modal


// ::-webkit-scrollbar {
//     width: 0.4rem;
//     height: 0.3em;
//     scroll-behavior: smooth;
// }

// /* Track */
// ::-webkit-scrollbar-track {
//     display: none;
//     box-shadow: inset 0 0 5px grey;
//     border-radius: 10px;
// }

// /* Handle */
// ::-webkit-scrollbar-thumb {
//     background: scroll;
//     border-radius: 10px;
//     background: #bbb;
// }

.WeeklyModal {


    .modal-body {
        display: flex;
        justify-content: center;
        background-image: url('../../../../assets/images/interactive-dashboard/BG.png');


    }


}

.ModalHeading {


    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 150%;
    /* identical to box height */

    // display: flex;
    // align-items: flex-end;
    // text-align: center;
    // letter-spacing: -0.02em;
    // font-feature-settings: 'pnum' on, 'lnum' on;

    color: #252525;
}

.modalDescription {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #000000;
}

.btn-reward {
    width: 79px;
    height: 25px;
    font-family: "Inter";
    border: none !important;
    background-color: #D9FFDE !important;
    border-radius: 3px;
}

.Number {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 32px !important;
    line-height: 41px;
    /* identical to box height */
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #252525;
}

.button-close {
    height: 22px;
    width: 22px;
    font-size: 12px;
    font-weight: bold;
    color:black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    /* color: #000000; */
    border: 1px solid #000000;
    background: transparent;
    padding-top: 2px;
}
.button-close-monthly{
    height: 22px;
    width: 22px;
    font-size: 12px;
    font-weight: bold;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // color:#ffff;
    border:1px solid #0000;
    // background: transparent;

    padding-top: 2px;



}

.Top5 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: #000000;
}

.infoIcon {
    width: 20px;
    height: 20px;
    border: 2px, solid, #000000;
}

.card-container-popup {
    position: relative;
    overflow-x: auto;
    

    .card {
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: 0px -2px 4px rgba(0, 0, 0, 0.25), 0px 2px 4px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        text-align: center;
        margin-right: 10px;

        .pic>img {
            border-radius: 100%;
        }

        .name .rank .score {
            font-family: 'Inter';
            font-weight: 500;
            font-size: 14px;
            text-align: center;
            white-space: nowrap;
            width: 10vw;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}


// Daily Modal CSS




.range {
    width: 100%;
    height: 20px;
    accent-color: #38B200;
    
}

.rangeBgcolor {
    accent-color: #38B200;
    border-radius: 10px;
}




.box {
    display: flex;
    justify-content: center;
    align-items: start;

    margin-top: -24px;
    position: absolute;
    /* height: 108vh; */
    // height: 1280px;
    // height: 106vh;

    /* padding-bottom: 0; */
}

// .image-container {
//     width: 360px;
//     height: 801px;
//     padding: 0;
//     margin-top: -50px;
// }
.prof_src {
    width: 80px;
    border-radius: 100%;
    height: 80px;

}

.image-container {
    width: 360px;
    height: 801px;
    padding: 0;
    margin-top: -39px;
}

.first_row {
    width: 280px;
    height: 30px;
    position: relative;
    top: 120px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}


.my_name {
    position: absolute;
    top: -20px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 15px;
}

.team_name {
    position: absolute;
    top: -20px;
    right: 15px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;

}

.second_row {
    width: 330px;
    position: absolute;
    top: 144px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    border-bottom: 1px solid white;
}


.my_name_details {
    position: absolute;
    top: -20px;
    font-family:'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    left: 15px;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.team_name_details {
    position: absolute;
    top: -20px;
    right: 15px;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
}

.profile_pic {
    position: absolute;
    cursor: pointer;
    left: 50%;
    top: 9%;
    transform: translate(-50%, 0px);
}

.league_name {
    border-bottom: 25px solid #BF302E;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
    width: 220px;
    left: 50%;
    position: absolute;
    top: 19%;
    transform: translate(-50%, 10px);
}

.leauge_name_details {
    position: absolute;
    /* top: -20px; */
    /* right: 15px; */
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    white-space: nowrap;
    width: 187px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    top: 4px;
}

.trophyAndRewards {
    width: 293px;
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #2b3766;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;

}

.myTrophy {
    cursor: pointer;
    position: absolute;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -20px;
}

.trophy_img {
    margin-left: 4px;
}

.myRewards {
    position: absolute;
    cursor: pointer;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    top: -20px;
    right: 4px;
}

.rewardsPoints {
    width: 91px;
    position: absolute;
    top: -12px;
    left: 50%;
    transform: translate(-50%, -50%);
    border-top: 25px solid #ffffff;
    border-right: 16px solid transparent;
    border-left: 16px solid transparent;
}

.rewards_points {
    position: absolute;
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    top: -22px;
    font-size: 10px;
    text-transform: uppercase;
    color: #FFFFFF;
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    /* identical to box height */


    color: #951610;
}

.reward_total_points {
    color: #951610;
    position: absolute;
    top: -22px;
    font-size: 8px;
    font-weight: bold;
    right: 0;
    width: 69%;
    text-align: center;
}

.reward {
    position: absolute;
    font-size: 6px;
    top: -12px;
    right: -1px;
    color: #951610;

}

.details_box {
    position: absolute;
    width: 262px;
    height: 146px;
    cursor: pointer;
    left: 50%;
    top: 27%;
    transform: translate(-50%, -2px);
    background: linear-gradient(180deg, #243356 0%, #25385B 46.87%, #2C6691 100%);
}

.team_rank {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    margin-left: 15px;
    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
}

.my_score {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
}

.my_rank {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 10px;

    margin-top: 10px;
    font-weight: bold;
    /* line-height: 13px; */
    color: #FFFFFF;
    margin-right: 15px;
}


.title_interactive {
    display: flex;
    justify-content: space-between;
}


.title_details {
    display: flex;
    justify-content: space-between;
}

.team_rank_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #FFFFFF;
    justify-content: center;
    width: 33%;

}

.my_score_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #F4BD34;
    justify-content: center;
    width: 33%;
    margin-left: 16px;
}

.my_rank_details {
    font-family: "Swiss921 BT";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    display: flex;
    font-weight: bold;
    margin-top: -16px;
    color: #FFFFFF;
    justify-content: center;
    width: 33%;
    margin-left: 4px;
}

.dot {
    height: 45px;
    width: 45px;
    background-color: #2787C8;
    border-radius: 50%;
    display: inline-block;
    border: 1px solid #ffca22;
    left: 12px;
    margin-top: -6px;

}

.run_scored {
    font-family: "Swis721 Cn BT";
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    position: absolute;

    color: #FFFFFF;
    width: -44%;
    /* left: 0; */
    /* top: 9px; */
    left: 50%;
    top: 26%;
    transform: translate(-50%, 0px);
}

.run_scored_box {
    width: 40px;
    height: 25px;
    background-color: white;
    position: absolute;
    top: 46px;
    left: 2px;
    background: #2D2C2A;
}

.text_run_scored {
    font-family: 'Swis721 Cn BT';
    font-style: normal;
    width: 91%;
    font-weight: 700;
    font-size: 6.5px;
    line-height: 8px;
    text-align: center;
    text-transform: capitalize;
    margin-top: 4px;
    margin-left: 2px;
    color: #FFFFFF;
}

.grid_circle {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.profile-section{
    height: 33.5vh;
    width: 19vw !important;
    border-radius: 8px;    
}
.box1{
height: 13vh;

}
.box2{
height: 20vh;
border-radius: 8px;

// border-top: 4px solid #ffffff;

}
::ng-deep .mat-expansion-indicator::after {
    color: white;
  }

  
.baddge-section-card{
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100% 100%;
    width:12vw;
    height:23vh;
    border-radius: 11px;

  }
  .bg-image{
    background-repeat: no-repeat;
    background-position: inherit;
    background-size: 100% 100%;
    width: 34vw;
    height: 20vh;
    padding-top: 2vh;
    padding-left: 1vw;
    border-radius: 8px;

  }

//   progress bar


.animation-bar-1 {
  
    display: block;
  
 
    font-size: 16px;
   
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}
.animation-bar{
    display: block;

    font-size: 16px;
    border-radius: 30px;
    .border-left{
        border-left:2px solid #8EC912;
        height:3vh;
    }
}
.badges_row{
    display: flex;
    // justify-content: start;
    // gap:23%;

}
.Progressscore{
    font-size:1.1vw;font-weight: 600;font-family:'Inter';
    height:35px;
    width:35px;
    border-radius:50%;
    // margin-left:-10%;
    margin-left: -1.2vw;
    color:#8EC912;
    font-size:3vh;
    // border:1px solid black;
    text-align:center;
    display:grid;
    place-content: center;
}
.animation-bar-1 span {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 24px;
    
   
    overflow: hidden;
    // background-size: 150%;
    background: linear-gradient(90deg, #77B711 -4.86%, #D9FF15 11.93%, #77B711 27.8%, #D8FE15 42.73%, #8EC912 58.91%, #D8FE15 71.54%, #8EC912 84.16%, #D8FE15 103.82%);
    border-radius: 20px;
    animation: progress-anim-1 10s infinite linear;
}

.animation-bar-1 span:after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-image: linear-gradient(45deg, #ffffff 25%,
                                        rgba(0, 0, 0, 0) 25%,
                                        rgba(0, 0, 0, 0) 50%,
                                        #ffffff 50%,
                                        #ffffff 75%,
                                        rgba(0, 0, 0, 0) 75%,
                                        rgba(0, 0, 0, 0));
    background-size: 30px 30px;
    opacity: 0.3;
    animation: progress-anim-1-after 0.5s infinite linear;
}
// @keyframes progress-anim-1 {
//     0% {
//         width: 20%;
//     }
//     50% {
//         width: 80%;
//     }
//     100% {
//         width: 20%;
//     }
// }

// @keyframes progress-anim-1-after {
//     0% {
//         background-position: 0 100%;
//     }
//     100% {
//         background-position: 30px 100%;
//     }
// }


@media screen and (min-width:1023px)  and (max-width:1180px) {
    .name_h{
        margin-left: 3vw;
    }
  .inner_content{
    width: 100%;
  }
    
  .inner_content_daily1{
    width: 65%;

  }
    
}
.bulletins-sub-card-body{
    background: #FFFFFF;
    box-shadow: 0px 0px 0px 0.765385px #E8E8E8, 0px 0px 1.53077px rgba(0, 0, 0, 0.12), 0px 15.3077px 15.3077px rgba(0, 0, 0, 0.02);
    border-radius: 11.4808px;
    border: 1px solid #cfc6c6;
    padding: 5px 10px;
}
.badge-level_name{
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 2.2vh;
    line-height: 2.4vh;
    text-align: center;
    letter-spacing: 0.2px;
    color: #000000;
    padding: 1vh;
    border-radius: 10px;    
    margin-top: 1vh;
}
 
