@media (min-width: 800px) and (max-width: 1280px) {
    .profile-pwd-eye {
        right: -14px !important;
        top: 40px !important;
    }

    .profile-f-c-width {
        // width: 245px;
    }

    .profile-card-body {
        padding-bottom: 20%;
    }

    .profile-card-update {
        margin-top: 16%;
    }
}

@media (min-width: 1360px) and (max-width: 1366px) {
    .profile-pwd-eye {
        right: -4px !important;
        top: 41px !important;
    }

    .profile-f-c-width {
        // width: 245px;
    }

    .profile-card-body {
        padding-bottom:1%;
    }

    .profile-card-update {
        margin-top: 16%;
    }
}

@media (min-width: 1400px) and (max-width: 1440px) {
    .profile-pwd-eye {
        right: 12px !important;
        top: 42px !important;
    }

    .profile-f-c-width {
        // width: 245px;
    }

    .profile-card-body {
        padding-bottom:1%;
    }

    .profile-card-update {
        margin-top: 16%;
    }
}

@media (min-width: 1580px) and (max-width: 1600px) {
    .profile-pwd-eye {
        right: 46px !important;
        top: 40px !important;
    }

    .profile-f-c-width {
        width: auto;
    }

    .profile-card-body {
        padding-bottom:1%;
    }

    .profile-card-update {
        margin-top: 16%;
    }
}

@media (min-width: 1620px) and (max-width: 1680px) {
    .profile-pwd-eye {
        right: 62px !important;
        top: 41px !important;
    }

    .profile-f-c-width {
        width: auto;
    }

    .profile-card-body {
        padding-bottom:1%;
    }

    .profile-card-update {
        margin-top: 16%;
    }
}

@media (min-width: 1900px) and (max-width: 1920px) {
    .profile-pwd-eye {
        right: 111px !important;
        top: 41px !important;
    }

    .profile-f-c-width {
        width: auto;
    }

    .profile-card-body {
        padding-bottom:1%;
    }

    .profile-card-update {
        margin-top: 16%;
    }
}

@media (min-width: 2020px) and (max-width: 2048px) {
    .profile-pwd-eye {
        right: 144px !important;
        top: 40px !important;
    }

    .profile-f-c-width {
        width: auto;
    }

    .profile-card-body {
        padding-bottom:1%;
    }

    .profile-card-update {
        margin-top: 16%;
    }
}

@media (min-width: 2049px) and (max-width: 2560px) {
    .profile-pwd-eye {
        right: 20px !important;
        top: 47px !important;
    }

    .profile-f-c-width {
        width: 100%;
    }

    .profile-card-body {
        padding-bottom:1%;
    }

    .profile-card-update {
        margin-top: 16%;
    }
}


.pwd-eye1 {
    float: right;
    margin-right:15px;
    margin-top: -30px;
    position: relative;
}
label{
    margin: 0px;
}