<div id="cont">
  <div class="main">
    <div class="mytabs">
      <input type="radio" id="tab-1" name="mytabs" checked="checked">
      <!-- ******************************************** Rewards Tab ********************************************************************     -->
      <label class="reward_tab" for="tab-1">Rewards</label>

      <div class="tab" *ngFor="let reward of rewardresponse">
        <img class="rewardpoints" src="assets/images/rewards/Reward point.png">
        <p class="totalpoints" *ngFor="let points of rewardresponse">{{points.data.points_list[0]._data.rewardPoints}}
        </p>
        <mat-tab-group *ngFor="let reward of rewardresponse">

          <!-- ******************************************* Platform Reward Tab ********************************************************************     -->
          <mat-tab  [ngStyle]="{'background': headerInfo?.color}" label="{{reward.data.rewardTypes[0].rewardName}}" >
            <hr>
            <div class="button_platform">
              <div class="row">
                <div class="col-md-3 col-12 col-sm-6 ">
                  <mat-card class="platform_mat_card">
                    <img class="platform_image" src="assets/images/rewards/Platform_reward.jpg"/>
                    <button class="redeem_btn" type="button" (click)="navigateToLogicalBaniya()">Redeem</button>
                  </mat-card>
                </div>
              </div>
              
             
            </div>
            <!-- {{i.[0].data[0].rewardpoints[0].rewardName}} -->
          </mat-tab>
          <!-- **************************************** Organisation Reward Tab ********************************************************************     -->

          <mat-tab label="{{reward.data.rewardTypes[1].rewardName}}">
            <hr>

            <div class="row">

            </div>
            <div class="row">
              <div class="col-md-3 col-sm-6 " *ngFor="let rewardlist of reward.data.rewardTypes[1].rewardList;">
                <mat-card *ngIf="reward.data.rewardTypes[1].rewardList.length > 0">
                  <div class="product_image_div">
                    <img src="{{rewardlist.reward_logo}}" class="productimage" alt="Productimage">

                  </div>
                  <div>

                    <p class="product_description">{{rewardlist.name}}</p>

                  </div>
                  <div>
                    <p class="product_cost"> {{rewardlist.redeem_point}}</p>

                  </div>

                  <div class="btn_div">
                    <!-- <img data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="redeemed_popup_logo"  src="assets/images/rewards/redeemed.png"> -->
                    <button (click)="redemeedOrg(rewardlist)" data-bs-toggle="modal" data-bs-target="#staticBackdrop1"
                      type="button" class="redeem_btn">Redeem</button>
                  </div>
                </mat-card>

              </div>

              <div *ngIf="reward.data.rewardTypes[1].rewardList.length == 0" >

               
                <p class="error_organisation_reward">No Data Available</p>
              </div>
            </div>



          </mat-tab>

        </mat-tab-group>

      </div>

      <input type="radio" id="tab-2" name="mytabs">
      <label class="passbook_tab" for="tab-2">Passbook</label>
      <!-- ******************************************* Passbook Tab ********************************************************************     -->

      <div class="tab" *ngFor="let points of rewardresponse">
        <img class="rewardpoints" src="assets/images/rewards/Reward point.png">
        <p class="totalpoints">{{points.data.points_list[0]._data.rewardPoints}}</p>
        <mat-tab-group>
          <!-- ***************************************  Points Table Tab ********************************************************************     -->

          <mat-tab label="{{points.data.points_list[0].label}}">
            <hr>

            <div class="table_div">
              <!-- <span>
                 <p class="from_datepicker">From</p>
                 
                 
                 <input class="datepicker_from" type="date" name="dateofbirth" id="dateofbirth" data-date-format="DD MMMM YYYY" >
                 <p class="to_datepicker">To</p>

                 <input class="datepicker_to" type="date" name="dateofbirth" id="dateofbirth">
                </span> -->
              <div>
                <input class="search" type="search" name="search" [(ngModel)]="searchText" autocomplete="off"
                  placeholder=" Search">

              </div>
              <div class="table-container">
                <table id="example1" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col">Source</th>
                      <th scope="col">Points</th>
  
  
                    </tr>
                  </thead>
                  <tbody *ngFor="let response of rewardresponse">
                    <tr
                      *ngFor="let pointTable of response.data.points_list[0]._data.reward_point_dist | filter:searchText">
                      <td class="col-md-10 col-sm-10">{{pointTable.tag_Label}}</td>
                      <td class="col-md-2 col-sm-2"> {{pointTable.reward_points}}</td>
  
  
                    </tr>
  
                  </tbody>
                </table>
  
              </div>
              

            </div>
          </mat-tab>

          <!-- ***************************************  Passbook DataTable Tab ********************************************************************     -->

          <mat-tab label="{{points.data.points_list[1].label}}">
            <hr>


            <div class="table_div">
              <div>
                <input class="search" type="search" name="search" [(ngModel)]="searchText" autocomplete="off"
                  placeholder=" Search">
              </div>
              <div class="table-container">
                <table id="example" class="table table-striped">
                  <thead>
                    <tr>
                      <th scope="col" (click)="sortList('date_time')">Date
                        <!-- <img class="up_down_arrow" src="assets/images/rewards/up_down_arrow.png"> -->
                        &nbsp;<div *ngIf="reverse; then downFilter1 else upFilter1" ></div>
                        <ng-template #downFilter1>
                          <img src="assets/images/playZone/images/filterDown.png" alt="up_arrow" width="8px" >
                        </ng-template>
                        <ng-template #upFilter1>
                          <img src="assets/images/playZone/images/filterUp.png" alt="down_arrow" width="8px">
                        </ng-template>
                      </th>
                      <th scope="col">Source</th>
                      <th scope="col">Earned
                        <!-- <img class="up_down_arrow" src="assets/images/rewards/up_down_arrow.png"> -->
                      </th>
                      <th scope="col">Redeemed
                        <!-- <img class="up_down_arrow" src="assets/images/rewards/up_down_arrow.png"> -->
                      </th>
                      <th scope="col">Balance</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let response of rewardresponse">
                    <tr *ngFor="let passbookresponse of response.data.points_list[1]._data |orderBy: key : reverse |filter:searchText ">
                      <td class="col-md-2 col-sm-1">{{passbookresponse.date_time | date: 'dd/MM/yyyy' }}</td>
                      <td class="col-md-4 col-sm-3">{{passbookresponse.description_}}</td>
                      <td *ngIf="passbookresponse.points_credited!=='' " class="col-md-2 col-sm-3">{{passbookresponse.points_credited  | number : '1.2-2'}}</td>
                      <td *ngIf="passbookresponse.points_credited==='' " class="col-md-2 col-sm-3">-</td>

                      <td *ngIf="passbookresponse.points_debited!=='' " class="col-md-2 col-sm-3">
                        {{passbookresponse.points_debited  | number : '1.2-2'}}
                        <img data-bs-toggle="modal" data-bs-target="#staticBackdrop" class="redeemed_popup_logo"
                          src="assets/images/rewards/redeemed.png" (click)="popupRedemed(passbookresponse)">
  
  
  
                      <td *ngIf="passbookresponse.points_debited==='' " class="col-md-2">
                        -
                      </td>
  
                      <td class="col-md-2">{{passbookresponse.balance  | number : '1.2-2'}}</td>
  
                    </tr>
  
                  </tbody>
                </table>
  
              </div>
              
            </div>


          </mat-tab>

          <!-- ***************************************  Redemption History Tab ********************************************************************     -->

          <mat-tab label="{{points.data.points_list[2].label}}">
            <hr>
            <div class="select_container d-flex justify-content-end mr-3">
              <select (change)="onChange($event)" class="form-control form-select form-select-sm" aria-label=".form-select-lg example">
                <option class="option_select m-5" *ngFor="let pointselect of points.data.points_list[2]._data" [value]="pointselect.order"
                  selected="pointselect.order">{{pointselect.label}}</option>

              </select>
            </div>

            <!-- ***************************************  Platform Reward Redemption History ********************************************************************     -->
<div >
  <div class="redemption_card_div" *ngIf="value=='2'">
    <div *ngFor="let pointselectorder2 of points.data.points_list[2]._data[1]._data; let k=index">

      <mat-card class="redemption_card" *ngIf="points.data.points_list[2]._data[1]._data.length >0">
        <div class="row">
          <div class=" col-md-3 col-xs-2 col-lg-2">
            <div class="coupon_div">
              <p class="coupon_id">Coupon ID:</p>
              <p class="coupon_id_number">{{pointselectorder2.couponid}}</p>


            </div>
            <div class="redemption_image_div">
              <img class="product_image_redemption" src="{{pointselectorder2.image}}">

            </div>

            <p class="cost_redemption"> {{pointselectorder2.rewardcount}} </p>


          </div>
          <div class=" col-md-9 col-xs-10 col-lg-10">
            <div class="details">
              <p class="product_name_redemption">{{pointselectorder2.rewards}}</p>
              <p class="product_full_description">{{pointselectorder2.coupondescription | slice:0:90}}<span
                  [id]="'dots'+k"></span> <span style="display:none;" [id]="'more'+k">{{pointselectorder2.coupondescription |
                  slice:90}}</span><br><span class="moreText" [id]="'more_text'+k"  (click)="showhidetext(k)" >More</span> </p>
              <!-- <p >More</p> -->
              <!-- <p class="product_full_description">{{pointselectorder2.coupondescription}}<span id="dots">...</span> <span id="more">{{pointselectorder2.coupondescription}}</span ><br><span (click)="showhidetext()" id="more_text">More</span> </p> -->

            </div>

            <div class="coupon_div_1">

              <p class="coupon_code_number">Coupon Code: {{pointselectorder2.couponcode}}</p>
              <!-- <p class="coupon_code"></p> -->

            </div>

            <div class="expiry_date">
              <p> Expiry Date: {{pointselectorder2.expirydate | date: 'dd/MM/yyyy'}}</p>
            </div>

          </div>
        </div>





      </mat-card>


     
    </div>


    <div class="organisation_redemption_history" *ngIf="points.data.points_list[2]._data[1]._data.length ==0">
      
      <img class="no_data_reward_image" src="assets/images/rewards/no_redeem_rewad.png"/>
      <p class="no_data_reward_message">You have not redeemed any rewards yet !

      </p>
   </div>

  </div>

</div>
         
            <!-- ***************************************  Organisation Reward Redemption History ********************************************************************     -->

            <div>


              <div *ngIf="value=='1'">
                <div class="row">
                  <div class="col-md-3 col-sm-12 org_redem_div "
                    *ngFor="let pointselectorder3 of points.data.points_list[2]._data[0]._data">
                    <mat-card class="organisation_redemption_history" *ngIf="points.data.points_list[2]._data[0]._data.length > 0">
                      <div class="product_image_div">
                        <img src="{{pointselectorder3.reward_logo}}" class="productimage" alt="Productimage">

                      </div>
                      <div>
                        <p class="product_description">{{pointselectorder3.rewards}}</p>

                      </div>
                      <div>
                        <p class="product_cost"> {{pointselectorder3.points}}</p>

                      </div>


                    </mat-card>

                  </div>

                  <div class="organisation_redemption_history" *ngIf="points.data.points_list[2]._data[0]._data.length == 0">
                    <img class="no_data_reward_image" src="assets/images/rewards/no_redeem_rewad.png"/>
                    <p class="no_data_reward_message">You have not redeemed any rewards yet !

                    </p>
                    <!-- <p class="error_mssg_organisation_redemption">No Data Available</p> -->

                  </div>

                </div>
              </div>


            </div>

          </mat-tab>
        </mat-tab-group>

      </div>


    </div>
  </div>

  <!-- ***************************************  Organisation Reward Redemption History ********************************************************************     -->


  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content passbookModal">
        <div class="modal-header popup_Header">
          <!-- <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5> -->
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div>
            <div class="redemption_card">
              <div class="row" *ngFor="let popup of popupresponse; let k=index">
                <div class=" col-md-4 col-lg-4 ">
                  <div class="coupon_div_popup" *ngIf="popup.data.couponid != null">
                    <p class="coupon_id_popup">Coupon ID:{{popup.data.couponid}} </p>


                  </div>
                  <div class="redemption_image_div_popup" *ngIf="popup.data.couponcode != null">
                    <img class="product_image_redemption_popup" src="{{popup.data.reward_logo}}">

                  </div>

                  <div class="redemption_image_div_popup" *ngIf="popup.data.couponcode == null">
                    <img class="product_image_redemption_popup_org" src="{{popup.data.reward_logo}}">

                  </div>


                  <p *ngIf="popup.data.couponcode != null" class="cost_redemption_popup"> {{popup.data.points}} </p>
                  <p *ngIf="popup.data.couponcode == null" class="cost_redemption_popup_org"> {{popup.data.points}} </p>


                </div>
                <div class=" col-md-8  col-lg-8 ">
                  <div class="coupon_div_1_popup" *ngIf="popup.data.couponcode != null">

                    <p class="coupon_code_number_popup">Coupon Code: {{popup.data.couponcode}}</p>

                  </div>
                  

                  <div class="details_popup">
                    <div *ngIf="popup.data.couponcode != null">
                      <p class="product_name_redemption_popup">{{popup.data.rewards}}</p>

                    </div>
                    <div *ngIf="popup.data.couponcode == null">
                      <p class="product_name_redemption_popup_org">{{popup.data.rewards}}</p>

                    </div>
                    <!-- <p class="product_full_description_popup">{{popup.data.coupondescription | slice:0:290}}
                    </p> -->
                    <p class="product_full_description_popup">{{popup.data.coupondescription | slice:0:345}}<span
                      [id]="'dots'+k"></span> <span style="display:none;" [id]="'more'+k">{{popup.data.coupondescription |
                      slice:346}}</span><br><span  *ngIf="popup.data.couponid != null" class="moreText" [id]="'more_text'+k"  (click)="showhidetext(k)" >More</span> </p>
                  </div>





                </div>
              </div>





            </div>

          </div>
        </div>
       <div  *ngFor="let popup of popupresponse">
        <div class="modal-footer" *ngIf="popup.data.expirydate != null">
          <div class="expiry_date_popup"  >
            <p> Expiry Date:{{popup.data.expirydate | date: 'dd/MM/yyyy'}} </p>
          </div>         
        </div>
       </div>
        


      </div>
    </div>
  </div>



  <!-- *************************************************** Organisation Reward Popup ************************************ -->
  <div class="modal fade" id="staticBackdrop1" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content passbookModal" *ngFor="let model of modeldata;">
        <div class="modal-header popup_Header">
          <h5 class="modal-title1" id="staticBackdropLabel">Redeem Rewards</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">


          <div>
            <div class="redemption_card">
              <div class="row">
                <div class=" col-md-8 col-lg-8 col-7">

                  <div class="right_side_div">
                    <div *ngFor="let reward of rewardresponse">
                      <p *ngFor="let points of rewardresponse">Available Points:
                        {{points.data.points_list[0]._data.rewardPoints}}</p>
                    </div>
                    <div>
                      <p>{{model.name}}</p>
                    </div>

                    <div>
                      <p>Pick for {{model.redeem_point}} points</p>
                    </div>
                  </div>



                </div>
                <div class=" col-md-4  col-lg-4 col-5">


                  <div>
                    <img class="popup_logo_org" style="max-width: 111px;" src="{{model.reward_logo}}">
                  </div>




                </div>
              </div>





            </div>

          </div>
        </div>
        <div class="modal-footer">
          <div class="balance_div" *ngFor="let reward of rewardresponse">
            <p *ngFor="let points of rewardresponse">Balance Point:
              {{points.data.points_list[0]._data.rewardPoints-model.redeem_point}} </p>
          </div>
          <div class="expiry_date_popup">
            <button class="redeem_organisation"  data-bs-dismiss="modal" (click)="organisationrewardredeem(modeldata)">Redeem</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>