/* Card Slider styles */
.card-slider {
    display: flex;
  }
  
  .card {
    /* Add styles for the unselected cards */
    height: 10vh;
  }
  
  .card.selected {
    /* Add styles for the selected card */
    height: 20vh;
  }
  
  .btn{
    background: var(--myvar);
    color: #ffffff;
  }

  .account-pages{
    background-color: #ffff;
    height: 91vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    
    
}
::ng-deep{
    .page-content {
        padding: 71px 0px 0px 0px !important;
    }
    
    


}