<!-- <div class="account-pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <h1 class="display-2 fw-medium">C<i class="bx bx-buoy bx-spin text-success display-3"></i>ming Soon</h1>
                   
                    <div class="mt-5 text-center">
                        <a class="btn btn-primary" routerLink="/">Back to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div>
                    <img src="assets/images/comingSoon/CoroebusSpectatorView.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div> 
 -->



 <!-- <div class="account-pages">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="text-center mb-5">
                    <h1 class="display-2 fw-medium">C<i class="bx bx-buoy bx-spin text-success display-3"></i>ming Soon</h1>
                   
                    <div class="mt-5 text-center">
                        <a class="btn btn-primary" routerLink="/">Back to Dashboard</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8 col-xl-6">
                <div>
                    <img src="assets/images/comingSoon/CoroebusSpectatorView.png" alt="" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</div> -->

<div class="container-fluid">
    <div class="row" *ngFor="let response of spectator_dashoard_response">

        <!------------------------------------------------- Notification  ----------------------------------------------------->
        <div class="col-3">
            <mat-card class="web_notification_card">
                <div>
                    <h6 class="web_notification_header">
                        Notifications
                    </h6>

                    <div class="d-flex justify-content-center align-items-center web_no_notifications">
                        <p class="web_notification_message">There's no Notifications you have subscribed to, stay tuned to this section for more.</p>
                    </div>
                    <!-- <div class="web_div_inner_notification">
                        <mat-card class="web_notification">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <img class="web_notification_image"
                                        src="assets/images/specatator-dashboard/Video_Logo.png" />
                                </div>
                                <div class="col-9 d-flex flex-column justify-content-between">
                                    <div>
                                        <h6 class="web_notification_title">Spot Games</h6>

                                    </div>
                                    <div class="d-flex align-items-end">
                                        <p class="web_notification_details">Today at 9:42 AM</p>
                                    </div>
                                </div>
                            </div>

                        </mat-card>

                        <mat-card class="web_notification">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <img class="web_notification_image"
                                        src="assets/images/specatator-dashboard/Video_Logo.png" />
                                </div>
                                <div class="col-9 d-flex flex-column justify-content-between">
                                    <div>
                                        <h6 class="web_notification_title">Spot Games</h6>

                                    </div>
                                    <div class="d-flex align-items-end">
                                        <p class="web_notification_details">Today at 9:42 AM</p>
                                    </div>
                                </div>
                            </div>

                        </mat-card>



                        <mat-card class="web_notification">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <img class="web_notification_image"
                                        src="assets/images/specatator-dashboard/Video_Logo.png" />
                                </div>
                                <div class="col-9 d-flex flex-column justify-content-between">
                                    <div>
                                        <h6 class="web_notification_title">Spot Games</h6>

                                    </div>
                                    <div class="d-flex align-items-end">
                                        <p class="web_notification_details">Today at 9:42 AM</p>
                                    </div>
                                </div>
                            </div>

                        </mat-card>


                        <mat-card class="web_notification">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <img class="web_notification_image"
                                        src="assets/images/specatator-dashboard/Video_Logo.png" />
                                </div>
                                <div class="col-9 d-flex flex-column justify-content-between">
                                    <div>
                                        <h6 class="web_notification_title">Spot Games</h6>

                                    </div>
                                    <div class="d-flex align-items-end">
                                        <p class="web_notification_details">Today at 9:42 AM</p>
                                    </div>
                                </div>
                            </div>

                        </mat-card>



                        <mat-card class="web_notification">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <img class="web_notification_image"
                                        src="assets/images/specatator-dashboard/Video_Logo.png" />
                                </div>
                                <div class="col-9 d-flex flex-column justify-content-between">
                                    <div>
                                        <h6 class="web_notification_title">Spot Games</h6>

                                    </div>
                                    <div class="d-flex align-items-end">
                                        <p class="web_notification_details">Today at 9:42 AM</p>
                                    </div>
                                </div>
                            </div>

                        </mat-card>



                        <mat-card class="web_notification">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <img class="web_notification_image"
                                        src="assets/images/specatator-dashboard/Video_Logo.png" />
                                </div>
                                <div class="col-9 d-flex flex-column justify-content-between">
                                    <div>
                                        <h6 class="web_notification_title">Spot Games</h6>

                                    </div>
                                    <div class="d-flex align-items-end">
                                        <p class="web_notification_details">Today at 9:42 AM</p>
                                    </div>
                                </div>
                            </div>

                        </mat-card>




                        <mat-card class="web_notification">
                            <div class="row">
                                <div class="col-3 d-flex align-items-center">
                                    <img class="web_notification_image"
                                        src="assets/images/specatator-dashboard/Video_Logo.png" />
                                </div>
                                <div class="col-9 d-flex flex-column justify-content-between">
                                    <div>
                                        <h6 class="web_notification_title">Spot Games</h6>

                                    </div>
                                    <div class="d-flex align-items-end">
                                        <p class="web_notification_details">Today at 9:42 AM</p>
                                    </div>
                                </div>
                            </div>

                        </mat-card>
                    </div> -->

                </div>

            </mat-card>
        </div>


        <!------------------------------------------------- Center  ----------------------------------------------------->

        <div class="col-6 g-0">
            <mat-card class="web_profile_card">
                <div class="d-flex justify-content-center">
                    <p class="web_upper_label">Spectator View</p>
                </div>
  

                <div class="d-flex align-items-center web_select_div">
  
                    <select class="web_select_dropdown" [(ngModel)]="selected" name="status" placeholder="select" (ngModelChange)="onOptionsSelected()">
                        <option class="web_option" *ngFor="let web_dropdown_reponse of spectator_group_list[0].data" [ngValue]="web_dropdown_reponse.id_coroebus_group">{{web_dropdown_reponse.group_name}}</option>
                    </select>

                    
                    <!-- <select class="form-select" id="dropdown_id" (change)="getSpectatorViewWebService($event.target.value)">
                        <option *ngFor="let web_dropdown_reponse of spectator_group_list[0].data;let i=index"  value="{{web_dropdown_reponse.id_coroebus_group}}">
                            {{web_dropdown_reponse.group_name}}
                        </option>
                    </select> -->
                     <!-- <select class="browser-default custom-select web_select_dropdown">
                        
                            <option selected (change)="filterSpectatorDropdown(spectator_group_list_final[0].id_coroebus_group)"> 
                                <div *ngFor="let web_dropdown_reponse of spectator_group_list_final; let i=index" >
                                    <div *ngIf="i==0">
                                        {{web_dropdown_reponse.group_name}}
                                    </div>
                                </div>
                                </option>
                           
                            <option >
                            <div *ngFor="let web_dropdown_reponse of spectator_group_list_final; let i= index" (click)="filterSpectatorDropdown(spectator_group_list_final[0].id_coroebus_group)">
                                <div *ngIf="i!=0"> 
                                    {{web_dropdown_reponse.group_name}}


                                </div>
                                </div>
                            </option>
                         
                           
                      </select>  -->

                    
                  </div>
                  
             
               

            </mat-card>


          
            <div class="row web_button_row">
                <div class="col-3">
                    <input type="radio" id="tab-1" name="mytabs" [checked]="checked1" value="response.data.ranking[0].label" (click)="filterRankwiseLeaderboard(response.data.ranking[0].label)" >
                    <label class="cm_tab" for="tab-1">{{response.data.ranking[0].label}}</label>

                </div>
                <div class="col-3">
                    <input type="radio" id="tab-2" name="mytabs" [checked]="checked2" value="response.data.ranking[1].label" (click)="filterRankwiseLeaderboard(response.data.ranking[1].label)">
                    <label class="am_tab" for="tab-2">{{response.data.ranking[1].label}}</label>
                </div>
                <div class="col-3">
                    <input type="radio" id="tab-3" name="mytabs" [checked]="checked3" value="response.data.ranking[2].label" (click)="filterRankwiseLeaderboard(response.data.ranking[2].label)">
                    <label class="rm_tab" for="tab-3">{{response.data.ranking[2].label}}</label>
                </div>
                <div class="col-3">
                    <input type="radio" id="tab-4" name="mytabs"[checked]="checked4"  value="response.data.ranking[3].label" (click)="filterRankwiseLeaderboard(response.data.ranking[3].label)">
                    <label class="nsm_tab" for="tab-4">{{response.data.ranking[3].label}}</label>
                </div>
            </div>


            <div class="row">
                <div class="col-10 mt-4">
                    <div>
                        <input type="text" class="form-control web_dashboard-search" placeholder="Search People here.." 
                        [(ngModel)]="spectSearchStr" aria-label="Search People here.."
                        aria-describedby="basic-addon2" (keyup.enter)="spectSearch()"
                            aria-label="Search People here.." aria-describedby="basic-addon2">

                    </div>
                </div>
                <div class="col-2  mt-4">
                    <button type="button" class="btn btn-primary web_spectator_search_button" (click)="spectSearch()"><i class="fa fa-search"
                            aria-hidden="true"></i></button>
                </div>
            </div>

            <div class="row mt-1">
                <div class="col-2">
                    <p class="web_spectator_label">Rank</p>
                </div>

                <div class="col-6">
                    <p class="web_spectator_label_name">Name</p>
                </div>

                <div class="col-4">
                    <p class="web_spectator_label_points">Points</p>
                </div>

            </div>








            <div class="row web_spectator_leaderboard_section" *ngIf="spectSearList == null">
                <div class="col-12 mt-1 web_leaderboard" >
                    <div *ngFor="let spectatorleaderboardreponse of spectator_user_list">
                        <mat-card class="web_spectator_leaderboard" style="background: url({{spectatorleaderboardreponse.ranking_image}}); background-size: 100% 100%;">
                            <div class="row d-flex align-items-center" >
                                <div class="col-1">
                                    <p class="web_spectator_rank">{{spectatorleaderboardreponse.rankingtable_number}}</p>
                                </div>
                                <div class="col-1">
                                    <img class="web_spectator_profile_image"
                                        src="{{spectatorleaderboardreponse.rankingtable_logo}}" />
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="web_spectator_name">{{spectatorleaderboardreponse.rankingtable_name}}</p>
    
                                    </div>
                                    <div>
                                        <p class="web_spectator_team">{{spectatorleaderboardreponse.rankingtable_team}}</p>
                                    </div>
                                </div>
    
                                <div class="col-1">
                                    <img class="web_spectator_badge"
                                        src="{{spectatorleaderboardreponse.teamlogo}}" />
                                </div>
    
                                <div class="col-2">
                                    <p class="web_spectator_points">{{spectatorleaderboardreponse.rankingtable_weightage}}</p>
                                </div>
    
                                <div class="col-1" *ngIf="spectatorleaderboardreponse.rankingtable_arrow == 'green'">
                                    <img class="web_spectator_up_down_arrow"
                                        src="{{response.data.theme_details[0].up_arrow}}" />
                                </div>
                                <div class="col-1" *ngIf="spectatorleaderboardreponse.rankingtable_arrow == 'red'">
                                    <img class="web_spectator_up_down_arrow"
                                        src="{{response.data.theme_details[0].down_arrow}}" />
                                </div>
                                <div class="col-1" *ngIf="spectatorleaderboardreponse.rankingtable_arrow == 'yellow'">
                                    <img class="web_spectator_up_down_arrow"
                                        src="{{response.data.theme_details[0].equal_arrow}}" />
                                </div>
                            </div>
                        </mat-card>
                    </div>
                   

                </div>
            </div>



            <div class="row web_spectator_leaderboard_section" *ngIf="spectSearList != null">
                <div class="col-12 mt-1 web_leaderboard" >
                    <div *ngFor="let spectatorleaderboardreponse of spectSearList[0]._data">
                        <mat-card class="web_spectator_leaderboard" style="background: url({{spectatorleaderboardreponse.ranking_image}}); background-size: 100% 100%;">
                            <div class="row d-flex align-items-center" >
                                <div class="col-1">
                                    <p class="web_spectator_rank">{{spectatorleaderboardreponse.rankingtable_number}}</p>
                                </div>
                                <div class="col-1">
                                    <img class="web_spectator_profile_image"
                                        src="{{spectatorleaderboardreponse.rankingtable_logo}}" />
                                </div>
                                <div class="col-6">
                                    <div>
                                        <p class="web_spectator_name">{{spectatorleaderboardreponse.rankingtable_name}}</p>
    
                                    </div>
                                    <div>
                                        <p class="web_spectator_team">{{spectatorleaderboardreponse.rankingtable_team}}</p>
                                    </div>
                                </div>
    
                                <div class="col-1">
                                    <img class="web_spectator_badge"
                                        src="{{spectatorleaderboardreponse.teamlogo}}" />
                                </div>
    
                                <div class="col-2">
                                    <p class="web_spectator_points">{{spectatorleaderboardreponse.rankingtable_weightage}}</p>
                                </div>
    
                                <div class="col-1" *ngIf="spectatorleaderboardreponse.rankingtable_arrow == 'green'">
                                    <img class="web_spectator_up_down_arrow"
                                        src="{{response.data.theme_details[0].up_arrow}}" />
                                </div>
                                <div class="col-1" *ngIf="spectatorleaderboardreponse.rankingtable_arrow == 'red'">
                                    <img class="web_spectator_up_down_arrow"
                                        src="{{response.data.theme_details[0].down_arrow}}" />
                                </div>
                                <div class="col-1" *ngIf="spectatorleaderboardreponse.rankingtable_arrow == 'yellow'">
                                    <img class="web_spectator_up_down_arrow"
                                        src="{{response.data.theme_details[0].equal_arrow}}" />
                                </div>
                            </div>
                        </mat-card>
                    </div>
                   

                </div>
            </div>

            <div class="row" >
                <div class="col-12 web_spectator_view_more_btn_div">
                    <button class="w-100 btn btn-lg load-more" type="button" (click)="viewMore()">
                        <img src="assets/images/svg/dashboard/load-more.svg" data-holder-rendered="true" height="13">
                        View More
                    </button>
                </div>
            </div>
           

        </div>

        <!------------------------------------------------- Bulletins  ----------------------------------------------------->

        <div class="col-3">
            <mat-card class="web_bulletins_card">

                <div>
                    <h6 class="web_bulletins_header">Bulletins</h6>
                </div>

                <div class="d-flex justify-content-center align-items-center web_no_bulletins">
                    <p class="web_bulletins_message">There's no bulletin’s you have subscribed to, stay tuned to this section for more.</p>
                </div>

                <!-- <mat-card class="web_bulletin">

                    <div class="row">
                        <div class="col-3"></div>
                        <div class="col-9">
                            <p class="web_bulletin_heading">Spot Engagement</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <img class="w-100" src="assets/images/specatator-dashboard/notification_logo.svg" />
                        </div>
                        <div class="col-9">
                            <div>
                                <h6 class="web_bulletin_description">Spin the Wheel and win excited rewards </h6>
                            </div>

                            <div>
                                <p class="web_bulletin_full_description">Hurray! You have won a chance to spin the wheel
                                    and win exiting reward.
                                </p>
                            </div>

                            <div>
                                <img class="web_bulletin_image"
                                    src="assets/images/specatator-dashboard/bulletin_image.png" />
                            </div>

                            <div class="d-flex justify-content-end mt-3">
                                <p class="web_bulletin_date_time mb-2">Today at 9:42 AM</p>
                            </div>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <hr class="web_hr">

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-2">
                            <p class="web_bulletin_action">Open</p>
                        </div>
                    </div>

                </mat-card> -->

            </mat-card>

        </div>
    </div>

</div>
