<div class="web-view">
    <div class="d-flex align-items-center">
        <mat-card class="map_mat_card">
            <div class="buisness_index_title">Net promoter score</div>
            <div class="map-view-buisness-index">
           
           
            </div>
        </mat-card>
       
       
        <div class="right_card-buisness-index">
            <mat-card class="top_right_section-buisness-index">
                <div class="name-buisness-index">Name</div>
                <div class="level-buisness-index">Level</div>
                <div class="global_index-buisness-index">Global Index</div>
                <div class="pech-buisness-index">Pech</div>

            </mat-card>
            <mat-card class="bottom_right_section-buisness-index">
                <div class="bottom_right_section_height-buisness-index">

                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">1</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>

                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">2</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">3</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">4</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">5</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">6</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">7</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">8</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">9</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">10</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>


                <div class="row first_row_details d-flex">
                    <div class="col-1 rank-buisness-index">11</div>
                    <div class="col-2">
                        <img class="image_logo-buisness-index" src="assets/images/TopHierarchyDashboard/Icon_Button.png"/>
                    </div>
                    <div class="col-8">
                        <div class="call_center_name-buisness-index">
                            Call center name 
                        </div>
                        <div class="location-buisness-index">
                            Location
                        </div>

                    </div>
                </div>

            </div>

            </mat-card>

        </div>
    </div>

   
    
</div>