*{
    scrollbar-width: none;

}

.popover-body{
    padding: 0;
}

.mat-tab-body.mat-tab-body-active {
    min-height: 62vh;
    min-width: 90vw;
}


.all_images{
    width: 80px;
}

.total_reward_points{
    position: absolute;
    right: 95px;
    top: 30px;
}

.total_reward_points_value{
    position: absolute;
    top: 5px;
    left: 25px;
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
}

.top_container{
    position:absolute;
    width: 100%;
    left: 0;
    top: 72px;
    height: 72px;
    background: white;  

}

.title{
    margin-top: 24px;
    margin-left: 40px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
    /* identical to box height */
    
    display: flex;
    align-items: flex-end;
    text-align: center;
    letter-spacing: -0.02em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    
    color: #000000;
}

.mat_container {
  
    min-height: 65vh;
    margin: 40px;
    background: white;
}

hr{
    margin: 0;
}

.mat-tab-label.mat-tab-label-active {
   
    background-color: transparent;
    color: #342319;
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    border-bottom: 2px solid #342319;
    color: #000000;
   
}

.content_seasonal_card{
    background-color: white;
}

.content_seasonal_card_div{
 
    margin-top: 15px;
}

.content_seasonal_card{
 
    background: #FFFFFF;
    border-radius: 11.877px;
    margin-top: 15px;
    height: 342px;
    margin: 4px;
    border-radius: 12px !important;
    box-shadow: 0px 0px 0px 0.791802px #E8E8E8, 0px 0px 1.5836px rgba(0, 0, 0, 0.12), 0px 15.836px 15.836px rgba(0, 0, 0, 0.02);
}

.title_seasonal_card{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 14px;
line-height: 17px;
letter-spacing: -0.02em;
font-feature-settings: 'pnum' on, 'lnum' on;
color: #000000;
margin-top: 4px;
}

.rewards_div{
    display: -webkit-inline-box;    
    margin-bottom: 10px;
}

.total_point{
    margin: 0;
    margin-left: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
  
    color: #000000;
}

.calender_div{
    display: flex;    

}

.calender_logo{
    height: 20px;

}

.date{
    font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 12px;
/* identical to box height */
letter-spacing: -0.02em;
font-feature-settings: 'pnum' on, 'lnum' on;

color: #898787;
margin-left: 10px;
margin-top: 4px;
}

.status{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
color: #16C79A;

margin-left: 20px;
background-color: #E8F9F5;
width: 70px;
text-align: center;
padding: 5px;

}

.status1{
    font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 10px;
line-height: 15px;
color: #F05454;

margin-left: 20px;
background-color: #FEEEEE;
width: 70px;
text-align: center;
padding: 5px;

}

.info_logo{
    height: 19px;
    position: absolute;
    right: 16px;
}

.my-custom-class {	
    width: 18vw;
    height: 31vh;	
    margin-top: 2.4%;	
    margin-left: -7.6vw;          	
}

.bricks_background{
    width: 100%;
    height: 162px;
}

.bricks_table{
    position: absolute;
    bottom: 15px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    width: 74%;

}

/***************************************************** Carausel ************************************************************/

// .carousel-cells {
//     transition: transform .2s;
//     width: 100% !important;
//     height: 100%;
//     display: block;
//     will-change: transform;
// }

// .carousel-cell {
//     width: 18% !important;
//     height: 100%;
//     left: 55px;
//     position: absolute;
//     overflow: hidden;
// }

// .carousel-container{
//     overflow: hidden;
//     width: 100%;
//     height: 45% !important;
//     cursor: grab;
//     position: absolute;
//     top: -153px !important;
// }

// .carousel-arrow-next {
//     right: 10px;
//     position: absolute;
//     top: -100px !important;
// }

// .carousel-arrow-prev {
//     left: 10px;
//     position: absolute;
//     top: -100px !important;
// }



// .carousel-cell1{
//     position: absolute;
//     left: -84px;
//     top: 7px;
//     width: 70px !important;
// }

// .carousel-cell2{
//     position: absolute;
//     left: -213px;
//     top: 7px;
//     width: 70px !important;

// }

// .carousel-cell3{
//     position: absolute;
//     left: -342px;
//     top: 7px;
//     width: 70px !important;

// }

// .carousel-cell4{
//     position: absolute;
//     left: -459px;
//     top: 7px;
//     width: 70px !important;

// }


// .carousel-cells .carousel-cell {
//     transform: translateX(0px);
//     width: 77% !important;
//     position: absolute;
//     left: 46px !important;
// }

// .carousel-cells .carousel-cell img, .carousel-cells .carousel-cell video {
//     height: 100%;
//     position: relative;
//     object-fit: contain;
//     width: 80px !important;
// }

.section_slider {
    text-align: start;
    margin-top: 2.5%;
    padding: 16px;
  
  }
  .scroll-arrow {
    width: 3%;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      cursor: pointer;
      padding:0;
      margin:0;
      opacity: 0.5;
    font-size:34px;
    transition: 0.2s;
  }
  .scroll-arrow:hover {
    transition: 0.2s;
    opacity:1;
  }
  .image_ul {
      width: 94%;
      margin: 0;
      padding: 0;
      scroll-behavior: smooth;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      text-align: center;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      -webkit-overflow-scrolling: touch;
    
    }
    .image_ul::-webkit-scrollbar {
      display: none;
    }
    .image_li {
      list-style: none;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      width: 22%;
      margin-left: 1.5%;
      margin-right: 1.5%;
      // filter: grayscale(100%);
        transition: 0.2s;
    }
 

.slider_final{
  background-image: url(./../../../assets/images/seasonaltheme/Shelf.png);
  background-repeat: no-repeat;
  /* width: 100%; */
  /* padding: 4px; */
  background-size: 100%;
  height: 58%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.badge_count{
  font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 12px;
line-height: 15px;
letter-spacing: -0.02em;
margin-top: 3px;
color: #FFFFFF;

}


// .wrapper{
//     position:absolute;
//     right: 0;
// }


// .wrapper:hover .content{
//   visibility:visible;
//   position: relative;
// }


// .content{
    
//     background: #ffffff;
//     padding: 15px;
//     position:absolute;
//     z-index: 1000000;
//     border-radius: 5px;
//     right: 0;
//     box-shadow: 0px 0px 0px 0.791802px #E8E8E8, 0px 0px 1.5836px rgba(0, 0, 0, 0.12), 0px 15.836px 15.836px rgba(0, 0, 0, 0.02);
//     width: 63%;
//     margin-top: 20px;
// }

.main-content .content{
    margin-top: 27px;
    right: 6px;
    width: 100%;
    min-height: 63%;
}
.content::before{
    content: "";
    border-style: solid;
    border-width: 0px 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
    position:absolute;
    top: -10px;
    right: calc(50% - 133px);
    filter: drop-shadow(0px 0px 0px black); 
}

.text{
    margin-bottom: 10px;
}

.coming_soon{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
}
/****************************************************** Popover ***********************************************/
.image_popover{
    position: absolute;
width: 67px;
height: 64px;

border-radius: 5px;
}

.summit_details{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 11px;
display: flex;
align-items: center;
color: #898787;
width: 100%;
}

.col_ssummit_details{
    padding: 0;
}

.name_div{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
}

.first_description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-top: 18px;
    color: #000000;
}

.challenge_details{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 9px;
line-height: 11px;
display: flex;
align-items: center;
margin-top: 10px;
color: #898787;
}

.second_description{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    margin-top: 13px;
    color: #000000;
}

.name1_div{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
}

/************************************************* Image Modal ****************************************/

.modal_logo{
    display: flex;
    justify-content: center;
}

.badgeDialog{
    background-color: transparent;
    border: none;
   
    
}

.badge_Dialog_Header{
    border-bottom:none;
}

.top_image{
    width: 110px;
    margin-bottom: 20px;
}

.mat_card_badge_details{
    background-color: white;
    min-height: 40vh;
    border-radius: 28px !important;
}


.close_popup{
    background: transparent;
}


.close_button_image{
    width: 23px;
}

.date_col{
    background-color: #EDEDED;
    min-height: 38vh;
    max-height: 38vh;
    border-radius: 14px;
    left: 10px;

    // margin-left: 10px;
}
.date_details {
   
    display:flex;
    justify-content: center;
}

.dot_image{
    width: 30px;
    height: 30px;
    margin-top: 20px;
}

.date_sequence{
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 14px;
color: #625D5D;
margin-bottom: 5px;
}
.badge_total_count{
    position:absolute;
    left: 48%;
    right: 50%;
    transform: translate(-50%, -50%);
    top: 34px;
}

.date_sequence_div{
    margin-top: 6px;
    max-height: 203px;
    overflow-y: scroll;
    scrollbar-width: thin;
   
}

.scroll-area {
    overflow: scroll;
}


.title_popup{
    font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 24px;
color: #000000;

}

.details_col{
    left: 8px;
}

.badge_description_popup{
    font-family: 'Inter';
font-style: italic;
font-weight: 100;
font-size: 16px;
line-height: 28px;
color: #000000;
}

@media (min-width: 280px) and (max-width: 300px){

    .mat-tab-body.mat-tab-body-active {
        min-width: 89vw;
    }

    .slider_final {
        background-size: 100%;
        height: 57%;
     
    }

    .image_ul {
        width: 94%;
    }

    .all_images {
        width: 30px;
    }

    .content_seasonal_card {
        width: 98%;
        height: 100%;
    }
    .date_sequence_div {
        margin-top: 20px;
    }

    .date_sequence {      
        font-size: 8px;
      
    }

    .mat_container {
       margin: 0;
    }
    .scroll-arrow{
        z-index: 1000;
    }

    .rewards_img{
        height: 13px;
    }

    .calender_logo{
        height: 13px;
    }

    .status1 {   
        font-size: 8px;     
        margin-left: 9px;    
        width: 40px;
        padding: 3px;
    }

    .info_logo{
        height: 13px;
        margin-top: 4px;
    }
    .reward_coin{
        height: 13px;
    }
    .total_reward_points_value{
        font-size: 13px;
    }
    .total_reward_points{
        right: 60px;
    }

    .my-custom-class {	
        width: 73vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -5.8rem;          	
    }

    .name_div{
        font-size: 13px;
    }

    .content::before{
        right: calc(50% - 100px);
    }
    .coming_soon{
        font-size: 1.5rem;
        height: 67%;
    }
}

@media (min-width: 360px) and (max-width: 370px){
    .slider_final {
        background-size: 100%;
        height: 57%;
     
    }

    .image_ul {
        width: 94%;
    }

    .all_images {
        width: 50px;
    }

    .content_seasonal_card {
        width: 98%;
        height: 300px;
    }
    .date_sequence_div {
        margin-top: 20px;
    }

    .date_sequence {      
        font-size: 8px;
      
    }

    .mat_container {
       margin: 0;
    }
    .scroll-arrow{
        z-index: 1000;
    }

    .my-custom-class {	
        width: 72vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    .content::before{
        right: calc(50% - 123px);
    }
}

@media (min-width: 375px) and (max-width: 385px){
    .slider_final {
        background-size: 100%;
        height: 57%;
     
    }

    .image_ul {
        width: 94%;
    }

    .all_images {
        width: 50px;
    }

    .content_seasonal_card {
        width: 98%;
        height: 300px;
    }
    .date_sequence_div {
        margin-top: 20px;
    }

    .date_sequence {      
        font-size: 8px;
        margin-left: 3px;
    }

    .mat_container {
       margin: 0;
    }
    .scroll-arrow{
        z-index: 1000;
    }
    .my-custom-class {	
        width: 72vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7.8rem;          	
    }
    
}

@media (min-width: 390px) and (max-width: 400px){
    .slider_final {
        background-size: 100%;
        height: 57%;
     
    }

    .image_ul {
        width: 94%;
    }

    .all_images {
        width: 50px;
    }

    .content_seasonal_card {
        width: 98%;
        height: 300px;
    }
    .date_sequence_div {
        margin-top: 20px;
    }

    .date_sequence {      
        font-size: 9px;
        margin-left: 3px;
    }

    .mat_container {
       margin: 0;
    }
    .scroll-arrow{
        z-index: 1000;
    }
    .my-custom-class {	
        width: 72vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7.8rem;          	
    }
}

@media (min-width: 401px) and (max-width: 413px){
    .slider_final {
        background-size: 100%;
        height: 57%;
     
    }

    .image_ul {
        width: 94%;
    }

    .all_images {
        width: 50px;
    }

    .content_seasonal_card {
        width: 98%;
        height: 300px;
    }
    .date_sequence_div {
        margin-top: 20px;
    }

    .date_sequence {      
        font-size: 10px;
      
    }

    .mat_container {
       margin: 0;
    }

    .scroll-arrow{
        z-index: 1000;
    }
    .my-custom-class {	
        width: 72vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7.8rem;          	
    }

}
@media (min-width: 414px) and (max-width: 424px){
    .slider_final {
        background-size: 100%;
        height: 57%;
     
    }

    .image_ul {
        width: 94%;
    }

    .all_images {
        width: 50px;
    }

    .content_seasonal_card {
        width: 99%;
        height: 300px;
    }
    .date_sequence_div {
        margin-top: 20px;
    }

    .date_sequence {      
        font-size: 10px;
    }

    .mat_container {
       margin: 0;
    }
    .scroll-arrow{
        z-index: 1000;
    }

    .my-custom-class {	
        width: 65vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7.8rem;          	
    }
    
}

@media (min-width: 540px) and (max-width: 589px){
    .slider_final {
        background-size: 100%;
        height: 63%;
     
    }

    .image_ul {
        width: 94%;
    }

    .all_images {
        width: 90px;
    }

    .content_seasonal_card {
        width: 99%;
        height: 360px;
    }
    .date_sequence_div {
        margin-top: 20px;
    }

    .date_sequence {      
        font-size: 10px;
    }

    .mat_container {
       margin: 0;
    }
    .scroll-arrow{
        z-index: 1000;
    }

    .my-custom-class {	
        width: 65vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7.8rem;          	
    }
}
@media (min-width: 768px) and (max-width: 778px){
    .mat-tab-body.mat-tab-body-active {
        min-height: 62vh;
        min-width: 85vw;
    }

    .rewards_img{
        height: 16px;
    }

    .calender_logo{
        height: 16px;
    }

    .status1{
        font-size: 7px;
        width: 30px;
        margin-left: 9px;
        padding: 3px;
    }

    .status{
        font-size: 8px;
        width: 40px;
        margin-left: 3px;
        padding: 4px;
    }
    .date{
        margin-left: 5px;
        font-size: 7px;
    }

    .info_logo{
        height: 16px;
      
        right: 10px;
        margin-top: 4px;
    }

    .content_seasonal_card{
        height: 100%;
    }

    .all_images{
        width: 20px;
    }

    .section_slider{
        padding: 10px;
    }
    .scroll-arrow{
        z-index: 1000;
    }

    .title_seasonal_card{
        font-size: 12px;
        margin-top: 4px;
    }

    .total_point{
        font-size: 12px;
        margin-top: 4px;
    }
   
    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -5rem;          	
    }

    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }

    .content::before{
        right: calc(50% - 93px);
    }

    .summit_details{
        margin-left: 10px;
    }
    .coming_soon{
        font-size: 1.2rem;
        height: 55%;
    }
}

@media (min-width: 820px) and (max-width: 900px){
    .mat-tab-body.mat-tab-body-active {
        min-height: 62vh;
        min-width: 86vw;
    }

    .rewards_img{
        height: 16px;
    }

    .calender_logo{
        height: 16px;
    }

    .status1{
        font-size: 8px;
        width: 40px;
        margin-left: 7px;
        padding: 4px;
    }

    .status{
        font-size: 8px;
        width: 40px;
        margin-left: 7px;
        padding: 4px;
    }
    .date{
        margin-left: 5px;
        font-size: 8px;
    }

    .info_logo{
        height: 16px;
      
        right: 10px;
        margin-top: 4px;
    }

    .content_seasonal_card{
        height: 100%;
    }

    .all_images{
        width: 20px;
    }

    .section_slider{
        padding: 10px;
    }
    .scroll-arrow{
        z-index: 1000;
    }

    .title_seasonal_card{
        font-size: 12px;
        margin-top: 4px;
    }

    .total_point{
        font-size: 12px;
    }

    .my-custom-class {	
        width: 26vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -5.5rem;          	
    }

    .content::before{
        right: calc(50% - 97px);
    }

    .name_div{
        font-size: 12px;
    }
    .coming_soon{
        font-size: 1.5rem;
        height: 55%;
    }
}

@media (min-width: 912px) and (max-width: 922px){
    .mat-tab-body.mat-tab-body-active {
        min-height: 62vh;
        min-width: 86vw;
    }

    .rewards_img{
        height: 16px;
    }

    .calender_logo{
        height: 16px;
    }

    .status1{
        font-size: 8px;
        width: 40px;
        margin-left: 7px;
        padding: 4px;
    }

    .status{
        font-size: 8px;
        width: 40px;
        margin-left: 7px;
        padding: 4px;
    }
    .date{
        margin-left: 5px;
        font-size: 8px;
    }

    .info_logo{
        height: 16px;
      
        right: 10px;
        margin-top: 4px;
    }

    .content_seasonal_card{
        height: 100%;
    }

    .all_images{
        width: 33px;
    }

    .section_slider{
        padding: 10px;
    }
    .scroll-arrow{
        z-index: 1000;
    }

    .title_seasonal_card{
        font-size: 12px;
        margin-top: 4px;
    }

    .total_point{
        font-size: 12px;
    }

    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -6rem;          	
    }

    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }

    .content::before{
        right: calc(50% - 106px);
    }

    .summit_details{
        margin-left: 10px;
    }
    .coming_soon{
        font-size: 1.5rem;
        height: 55%;
    }
}

@media (min-width: 1020px) and (max-width: 1024px){
    .date{
        font-size: 9px;
    }

    .calender_logo{
        height: 16px;
    }

    .rewards_img{
        height: 16px;
    }
    .total_point{
        font-size: 13px;
        margin-top: 4px;
    }

    .status{
        font-size: 9px;
        width: 47px;
    }

    
    .status1{
        font-size: 9px;
        width: 47px;
    }
    
    .info_logo{
        height: 16px;
        margin-top: 3px;
    }

    .section_slider{
        padding: 4px;
    }

    .all_images{
        width: 50px;
    }
    .content_seasonal_card{
        height: 288px;
    }

    .coming_soon{
    font-size: 1.5rem;  
    height: 61%;      
    }
   /************************************************* Popover *********************************/
   
   .main-content .content{
    width: 97%;
   }

   .my-custom-class {	
    width: 25vw;
    height:auto;	
    margin-top: 17px;	
    margin-left: -6rem;          	
}

.name_div{
    font-size: 11px;
    margin-left: 10px;
}

.content::before{
    right: calc(50% - 106px);
}

.summit_details{
    margin-left: 10px;
}
}


@media (min-width: 1280px) and (max-width: 1299px){

    .date{
        font-size: 9px;
    }

    .calender_logo{
        height: 16px;
    }

    .rewards_img{
        height: 16px;
    }
    .total_point{
        font-size: 13px;
        margin-top: 4px;
    }

    .status{
        font-size: 9px;
        width: 47px;
    }

    .status1{
        font-size: 9px;
        width: 47px;
    }
    .info_logo{
        height: 16px;
        margin-top: 3px;
    }

    .section_slider{
        padding: 4px;
    }

    .all_images{
        width: 55px;
        margin-top: 5px;
    }
    .content_seasonal_card{
        height: 288px;
    }

     /************************************************* Popover *********************************/
   
   .main-content .content{
    width: 77%;
   }

   .my-custom-class {	
    width: 25vw;
    height:auto;	
    margin-top: 17px;	
    margin-left: -7rem;          	
}

.name_div{
    font-size: 11px;
    margin-left: 10px;
}

.content::before{
    right: calc(50% - 122px);
}

.summit_details{
    margin-left: 10px;
}
}


@media (min-width: 1360px) and (max-width: 1366px){
    .slider_final{
        height: 57%;
    }

    .all_images{
        width: 65px;
    }

    .main-content .content{
        width: 100%;
    }

    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    
    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }
    
    .content::before{
        right: calc(50% - 122px);
    }
    
    .summit_details{
        margin-left: 10px;
    }
}


@media (min-width: 1400px) and (max-width: 1440px) {
    .all_images{
        width: 70px;
    }
    .main-content .content{
        width: 100%;
       }
      

    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    
    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }
    
    .content::before{
        right: calc(50% - 122px);
    }
    
    .summit_details{
        margin-left: 10px;
    }
}

@media (min-width: 1600px) and (max-width: 1670px){
    .slider_final{
        height: 67%;
    }

    .content_seasonal_card{
        height: 365px;
    }

    .main-content .content{
        width: 100%;
    }
    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    
    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }
    
    .content::before{
        right: calc(50% - 122px);
    }
    
    .summit_details{
        margin-left: 10px;
    }
    .left_arrow{
        width: 15px;
    }

    .right_arrow{
        width: 15px;
    }
}
@media (min-width: 1670px) and (max-width: 1680px){
    .slider_final{
        height: 67%;
    }

    .content_seasonal_card{
        height: 365px;
    }

    .main-content .content{
        width: 100%;
    }
    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    
    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }
    
    .content::before{
        right: calc(50% - 122px);
    }
    
    .summit_details{
        margin-left: 10px;
    }
    .left_arrow{
        width: 20px;
    }

    .right_arrow{
        width: 20px;
    }
}


@media (min-width: 1900px) and (max-width: 1920px){
    .content_seasonal_card{
        height: 418px;
    }
    .slider_final{
        height: 67%;
    }

    .all_images{
        width:  105px;
    }

    .main-content .content{
        width: 100%;
    }
    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    
    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }
    
    .content::before{
        right: calc(50% - 122px);
    }
    
    .summit_details{
        margin-left: 10px;
    }
    .left_arrow{
        width: 25px;
    }

    .right_arrow{
        width: 25px;
    }
}


@media (min-width: 2040px) and (max-width: 2050px){
    .content_seasonal_card{
        height: 418px;
    }
    .slider_final{
        height: 67%;
    }

    .all_images{
        width:  115px;
    }
    .content::before{
        right: calc(50% - 185px);
    }
    .main-content .content{
        width: 100%;
    }
    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    
    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }
    
    .content::before{
        right: calc(50% - 122px);
    }
    
    .summit_details{
        margin-left: 10px;
    }
    .coming_soon{
        font-size: 3.5rem;  
        }
        .left_arrow{
            width: 35px;
        }
    
        .right_arrow{
            width: 35px;
        }
}

@media (min-width: 2550px) and (max-width: 2560px){
    .content_seasonal_card{
        height: 512px;
    }
    .slider_final{
        height: 67%;
    }

    .all_images{
        width:  162px;
    }

    .main-content .content{
        width: 100%;
    }
    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    
    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }
    
    .content::before{
        right: calc(50% - 122px);
    }
    
    .summit_details{
        margin-left: 10px;
    }
    .coming_soon{
        font-size: 4.5rem;  
        }
        .left_arrow{
            width: 40px;
        }
    
        .right_arrow{
            width: 40px;
        }
}

@media (min-width: 3830px) and (max-width: 3840px){
    .content_seasonal_card{
        height: 840px;
    }
    .slider_final{
        height: 87%;
    }

    .all_images{
        width:  262px;
    }

    .main-content .content{
        width: 100%;
    }
    .my-custom-class {	
        width: 25vw;
        height:auto;	
        margin-top: 17px;	
        margin-left: -7rem;          	
    }
    
    .name_div{
        font-size: 11px;
        margin-left: 10px;
    }
    
    .content::before{
        right: calc(50% - 122px);
    }
    
    .summit_details{
        margin-left: 10px;
    }
    .coming_soon{
        font-size: 6.5rem;  
        }

        .left_arrow{
        width: 45px;
    }

    .right_arrow{
        width: 45px;
    }
   
}
