<div id="layout-wrapper">

  <app-topbar (settingsButtonClicked)="onSettingsButtonClicked()" (mobileMenuButtonClicked)="onToggleMobileMenu()">
  </app-topbar>

  <app-sidebar [isCondensed]="isCondensed"></app-sidebar>

  <div class="main-content">
    <div class="page-content" style="background: url({{bgImage}}); background-size: cover; height: 100vh; overflow-y:scroll; overflow-x: hidden;">
      <app-progress-bar [hidden]="!busy" class="progress-host"></app-progress-bar>
      <!-- content -->
      <router-outlet></router-outlet>
    </div>

    <!-- footer -->
    <!-- <app-footer></app-footer> -->
  </div>
</div>

<!-- <app-rightsidebar></app-rightsidebar> -->