@media screen and (min-width:270px) and (max-width:1023px) {
    .web-view {
        display: none;
    }

}

@media screen and (min-width:1023.1px) {
    .mobile-view {
        display: none;
    }

}

//   Css For Fashion

.card-shadow{
    background: linear-gradient(153.37deg, #ECECEC 14.39%, #FFFFFF 65.49%);
box-shadow: -3px -3px 3px rgba(255, 255, 255, 0.7), 4px 4px 4px rgba(0, 0, 0, 0.4);
border-radius: 8px;
background-size: cover;

}
.card-shadow-mobile{
    background: linear-gradient(153.37deg, #ECECEC 14.39%, #FFFFFF 65.49%);
    box-shadow: -2px -2px 4px #FFFFFF, 2px 2px 4px rgba(0, 0, 0, 0.5);
    border-radius: 10px;

}