// .verify .form-signin {
//     padding: 230px 15px;
// }

@media (min-width: 1281px) {
    .reset-pwd {
        position: fixed !important;
    }

    .stick-to-bottom {
        position: unset !important;
    }
}

::-webkit-scrollbar{
    width: 2px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1281px),
only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1281px),
only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1281px),
only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1281px),
only screen and (min-resolution: 200dpi) and (min-width: 1281px),
only screen and (min-resolution: 1.25dppx) and (min-width: 1281px) {
    .reset-pwd {
        position: fixed !important;
    }

    .stick-to-bottom {
        position: unset !important;
    }
}

@media (min-width: 481px) and (max-width: 767px) {
    .reset-pwd {
        position: fixed !important;
    }

    .stick-to-bottom {
        position: unset !important;
    }
}

@media (min-width: 320px) and (max-width: 480px) {
    .reset-pwd {
        position: fixed !important;
    }

    .stick-to-bottom {
        position: unset !important;
    }
}

// stick Bottom footer
@media (min-width: 1281px) {
    .login-pwd {
        position: fixed !important;
    }
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.25) and (min-width: 1281px),
only screen and (min--moz-device-pixel-ratio: 1.25) and (min-width: 1281px),
only screen and (-o-min-device-pixel-ratio: 1.25/1) and (min-width: 1281px),
only screen and (min-device-pixel-ratio: 1.25) and (min-width: 1281px),
only screen and (min-resolution: 200dpi) and (min-width: 1281px),
only screen and (min-resolution: 1.25dppx) and (min-width: 1281px) {
    .login-pwd {
        position: fixed !important;
    }


}
@media (min-width: 768px) and (max-width:1280px) {
    .login-pwd {
        position: fixed !important;
    }
    .logo {
        padding: 60px 85px;
    }

}
@media (min-width: 481px) and (max-width: 767px) {
    .login-pwd {
        position: fixed !important;
    }


}

@media (min-width: 320px) and (max-width: 480px) {
    .login-pwd {
        position: fixed !important;
    }
}