<div class="eclips"><img src="assets/images/svg/login/ellipse.svg" alt="img" /></div>
<section class="main-frame">
  <div class="col-12">
    <div class="logo"><img src="assets/images/svg/logo/logo.svg" alt="logo" /></div>
  </div>
  <div class="col-12">
    <div class="row g-0">
      <div class="col-7 xs-grid-none">
        <div class="img-holder">
          <img src="assets/images/svg/login/login_left.svg" alt="img" />
        </div>
      </div>
      <div class="col-5 xs-class">
        <main class="form-signin">
          <form [formGroup]="resetForm">
            <h1 class="h3 mb-86 fw-normal" *ngIf="hideLabel"><span class="fw-bolder">Please enter your User ID</span></h1>
            <h1 class="h3 mb-3 fw-normal fw-bolder" *ngIf="showLabelPassword">Please Reset your Password</h1>
            <label class="text-danger"
              *ngIf="(resetForm.controls['userID'].dirty && resetForm.controls['userID'].hasError('required'))">
              User ID is Required!
            </label>
            <div class="form-floating mb-40 br-4" *ngIf="showId">
              <input type="text" class="form-control" id="floatingInput"
                [ngClass]="{ 'is-invalid': submitted && f.userID?.errors?.required }" formControlName="userID"
                placeholder="user ID">
              <label for="floatingInput">User ID</label>
              <div *ngIf="submitted && f.userID?.errors?.required" class="invalid-feedback">
                <div *ngIf="f.userID?.errors?.required">User id is required</div>
              </div>
            </div>
            <button  *ngIf="showId" class="btn verify-btn font-weight-bold"
              [disabled]="resetForm.controls['userID'].hasError('required')" type="button"
              (click)="checkUserID()">Verify</button>
            <ng-container id="myDIV" *ngIf="showSecurityQuestionBlock">
              <div class="almost-done-text mt-3 mb-3">
                Almost done, please answer the security questions.
              </div>
              <div class="form-floating mb-40 br-4">
                <input type="text" class="form-control" id="floatingInput_1"
                  [ngClass]="(resetForm.controls['securityQuestion_1'].dirty && resetForm.controls['securityQuestion_1'].invalid) ? 'is-invalid' : ''"
                  formControlName="securityQuestion_1" placeholder="{{securityList?.[0]?.question}}">
                <label for="floatingInput_1">
                  {{securityList?.[0]?.question}}
                </label>
              </div>
              <div class="form-floating mb-40 br-4">
                <input type="text" class="form-control" id="floatingInput_4"
                  [ngClass]="(resetForm.controls['securityQuestion_2'].dirty && resetForm.controls['securityQuestion_2'].invalid) ? 'is-invalid' : ''"
                  formControlName="securityQuestion_2" placeholder="{{securityList?.[1]?.question}}">
                <label for="floatingInput_4">
                  {{securityList?.[1]?.question}}
                </label>
              </div>
              <button *ngIf="resetForm.controls['securityQuestion_2'].value" class="w-100 btn btn-lg btn-primary"
                type="button" (click)="checkSecurityAnswer()">Submit</button>
            </ng-container>
            <ng-container *ngIf="showPassWordBlock">
              <div class="form-floating mb-40 br-4 mt-3">
                <input type="password" class="form-control" id="floatingInput_2"
                  [ngClass]="(resetForm.controls['password'].dirty && resetForm.controls['password'].invalid) ? 'text-danger' : ''"
                  formControlName="password" placeholder="Password">
                <label
                  [ngClass]="(resetForm.controls['password'].dirty && resetForm.controls['password'].invalid) ? 'is-invalid' : ''"
                  for="floatingInput_2">
                  Password
                </label>
              </div>
              <ng-container *ngIf="resetForm.controls['password']?.dirty">
                <label class="col"
                  [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                  <i class="mdi mdi-close-box-outline" *ngIf="resetForm.controls['password'].hasError('required') ||
                                                            resetForm.controls['password'].hasError('minlength')"></i>
                  <i class="mdi mdi-check"
                    *ngIf="!(resetForm.controls['password'].hasError('required') ||
                                                                                    resetForm.controls['password'].hasError('minlength'))"></i>
                  Password Must be at least 8 characters!
                </label>
                <label class="col"
                  [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                  <i class="mdi mdi-close-box-outline" *ngIf="resetForm.controls['password'].hasError('required') ||
                                                            resetForm.controls['password'].hasError('hasNumber')"></i>
                  <i class="mdi mdi-check"
                    *ngIf="!(resetForm.controls['password'].hasError('required') ||
                                                                                    resetForm.controls['password'].hasError('hasNumber'))"></i>
                  Password Must contain at least 1 number!
                </label>
                <label class="col"
                  [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                  <i class="mdi mdi-close-box-outline"
                    *ngIf="resetForm.controls['password'].hasError('required') ||
                                                            resetForm.controls['password'].hasError('hasCapitalCase')"></i>
                  <i class="mdi mdi-check"
                    *ngIf="!(resetForm.controls['password'].hasError('required') ||
                                                                                    resetForm.controls['password'].hasError('hasCapitalCase'))"></i>
                  Password Must contain at least 1 in Capital Case!
                </label>
                <label class="col"
                  [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                  <i class="mdi mdi-close-box-outline"
                    *ngIf="resetForm.controls['password'].hasError('required') ||
                                                            resetForm.controls['password'].hasError('hasSmallCase')"></i>
                  <i class="mdi mdi-check"
                    *ngIf="!(resetForm.controls['password'].hasError('required') ||
                                                                                    resetForm.controls['password'].hasError('hasSmallCase'))"></i>
                  Password Must contain at least 1 Letter in Small Case!
                </label>
                <label class="col"
                  [ngClass]="resetForm.controls['password'].hasError('required') || resetForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                  <i class="mdi mdi-close-box-outline"
                    *ngIf="resetForm.controls['password'].hasError('required') ||
                                                            resetForm.controls['password'].hasError('hasSpecialCharacters')"></i>
                  <i class="mdi mdi-check"
                    *ngIf="!(resetForm.controls['password'].hasError('required') ||
                                                                                    resetForm.controls['password'].hasError('hasSpecialCharacters'))"></i>
                  Password Must contain at least 1 Special Character!
                </label>
              </ng-container>
              <div class="form-floating mb-40 br-4">
                <input type="password" class="form-control" id="floatingInput_3"
                  [ngClass]="resetForm.controls['confirmPassword']?.dirty && resetForm.controls['confirmPassword'].invalid ? 'text-danger' : ''"
                  formControlName="confirmPassword" placeholder="Confirm Password">
                <label
                  [ngClass]="resetForm.controls['confirmPassword']?.dirty && resetForm.controls['confirmPassword'].invalid ? 'text-danger' : ''"
                  for="floatingInput_3">
                  Confirm Password
                </label>
              </div>
              <label class="text-danger"
                *ngIf="resetForm.controls['confirmPassword']?.dirty && resetForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
                Password do not match
              </label>
            </ng-container>
            <button *ngIf="resetForm.controls['confirmPassword'].value" class="w-100 btn btn-lg btn-primary my-3"
              [disabled]="resetForm.invalid" type="button" (click)="changePwd()">Reset Password</button>
          </form>
        </main>
      </div>
    </div>

    <div class="row w-100">
      <div class="col">
        <div class="footer login-pwd">
          <h6>Powered by Coroebus &#169;</h6>
        </div>
      </div>
    </div>
  </div>

</section>