<div class="eclips"><img src="assets/images/svg/login/ellipse.svg" alt="img" /></div>
<section class="main-frame">
    <div class="col-12">
        <div class="logo"><img src="assets/images/svg/logo/logo.svg" alt="logo" /></div>
    </div>
    <div class="col-12">
        <div class="row g-0">
            <div class="col-7 xs-grid-none">
                <div class="img-holder">
                    <img src="assets/images/svg/login/login_left.svg" alt="img" />
                </div>
            </div>
            <div class="col-5 xs-class">
                <main class="form-signin">
                    <form [formGroup]="newPwdForm" (ngSubmit)="onSubmit()">
                        <h1 class="h3 mb-4 fw-normal create-new-pwd-header"><span class="fw-bolder">
                                Please create new password
                            </span></h1>
                        <div *ngIf="currentPwdErr" class="text-danger">
                            Current password not matched
                        </div>
                        <div class="form-floating mb-30 br-4">
                            <input type="password"
                                [ngClass]="(newPwdForm.controls['currentPassword'].dirty && newPwdForm.controls['currentPassword'].invalid) ? 'is-invalid' : ''"
                                formControlName="currentPassword" class="form-control" id="floatingInput"  [(ngModel)]="getValueCurrentPassword"
                                placeholder="user ID">

                                
                            <label
                                [ngClass]="(newPwdForm.controls['currentPassword'].dirty && newPwdForm.controls['currentPassword'].invalid) ? 'text-danger' : ''"
                                for="floatingInput">Current Password*</label>
                              
                        </div>

                        <div class="form-floating mb-30 br-4">
                            <input type="{{showHidePwdInput ? 'text': 'password'}}" formControlName="password"
                                class="form-control" id="floatingPassword" placeholder="Password"
                                [ngClass]="(newPwdForm.controls['password'].dirty && newPwdForm.controls['password'].invalid) ? 'is-invalid' : ''"
                                [(ngModel)]="getValueConfirmPassword"
                                >
                            <label
                                [ngClass]="(newPwdForm.controls['password'].dirty && newPwdForm.controls['password'].invalid) ? 'text-danger' : ''"
                                for="floatingPassword">New Password*</label>
                            <i [ngClass]="{'mdi-eye-outline': showHidePwdInput, 'mdi-eye-off-outline': !showHidePwdInput}"
                                class="mdi  pwd-eye mx-3" (click)="showHidePwd()"></i>
                                
                                <div *ngIf="getValueConfirmPassword===getValueCurrentPassword && getValueConfirmPassword.length!=0 && getValueCurrentPassword.length!=0;then one">
                                    
                              </div>
                              <ng-template #one>
                                <div class="text-danger mdi mdi-close-box-outline" > Current Password And Existing Pasword Should not be same</div>
                              </ng-template>
                              

                        </div>
                        <ng-container *ngIf="newPwdForm.controls['password']?.dirty">
                          
                           
                            <!-- <label class="col"
                                [ngClass]="newPwdForm.controls['password'].hasError('required') || newPwdForm.controls['password'].hasError('PassswordMatch')  ? 'text-danger' : 'text-success'">
                                <i class="mdi mdi-close-box-outline"
                                    *ngIf="newPwdForm.controls['password'].hasError('required') ||
                                                                                            newPwdForm.controls['password'].hasError('PassswordMatch')"></i>
                                <i class="mdi mdi-check"
                                    *ngIf="!(newPwdForm.controls['password'].hasError('required') ||
                                    newPwdForm.controls['password'].hasError('PassswordMatch'))"></i>
                                    Current Password And Existing Pasword Should not be same
                            </label> -->
                            <!-- <label class="text-danger"
                            *ngIf="newPwdForm.controls['password']?.dirty && newPwdForm.controls['password'].hasError('PassswordMatch')">
                            Current Password And Existing Pasword Should not be same
                        </label> -->

                            <label class="col"
                                [ngClass]="newPwdForm.controls['password'].hasError('required') || newPwdForm.controls['password'].hasError('minlength')  ? 'text-danger' : 'text-success'">
                                <i class="mdi mdi-close-box-outline"
                                    *ngIf="newPwdForm.controls['password'].hasError('required') ||
                                                                                            newPwdForm.controls['password'].hasError('minlength')"></i>
                                <i class="mdi mdi-check"
                                    *ngIf="!(newPwdForm.controls['password'].hasError('required') ||
                                                                                                                    newPwdForm.controls['password'].hasError('minlength'))"></i>
                                Password Must be at least 8 characters!
                            </label>
                            <label class="col"
                                [ngClass]="newPwdForm.controls['password'].hasError('required') || newPwdForm.controls['password'].hasError('hasNumber')  ? 'text-danger' : 'text-success'">
                                <i class="mdi mdi-close-box-outline"
                                    *ngIf="newPwdForm.controls['password'].hasError('required') ||
                                                                                            newPwdForm.controls['password'].hasError('hasNumber')"></i>
                                <i class="mdi mdi-check"
                                    *ngIf="!(newPwdForm.controls['password'].hasError('required') ||
                                                                                                                    newPwdForm.controls['password'].hasError('hasNumber'))"></i>
                                Password Must contain at least 1 number!
                            </label>
                            <label class="col"
                                [ngClass]="newPwdForm.controls['password'].hasError('required') || newPwdForm.controls['password'].hasError('hasCapitalCase')  ? 'text-danger' : 'text-success'">
                                <i class="mdi mdi-close-box-outline"
                                    *ngIf="newPwdForm.controls['password'].hasError('required') ||
                                                                                            newPwdForm.controls['password'].hasError('hasCapitalCase')"></i>
                                <i class="mdi mdi-check"
                                    *ngIf="!(newPwdForm.controls['password'].hasError('required') ||
                                                                                                                    newPwdForm.controls['password'].hasError('hasCapitalCase'))"></i>
                                Password Must contain at least 1 in Capital Case!
                            </label>
                            <label class="col"
                                [ngClass]="newPwdForm.controls['password'].hasError('required') || newPwdForm.controls['password'].hasError('hasSmallCase')  ? 'text-danger' : 'text-success'">
                                <i class="mdi mdi-close-box-outline"
                                    *ngIf="newPwdForm.controls['password'].hasError('required') ||
                                                                                            newPwdForm.controls['password'].hasError('hasSmallCase')"></i>
                                <i class="mdi mdi-check"
                                    *ngIf="!(newPwdForm.controls['password'].hasError('required') ||
                                                                                                                    newPwdForm.controls['password'].hasError('hasSmallCase'))"></i>
                                Password Must contain at least 1 Letter in Small Case!
                            </label>
                            <label class="col"
                                [ngClass]="newPwdForm.controls['password'].hasError('required') || newPwdForm.controls['password'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
                                <i class="mdi mdi-close-box-outline"
                                    *ngIf="newPwdForm.controls['password'].hasError('required') ||
                                                                                            newPwdForm.controls['password'].hasError('hasSpecialCharacters')"></i>
                                <i class="mdi mdi-check"
                                    *ngIf="!(newPwdForm.controls['password'].hasError('required') ||
                                                                                                                    newPwdForm.controls['password'].hasError('hasSpecialCharacters'))"></i>
                                Password Must contain at least 1 Special Character!
                            </label>
                        </ng-container>

                        <div class="form-floating br-4">
                            <input type="{{showHideCPwdInput ? 'text': 'password'}}" formControlName="confirmPassword"
                                class="form-control" id="floatingPassword_1" placeholder="Password"
                                [ngClass]="newPwdForm.controls['confirmPassword']?.dirty && newPwdForm.controls['confirmPassword'].invalid ? 'is-invalid' : ''">
                            <label for="floatingPassword_1"
                                [ngClass]="newPwdForm.controls['confirmPassword']?.dirty && newPwdForm.controls['confirmPassword'].invalid ? 'text-danger' : ''">Confirm
                                Password*</label>
                            <i [ngClass]="{'mdi-eye-outline': showHideCPwdInput, 'mdi-eye-off-outline': !showHideCPwdInput}"
                                class="mdi  pwd-eye mx-3" (click)="showHideCPwd()"></i>

                        </div>
                        <label class="text-danger"
                            *ngIf="newPwdForm.controls['confirmPasscheckUserIDword']?.dirty && newPwdForm.controls['confirmPassword'].hasError('required')">
                            Password is Required!
                        </label>
                        <label class="text-danger"
                            *ngIf="newPwdForm.controls['confirmPassword']?.dirty && newPwdForm.controls['confirmPassword'].hasError('NoPassswordMatch')">
                            Password do not match
                        </label>
                      
                        <button [disabled]="newPwdForm.invalid || getValueConfirmPassword===getValueCurrentPassword" class="w-100 btn btn-lg btn-primary mt-100 my-3"
                            type="submit">Submit</button>

                    </form>
                </main>
            </div>
        </div>
        <div class="row w-100">
            <div class="col">
                <div class="footer new-pwd" [ngClass]="{'stick-to-bottom': newPwdForm.controls['password']?.dirty}">
                    <h6>Powered by Coroebus &#169;</h6>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="footer new-pwd">
        <h6>Powered by Coroebus &#169;</h6>
    </div> -->
</section>