<footer class="footer web-view">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                {{year}} © Coroebus.
            </div>
            <div class="col-sm-6">
                <div class="text-sm-end d-none d-sm-block">
                    Design & Develop by Coroebus
                </div>
            </div>
        </div>  
    </div>
</footer>
<!-- Rotated View -->
<div class="mobile-view-rotated d-flex flex-column justify-content-center align-items-center">
    <div class="phone">
    </div>
    <div class="message">
      Please rotate your device!
    </div>
    
  </div>