<div class="web-view">
    <div class="d-flex">
        <div class="map-view">
            <div class="d-flex align-items-end left_side_div">
                <div class="button-container"
                    [style.background-color]="buisness_head_response_.theme_details[0].light_color">
                    <div class="bottom_div">
                        <div class="col-12 d-flex" style="height: 15vh;margin-left: 2vw;">
                            <div>
                                <button class="bottom_button" (click)="navigateToIndexwiseDashboard()">
                                    <div class="bottom_button_labels">Net Promoter Score</div>
                                    <div class="bottom_button_labels_score">20</div>
                                </button>

                            </div>
                            <div>
                                <button class="bottom_button">
                                    <div class="bottom_button_labels">Customer effort score</div>
                                    <div class="bottom_button_labels_score">30</div>

                                </button>

                            </div>
                            <div>
                                <button class="bottom_button">
                                    <div class="bottom_button_labels">Sales index </div>
                                    <div class="bottom_button_labels_score">40</div>

                                </button>

                            </div>
                            <div>
                                <button class="bottom_button">
                                    <div class="bottom_button_labels">Cost index</div>
                                    <div class="bottom_button_labels_score">50</div>

                                </button>

                            </div>
                            <!-- <div >
                                <button class="bottom_button"></button>
            
                            </div>
                            <div>
                                <button class="bottom_button"></button>
            
                            </div> -->
                        </div>

                    </div>


                </div>
            </div>

        </div>

        <div class="right_card">

            <mat-card class="bottom_right_section">
                <div class="bottom_right_section_height">

                    <mat-card class="details_card"
                        [style.background-color]="buisness_head_response_.theme_details[0].light_color">
                        <div class="row">
                            <div class="col-12">
                                <div class="name d-flex">
                                    {{buisness_head_response_._personal_data.first_name}}
                                    <div class="name_details">


                                    </div>
                                </div>

                                <div>
                                    <mat-accordion>

                                        <mat-expansion-panel (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="growth_index_accordion">
                                                    Growth Index
                                                </mat-panel-title>

                                            </mat-expansion-panel-header>
                                            <div class="global_index d-flex mt-4">Index
                                                <div class="global_index_details">
                                                    {{buisness_head_response_._points[0].score}}

                                                </div>
                                            </div>
                                            <hr class="horizontal_row">
                                            <div class="pech d-flex">
                                                {{buisness_head_response_._kpi_score[0].point_label}}
                                                <div class="pech_details">
                                                    {{buisness_head_response_._kpi_score[0].weightage}}
                                                </div>
                                            </div>
                                            <hr class="horizontal_row">
                                            <div class="pech d-flex">
                                                {{buisness_head_response_._kpi_score[1].point_label}}
                                                <div class="pech_details">
                                                    {{buisness_head_response_._kpi_score[1].weightage}}
                                                </div>

                                            </div>
                                            <hr class="horizontal_row">
                                            <div class="pech d-flex">
                                                {{buisness_head_response_._kpi_score[2].point_label}}
                                                <div class="pech_details">
                                                    {{buisness_head_response_._kpi_score[2].weightage}}
                                                </div>

                                            </div>
                                            <hr class="horizontal_row">
                                            <div class="pech d-flex">
                                                {{buisness_head_response_._kpi_score[3].point_label}}
                                                <div class="pech_details">
                                                    {{buisness_head_response_._kpi_score[3].weightage}}
                                                </div>

                                            </div>
                                        </mat-expansion-panel>
                                    </mat-accordion>

                                    <mat-accordion class="governance_index">

                                        <mat-expansion-panel style="margin-top: 2vh" (opened)="panelOpenState = true"
                                            (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header>
                                                <mat-panel-title class="growth_index_accordion">
                                                    Governance Index
                                                </mat-panel-title>

                                            </mat-expansion-panel-header>
                                            <p></p>
                                        </mat-expansion-panel>
                                    </mat-accordion>
                                </div>



                            </div>


                        </div>
                    </mat-card>
                    <!-- 
                    <div class="row">
                        <div class="col-12">
                            <div class="name d-flex">
                                Name 
                                <div class="name_details">
                                    {{buisness_head_response_._personal_data.first_name}}
    
                                </div>
                            </div>
                            
    
                            <div class="global_index d-flex">Global Index
                                <div class="global_index_details">
                                    {{buisness_head_response_._points[0].score}}
    
                                </div>
                            </div>
                            <hr class="horizontal_row">
                            <div class="pech d-flex">{{buisness_head_response_._kpi_score[0].point_label}}
                                <div class="pech_details">
                                    {{buisness_head_response_._kpi_score[0].weightage}}
                                </div>
                            </div>
                            <hr class="horizontal_row">
                            <div class="pech d-flex">{{buisness_head_response_._kpi_score[1].point_label}}
                                <div class="pech_details">
                                    {{buisness_head_response_._kpi_score[1].weightage}}
                                </div>
    
                            </div>
                            <hr class="horizontal_row">
                            <div class="pech d-flex">{{buisness_head_response_._kpi_score[2].point_label}}
                                <div class="pech_details">
                                    {{buisness_head_response_._kpi_score[2].weightage}}
                                </div>
    
                            </div>
                            <hr class="horizontal_row">
                            <div class="pech d-flex">{{buisness_head_response_._kpi_score[3].point_label}}
                                <div class="pech_details">
                                    {{buisness_head_response_._kpi_score[3].weightage}}
                                </div>
    
                            </div>
    
                        </div>
                           
                   
                    </div> -->

                    <mat-card class="hos_leaderboard" [style.background-color]="buisness_head_response_.theme_details[0].light_color">
                        <div class="d-flex" style="margin-bottom: 1vh; margin-top: 2vh;margin-left: 0.5vw;">
                            <div class="web_rank_label">
                                Rank
                            </div>

                            <div class="web_name_label">
                                Name
                            </div>

                            <div class="web_score_label">
                                Score
                            </div>
                        </div>
                        <div class="d-flex justify-content-center align-items-center leaderboard_div_web" >
                            <div class="row first_row_details d-flex call_center_div"
                            *ngFor="let res of buisness_head_response_._ranking_data[0]._data;let i=index"
                            style="background-image: url({{buisness_head_response_._ranking_data[0]._data[i].ranking_image}});"
                            (click)="navigateToHOSDashboard(i)">
                            <div class="col-1 rank">{{res.rankingtable_number}}</div>
                            <div class="col-2 g-0">
                                <img class="image_logo" src="{{res.rankingtable_logo}}" />
                            </div>
                            <div class="col-6">
                                <div class="call_center_name" ngbTooltip="{{res.rankingtable_name}}" placement="bottom">
                                    {{res.rankingtable_name}}
                                </div>
                                <div class="location">
                                    {{res.user_location}}
                                </div>
                                <div class="hos_Level">
    
                                    {{res.level_label}}
                                </div>
    
    
                               
    
                            </div>
                            <div class="col-2">
                                <div class="hos_Score">
                                    {{res.rankingtable_weightage}}
                                </div>
                            </div>
                        </div>
                        </div>
                   
                        
                        <!-- <div class="row first_row_details d-flex call_center_div"
                        *ngFor="let res of buisness_head_response_._ranking_data[0]._data;let i=index"
                        style="background-image: url({{buisness_head_response_._ranking_data[0]._data[i].ranking_image}});"
                        (click)="navigateToHOSDashboard(i)">
                        <div class="col-1 rank">{{res.rankingtable_number}}</div>
                        <div class="col-2 g-0">
                            <img class="image_logo" src="{{res.rankingtable_logo}}" />
                        </div>
                        <div class="col-8">
                            <div class="call_center_name">
                                {{res.rankingtable_name}}
                            </div>
                            <div class="location">
                                {{res.user_location}}
                            </div>
                            <div class="hos_Level">

                                {{res.level_label}}
                            </div>


                            <div class="hos_Score">
                                Score: {{res.rankingtable_weightage}}
                            </div>

                        </div>
                    </div> -->
                    </mat-card>
                 


                </div>

            </mat-card>

        </div>
    </div>



</div>

<div class="mobile-view">
    <div>
        <mat-card class="mobile_details_card d-flex justify-content-center"
            [style.background-color]="buisness_head_response_.theme_details[0].light_color">
            <div class="mobile_name"> {{buisness_head_response_._personal_data.first_name}} </div>
            <mat-accordion  style="margin-top: 2%;">

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="growth_index_accordion_mobile mt-2" >
                            Growth Index
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <hr class="horizontal_row" style="font-weight: 550;font-family: 'Work Sans';">
                    <div >
                        <div class="d-flex justify-content-between align-items-center mt-1" style="font-weight: 550;font-family: 'Work Sans';">
                            <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">Index
                           
                            </div>
                            <div class="global_index_details  " style="font-weight: 600;font-family: 'Work Sans';">
                                {{GrowthIndexData[0].score}}
    
                            </div>
                        </div>
                       
                       
                        <div  *ngFor="let kpi_data of buisness_head_response_._kpi_score">
                            <div class="d-flex justify-content-between align-items-center" style="font-weight: 550;font-family: 'Work Sans';">
                                <div class="pech " style="font-weight: 600;font-family: 'Work Sans';">
                                    {{ kpi_data.point_label}}   
                                </div>
                                <div class="pech_details" style="font-weight: 600;font-family: 'Work Sans';">
                                    {{ kpi_data.weightage}}
                                </div>
                            </div>
                            
                        </div>
                       
                    </div>
            
                   
                    <!-- <div class="global_index d-flex mt-4">Global Index
                    <div class="global_index_details">
                        {{buisness_head_response_._points[0].score}}

                    </div>
                </div>
                <hr class="horizontal_row">
                <div class="pech d-flex">{{buisness_head_response_._kpi_score[0].point_label}}
                    <div class="pech_details">
                        {{buisness_head_response_._kpi_score[0].weightage}}
                    </div>
                </div>
                <hr class="horizontal_row">
                <div class="pech d-flex">{{buisness_head_response_._kpi_score[1].point_label}}
                    <div class="pech_details">
                        {{buisness_head_response_._kpi_score[1].weightage}}
                    </div>

                </div>
                <hr class="horizontal_row">
                <div class="pech d-flex">{{buisness_head_response_._kpi_score[2].point_label}}
                    <div class="pech_details">
                        {{buisness_head_response_._kpi_score[2].weightage}}
                    </div>

                </div>
                <hr class="horizontal_row">
                <div class="pech d-flex">{{buisness_head_response_._kpi_score[3].point_label}}
                    <div class="pech_details">
                        {{buisness_head_response_._kpi_score[3].weightage}}
                    </div>

                </div> -->
                </mat-expansion-panel>
            </mat-accordion>

        </mat-card>
    </div>




    <div>
        <img class="mobile_map" src="assets/images/TopHierarchyDashboard/mobile_map.png" />
    </div>


    <div class="d-flex flex-column gap-2">
        <!-- Accordian for Business Index -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="growth_index_accordion_mobile mt-2">
                    Business Index
                </mat-panel-title>

            </mat-expansion-panel-header>
            <hr class="horizontal_row" style="font-weight: 550;font-family: 'Work Sans';">
            <div >
                <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                    <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">Net Promoter Score
                   
                    </div>
                    <div class="global_index_details  "  style="font-weight: 600;font-family: 'Work Sans';">
                        <!-- {{GrowthIndexData[0].score}} -->

                        0000

                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                    <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">Customer Effort Score
                   
                    </div>
                    <div class="global_index_details  "  style="font-weight: 600;font-family: 'Work Sans';">
                        <!-- {{GrowthIndexData[0].score}} -->

                        0000

                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                    <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">Sales Index
                   
                    </div>
                    <div class="global_index_details  "  style="font-weight: 600;font-family: 'Work Sans';">
                        <!-- {{GrowthIndexData[0].score}} -->

                        0000

                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                    <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">Cost Index
                   
                    </div>
                    <div class="global_index_details  "  style="font-weight: 600;font-family: 'Work Sans';">
                        <!-- {{GrowthIndexData[0].score}} -->

                        0000

                    </div>
                </div>

               
               
                <!-- <div  *ngFor="let kpi_data of buisness_head_response_._kpi_score">
                    <div class="d-flex justify-content-between align-items-center" style="font-weight: 550;font-family: 'Work Sans';">
                        <div class="pech ">
                            {{ kpi_data.point_label}}
                            
                        </div>
                        <div class="pech_details">
                            {{ kpi_data.weightage}}
                        </div>
                    </div>
                    
                </div> -->
               
            </div>
           
           
        </mat-expansion-panel>

        <!-- Accordian mat-expansion For Governance Index -->


        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="growth_index_accordion_mobile mt-2">
                    Governance Index
                </mat-panel-title>

            </mat-expansion-panel-header>
            <hr class="horizontal_row" style="font-weight: 550;font-family: 'Work Sans';">
                    <div >
                        <!-- <div class="d-flex justify-content-between align-items-center mt-1" style="font-weight: 550;font-family: 'Work Sans';">
                            <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">Index
                           
                            </div>
                            <div class="global_index_details  " style="font-weight: 600;font-family: 'Work Sans';">
                                {{GrowthIndexData[0].score}}
    
                            </div>
                        </div> -->
                        <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                            <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">Overall
                           
                            </div>
                            <div class="global_index_details  "  style="font-weight: 600;font-family: 'Work Sans';">
                                <!-- {{GrowthIndexData[0].score}} -->
        
                                0000
        
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                            <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">NHT
                           
                            </div>
                            <div class="global_index_details  "  style="font-weight: 600;font-family: 'Work Sans';">
                                <!-- {{GrowthIndexData[0].score}} -->
        
                                0000
        
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                            <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">OJT
                           
                            </div>
                            <div class="global_index_details  "  style="font-weight: 600;font-family: 'Work Sans';">
                                <!-- {{GrowthIndexData[0].score}} -->
        
                                0000
        
                            </div>
                        </div>
                        <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                            <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Work Sans';">FO
                           
                            </div>
                            <div class="global_index_details  "  style="font-weight: 600;font-family: 'Work Sans';">
                                <!-- {{GrowthIndexData[0].score}} -->
        
                                0000
        
                            </div>
                        </div>
        
                       
                       
                        <!-- <div  *ngFor="let kpi_data of buisness_head_response_._kpi_score">
                            <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Work Sans';">
                                <div class="pech " style="font-weight: 600;font-family: 'Work Sans';">
                                    {{ kpi_data.point_label}}
                                    
                                </div>
                                <div class="pech_details" style="font-weight: 600;font-family: 'Work Sans';">
                                    {{ kpi_data.weightage}}
                                </div>
                            </div>
                            
                        </div> -->
                       
                    </div>
            
        </mat-expansion-panel>
    </div>

<!-- 
    <div class="business-index">
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Net Promoter Score
                    <div>40</div>
                </button>

            </div>
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Customer effort score
                    <div>50</div>
                </button>

            </div>

        </div>

        <div class="row mt-2">
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Sales index
                    <div>60</div>
                </button>

            </div>
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">cost index
                    <div>70</div>
                </button>

            </div>

        </div>

        <div class="row mt-2">
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Demo
                    <div>80</div>
                </button>

            </div>
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Demo 1
                    <div>100</div>
                </button>

            </div>

        </div>
    </div> -->

    <div class="mobile_call_center_details d-flex flex-column justify-content-start align-items-center">
    
        <div class="row" style="width: 100%;
        font-size: 4vw;
        font-weight: 600;
        padding-left: 4%;">
            <div class="col-1 ">Rank</div>
            <div class="col-2"></div>
            <div class="col-6" >Name </div>
            <div class="col-2">Score</div>
        </div>
        <div class="row align-self-center mobile_call_center_row   mt-1"
            *ngFor="let res of buisness_head_response_._ranking_data[0]._data;let i=index"
            style="background-image: url({{buisness_head_response_._ranking_data[0]._data[i].ranking_image}});background-size: 100% 100%;"
            (click)="navigateToHOSDashboard(i)">
            <div class="col-1 mobile-rank d-flex justify-content-center align-items-center">{{res.rankingtable_number}}</div>
            <div class="col-2 g-0 d-flex align-items-center">
                <img class="mobile_image_logo" src="{{res.rankingtable_logo}}" />
            </div>
            <div class="col-6">
                <div class="mobile_name_div ">
                    {{res.rankingtable_name}}
                </div>
                <div class="mobile_location">
                    {{res.user_location}}
                </div>
                <div class="mobile_hos_Level">
    
                    {{res.level_label}}
                </div>
    
    
    
            </div>
            <div class="col-2">
                <div class="mobile_hos_Score">
                    {{res.rankingtable_weightage}}
                </div>
            </div>
            
        </div>
    
    
    
    
    
    
    </div>
</div>

<ng-template #content let-modal>
    <!-- <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"></h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div> -->
    <div class="modal-body">
        <video width="100%" class="video_player" controls autoplay>
            <source [src]="safeUrl" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML video.
        </video>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [style.background]="dark_color" [style.color]="fontcolor"
            style="width: 15vw;" (click)="modal.close('Save click')">Skip</button>
    </div>
</ng-template>
