<div class="web-view">
    
    <div class="d-flex">
        <div class="map-view">
            <div style="max-height: 30vh;">
                <!-- <div>{{dataMap | json}}</div> -->
                <!-- <app-business-head-map [dataMapIndex]="dataMap"></app-business-head-map>  -->
                <!-- <div *ngIf="bi==null; then map else bi" ></div> -->
               
                    <ngx-tableau 
                    [tableauVizUrl]="dataMap"
                    ></ngx-tableau>
                <!-- <ng-template #bi>
                    <ngx-tableau 
                    tableauVizUrl="{{dataMap}}"
                    ></ngx-tableau>
                </ng-template> -->
              
            </div>
            <div class="d-flex align-items-end left_side_div">
                <!-- <div class="button-container"
                    [style.background-color]="buisness_head_response_.theme_details[0].light_color">
                    <div class="button_div">
                        <div class="col-12 d-flex" style="height: 15vh;margin-left: 1.5vw;">
                            <div  *ngFor="let response of buisness_head_response_._business_score">
                                <button class="bottom_button" (click)="navigateToIndexwiseDashboard()">
                                    <div class="bottom_button_labels">{{response.point_label}}</div>
                                    <div class="bottom_button_labels_score">{{response.weightage}}</div>
                                </button>
                            </div>
                            
                          
                        </div>

                    </div>


                </div> -->
            </div>

        </div>

        <div class="right_card">

            <div class="bottom_right_section">
                <div class="bottom_right_section_height">
                    <mat-card class="details_card"
                        [style.background-color]="buisness_head_response_.theme_details[0].light_color">
                        <div class="row">
                            <div class="col-12">
                                <div class="name d-flex">
                                   Name : {{buisness_head_response_._personal_data.first_name}}
                                    <div class="name_details">


                                    </div>
                                </div>

                                <div>
                                    <mat-accordion #multi>

                                        <mat-expansion-panel  (opened)="panelOpenState =true"
                                            (closed)="panelOpenState = false">
                                            <mat-expansion-panel-header style="color: black !important;">
                                                <mat-panel-title class="growth_index_accordion">
                                                    Growth Index
                                                </mat-panel-title>

                                            </mat-expansion-panel-header>
                                            <div class="global_index d-flex mt-1" style="cursor: pointer;" (click)="OverallGrowth()">Overall
                                                <div class="global_index_details d-flex gap-2">
                                                    <div>
                                                        {{buisness_head_response_._points[0].score}}
                                                    </div>
                                                    
                                                    <div>
                                                        
                                                        <div class="d-flex justify-content-end ">
                                                        
                                                            <div  style="height:2.5vh;">
        
                                                                <img src="assets/images/BoosterAssests/UP-16687580465394.png" alt=""
                                                                    height="100%" >
                                                            </div>
                            
                                                            <!-- <div *ngIf="buisness_head_response_._points[0].ranking_arrow=='red'"  style="height:2.5vh;">
                            
                                                                <img src="assets/images/BoosterAssests/DN-16687580461987.png" alt=""
                                                                    height="100%">
                            
                                                            </div>
                                                            <div *ngIf="buisness_head_response_._points[0].ranking_arrow=='yellow'"  style="height:2.5vh;width: 2.5vh;display:flex;justify-content:center;align-items: center;">
                            
                                                              
                                                               <img src="assets/images/BoosterAssests/EQ-16687580462022.png" alt="" srcset="" height="60%" width="60%">
                            
                                                            </div> -->
    
                                                        </div>
                                                    </div>

                                                </div>
                                                
                                               
                                            </div>
                                            
                                            <hr class="horizontal_row">
                                            <div class="pech d-flex"  *ngFor="let response of buisness_head_response_._kpi_score"  style="cursor: pointer;" (click)="navigateToBIMap(response)">
                                                {{response.point_label}}
                                                <div class="pech_details d-flex">
                                                    {{response.weightage}}
                                                    <div class="d-flex justify-content-end ">
                                                        
                                                        <div  style="height:2.5vh;">
    
                                                            <img src="assets/images/BoosterAssests/UP-16687580465394.png" alt=""
                                                                height="100%" >
                                                        </div>
                        
                                                        <!-- <div *ngIf="response.ranking_arrow=='red'"  style="height:2.5vh;">
                        
                                                            <img src="assets/images/BoosterAssests/DN-16687580461987.png" alt=""
                                                                height="100%">
                        
                                                        </div>
                                                        <div *ngIf="response.ranking_arrow=='yellow'"  style="height:2.5vh;width: 2.5vh;display:flex;justify-content:center;align-items: center;">
                        
                                                           
                                                           <img src="assets/images/BoosterAssests/EQ-16687580462022.png" alt="" srcset="" height="60%" width="60%">
                        
                                                        </div> -->

                                                    </div>
                                                </div>
                                                
                                            </div>
                                           
                                        </mat-expansion-panel>

                                        <mat-expansion-panel style="margin-top: 2vh" (opened)="panelOpenState = true"
                                        (closed)="panelOpenState = false">
                                        <mat-expansion-panel-header>
                                            <mat-panel-title class="growth_index_accordion">
                                                Governance Index
                                            </mat-panel-title>

                                        </mat-expansion-panel-header>
                                        <div class="pech d-flex" style="cursor: pointer;" *ngFor="let response of buisness_head_response_._governance_score" (click)="navigateToBIMap(response)">
                                            {{response.point_label}}
                                            <div class="pech_details d-flex">
                                                <div>
                                                    {{response.weightage}}
                                                </div>

                                                <div class="d-flex justify-content-end">

                                                    <div *ngIf="response.rankingtable_arrow=='green'" style="height:2.5vh;">

                                                        <img src="assets/images/BoosterAssests/UP-16687580465394.png" alt=""
                                                            height="100%" >
                                                    </div>
                    
                                                    <div *ngIf="response.rankingtable_arrow=='red'"  style="height:2.5vh;">
                    
                                                        <img src="assets/images/BoosterAssests/DN-16687580461987.png" alt=""
                                                            height="100%">
                    
                                                    </div>
                                                    <div *ngIf="response.rankingtable_arrow=='yellow'"  style="height:2.5vh;width: 2.5vh;display:flex;justify-content:center;align-items: center;">
                    
                                                        <img src="assets/images/BoosterAssests/EQ-16687580462022.png" alt="" srcset="" height="60%" width="60%">
                    
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </mat-expansion-panel>


                                    <mat-expansion-panel style="margin-top: 2vh" (opened)="panelOpenState = true"
                                    (closed)="panelOpenState = false">
                                    <mat-expansion-panel-header>
                                        <mat-panel-title class="growth_index_accordion">
                                            Business Index
                                        </mat-panel-title>

                                    </mat-expansion-panel-header>
                                    <div class="pech d-flex" *ngFor="let businessresponse of buisness_head_response_._business_score" style="cursor: pointer;" (click)="navigateToBIMap(businessresponse)">
                                        <div>{{businessresponse.point_label}}</div>
                                        <div class="pech_details d-flex">
                                            <div>
                                                {{businessresponse.weightage}}
                                            </div>
                                            
                                            <div class="d-flex justify-content-end">
                                                        
                                                <div *ngIf="businessresponse.ranking_arrow=='green'" style="height:2.5vh;">
    
                                                    <img src="assets/images/BoosterAssests/UP-16687580465394.png" alt=""
                                                        height="100%" >
                                                </div>
                
                                                <div *ngIf="businessresponse.ranking_arrow=='red'"  style="height:2.5vh;">
                
                                                    <img src="assets/images/BoosterAssests/DN-16687580461987.png" alt=""
                                                        height="100%">
                
                                                </div>
                                                <div *ngIf="businessresponse.ranking_arrow=='yellow'"  style="height:2.5vh;width: 2.5vh;display:flex;justify-content:center;align-items: center;">
                
                                                    <img src="assets/images/BoosterAssests/EQ-16687580462022.png" alt="" srcset="" height="60%" width="60%">
                
                                                </div>
    
                                            </div>
                                        </div>

                                        
                                    </div>
                                </mat-expansion-panel>
                                    </mat-accordion>

                                    <!-- <mat-accordion class="governance_index">
                                        
                                       
                                    </mat-accordion>

                                    <mat-accordion class="governance_index">

                                    </mat-accordion> -->
                                </div>



                            </div>


                        </div>
                    </mat-card>
                    <mat-card class="label_container" style="border-bottom-left-radius: 0;border-bottom-right-radius: 0; padding: 0 !important; width: 90%;margin-bottom: 0;" [style.background-color]="buisness_head_response_.theme_details[0].light_color">
                        <div class="d-flex" style="margin-bottom: 1vh; margin-top: 2vh;margin-left: 0.5vw;" >
                            <div class="web_rank_label">
                                Rank
                            </div>
                            <div class="web_name_label">
                                Name
                            </div>
                            <div class="web_score_label">
                                Score
                            </div>
                        </div>
                    </mat-card>
                    <mat-card class="hos_leaderboard" [style.background-color]="buisness_head_response_.theme_details[0].light_color">
                 
                      
                        <div class="d-flex justify-content-center align-items-center leaderboard_div_web">
                            <div class="row first_row_details d-flex call_center_div mt-2"
                            *ngFor="let res of buisness_head_response_._ranking_data[0]._data;let i=index"
                            style="background-image: url({{buisness_head_response_._ranking_data[0]._data[i].ranking_image}});"
                            (click)="navigateToHOSDashboard(i)">
                            <div class="d-flex">
                                <div class="rank">{{res.rankingtable_number}}</div>
                                <div class="d-flex align-items-center justify-content-center" style="width: 25%;">
                                    <img class="image_logo" src="{{res.rankingtable_logo}}" />
                                </div>
                                <div class="name_section">
                                    <div class="call_center_name" ngbTooltip="{{res.rankingtable_name}}" placement="bottom">
                                        {{res.rankingtable_name}}
                                    </div>
                                    <div class="location">
                                        {{res.user_location}}
                                    </div>
                                    <div class="hos_Level">
        
                                        {{res.level_label}}
                                    </div>
        
        
                                   
        
                                </div>

                                <div class="d-flex justify-content-center align-items-center" style="width: 18%;">
                                    <div class="hos_Score">
                                        {{res.rankingtable_weightage}}
                                    </div>
                                </div>
                            </div>
                            
                           
                           
                            </div>
                        </div>
                       
                   
                        
                       
                    </mat-card>
                </div>

            </div>

        </div>
    </div>



</div>

<div class="mobile-view">
    
    <div>
        <mat-card class="mobile_details_card d-flex justify-content-center"
            [style.background-color]="buisness_head_response_.theme_details[0].light_color">
            <div class="mobile_name">Name: {{buisness_head_response_._personal_data.first_name}} </div>
            <mat-accordion  style="margin-top: 2%;">

                <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                    <mat-expansion-panel-header>
                        <mat-panel-title class="growth_index_accordion_mobile mt-2" >
                            Growth Index
                        </mat-panel-title>

                    </mat-expansion-panel-header>
                    <hr class="horizontal_row" style="font-weight: 550;font-family: 'Inter';">
                    <div class="pt-2">
                        <div class="d-flex justify-content-between align-items-center mt-1" style="font-weight: 550;font-family: 'Inter';">
                            <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Inter';">Overall
                           
                            </div>
                            <div class="global_index_details  " style="font-weight: 600;font-family: 'Inter';display: flex;">
                                <div>{{GrowthIndexData[0].score}}</div>
                                <div class="d-flex justify-content-end">
                                                        
                                    <div  style="height:2.5vh;">

                                        <img src="assets/images/BoosterAssests/UP-16687580465394.png" alt=""
                                            height="100%" >
                                    </div>
    
                                    <!-- <div *ngIf="GrowthIndexData[0].ranking_arrow=='red'"  style="height:2.5vh;">
    
                                        <img src="assets/images/BoosterAssests/DN-16687580461987.png" alt=""
                                            height="100%">
    
                                    </div>
                                    <div *ngIf="GrowthIndexData[0].ranking_arrow=='yellow'"  style="height:2.5vh;width: 2.5vh;display:flex;justify-content:center;align-items: center;">
    
                                        <img src="assets/images/BoosterAssests/EQ-16687580462022.png" alt="" srcset="" height="60%" width="60%">
    
                                    </div> -->

                                </div>
                                
    
                            </div>
                        </div>
                       
                       
                        <div  *ngFor="let kpi_data of buisness_head_response_._kpi_score">
                            <div class="d-flex justify-content-between align-items-center" style="font-weight: 550;font-family: 'Inter';margin-top:2%">
                                <div class="pech " style="font-weight: 600;font-family: 'Inter';">
                                    {{ kpi_data.point_label}}   
                                </div>
                                <div class="pech_details" style="font-weight: 600;font-family: 'Inter';display:flex;">
                                    <div>{{ kpi_data.weightage}}</div>
                                    <div class="d-flex justify-content-end">
                                                        
                                        <div *ngIf="kpi_data.ranking_arrow=='green'" style="height:2.5vh;">

                                            <img src="assets/images/BoosterAssests/UP-16687580465394.png" alt=""
                                                height="100%" >
                                        </div>
        
                                        <div *ngIf="kpi_data.ranking_arrow=='red'"  style="height:2.5vh;">
        
                                            <img src="assets/images/BoosterAssests/DN-16687580461987.png" alt=""
                                                height="100%">
        
                                        </div>
                                        <div *ngIf="kpi_data.ranking_arrow=='yellow'"  style="height:2.5vh;width: 2.5vh;display:flex;justify-content:center;align-items: center;">
        
                                            <img src="assets/images/BoosterAssests/EQ-16687580462022.png" alt="" srcset="" height="60%" width="60%">
        
                                        </div>

                                    </div>

                                </div>
                            </div>
                            
                        </div>
                       
                    </div>
                </mat-expansion-panel>
            </mat-accordion>

        </mat-card>
    </div>




    <div class="map-container-mobile" >
        

        <div style="font-weight: 550;font-family: 'Inter';text-align:start">
            <div>
               &nbsp; Net Promoter Score
            </div>
           
        </div>
        <div class="d-flex justify-content-center align-items-center">
            <img class="mobile_map"  src="assets/images/TopHierarchyDashboard/mobile_map.png" />
            <!-- <app-business-head-map></app-business-head-map> -->
        <!-- <ngx-tableau 
        [tableauVizUrl]="dataMapMobile"
        >
    </ngx-tableau> -->
        </div>
        
    </div>


    <div class="d-flex flex-column gap-2">
        <!-- Accordian for Business Index -->
        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>

                <mat-panel-title class="growth_index_accordion_mobile mt-2">
                    Business Index
                </mat-panel-title>

            </mat-expansion-panel-header>
            <hr class="horizontal_row" style="font-weight: 550;font-family: 'Inter';">
            <div  *ngFor="let businessresponse of buisness_head_response_._business_score" style="cursor: pointer;" (click)="navigateToBIMap(businessresponse)">
                <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Inter';">
                    <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Inter';"> <div>{{businessresponse.point_label}}</div>
                   
                    </div>
                    <div class="d-flex gap-1">
                        <div class="global_index_details  "  style="font-weight: 600;font-family: 'Inter';">
                            <!-- {{GrowthIndexData[0].score}} -->
    
                            {{businessresponse.weightage}}
    
                        </div>
                        <div class="d-flex justify-content-end">
                                                            
                            <div *ngIf="businessresponse.ranking_arrow=='green'" style="height:2.5vh;">
    
                                <img src="assets/images/BoosterAssests/UP-16687580465394.png" alt=""
                                    height="100%" >
                            </div>
                            <div >
                                <div *ngIf="businessresponse.ranking_arrow=='red'"  style="height:2.5vh;">
    
                                    <img src="assets/images/BoosterAssests/DN-16687580461987.png" alt=""
                                        height="100%">
        
                                </div>
                                <div *ngIf="businessresponse.ranking_arrow=='yellow'"  style="height:2.5vh;width: 2.5vh;display:flex;justify-content:center;align-items: center;">
        
                                    <img src="assets/images/BoosterAssests/EQ-16687580462022.png" alt="" srcset="" height="60%" width="60%">
        
                                </div>
                            </div>
                            
    
                        </div>
                    </div>
                    
                </div>
                
                
               
            </div>
           
           
        </mat-expansion-panel>

        <!-- Accordian mat-expansion For Governance Index -->


        <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
            <mat-expansion-panel-header>
                <mat-panel-title class="growth_index_accordion_mobile mt-2">
                    Governance Index
                </mat-panel-title>

            </mat-expansion-panel-header>
            <hr class="horizontal_row" style="font-weight: 550;font-family: 'Inter';">
            <div  *ngFor="let businessresponse of buisness_head_response_._governance_score"style="cursor: pointer;" (click)="navigateToBIMap(businessresponse)">
                <div class="d-flex justify-content-between align-items-center mt-4" style="font-weight: 550;font-family: 'Inter';margin-top:2%">
                    <div class="global_index_mobile d-flex"  style="font-weight: 600;font-family: 'Inter';"> <div>{{businessresponse.point_label}}</div>
                   
                    </div>
                    <div class="d-flex gap-1">
                        <div class="global_index_details  "  style="font-weight: 600;font-family: 'Inter';">
                            <!-- {{GrowthIndexData[0].score}} -->
    
                            {{businessresponse.weightage}}
    
                        </div>
                        <div class="d-flex justify-content-end">
                                                            
                            <div *ngIf="businessresponse.rankingtable_arrow=='green'" style="height:2.5vh;">

                                <img src="assets/images/BoosterAssests/UP-16687580465394.png" alt=""
                                    height="100%" >
                            </div>

                            <div *ngIf="businessresponse.rankingtable_arrow=='red'"  style="height:2.5vh;">

                                <img src="assets/images/BoosterAssests/DN-16687580461987.png" alt=""
                                    height="100%">

                            </div>
                            <div *ngIf="businessresponse.rankingtable_arrow=='yellow'"  style="height:2.5vh;width: 2.5vh;display:flex;justify-content:center;align-items: center;">

                                <img src="assets/images/BoosterAssests/EQ-16687580462022.png" alt="" srcset="" height="60%" width="60%">

                            </div>
                            
    
                        </div>
                    </div>
                    
                </div>
                
                
               
            </div>
            
        </mat-expansion-panel>
    </div>

<!-- 
    <div class="business-index">
        <div class="row">
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Net Promoter Score
                    <div>40</div>
                </button>

            </div>
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Customer effort score
                    <div>50</div>
                </button>

            </div>

        </div>

        <div class="row mt-2">
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Sales index
                    <div>60</div>
                </button>

            </div>
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">cost index
                    <div>70</div>
                </button>

            </div>

        </div>

        <div class="row mt-2">
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Demo
                    <div>80</div>
                </button>

            </div>
            <div class="col-6 d-flex justify-content-center align-items-center mobile_bottom_button_div">
                <button class="mobile_buisness_index">Demo 1
                    <div>100</div>
                </button>

            </div>

        </div>
    </div> -->
    <div class="row" style="width: 100%;
        font-size: 4vw;
        font-weight: 600;
        padding-left: 4%;
        margin-top:2vh;
        color:#ffff">
            <div class="col-1 ">Rank</div>
            <div class="col-3"></div>
            <div class="col-5" >Name </div>
            <div class="col-2">Score</div>
        </div>
    <div class="mobile_call_center_details d-flex flex-column justify-content-start align-items-center">
    
        
        <div class="row align-self-center mobile_call_center_row   mt-1"
            *ngFor="let res of buisness_head_response_._ranking_data[0]._data;let i=index"
            style="background-image: url({{buisness_head_response_._ranking_data[0]._data[i].ranking_image}});background-size: 100% 100%;"
            (click)="navigateToHOSDashboard(i)">
            <div class="col-1 mobile-rank d-flex justify-content-center align-items-center">{{res.rankingtable_number}}</div>
            <div class="col-2 g-0 d-flex align-items-center">
                <img class="mobile_image_logo" src="{{res.rankingtable_logo}}" />
            </div>
            <div class="col-6">
                <div class="mobile_name_div ">
                    {{res.rankingtable_name}}
                </div>
                <div class="mobile_location">
                    {{res.user_location}}
                </div>
                <div class="mobile_hos_Level">
    
                    {{res.level_label}}
                </div>
    
    
    
            </div>
            <div class="col-2">
                <div class="mobile_hos_Score">
                    {{res.rankingtable_weightage}}
                </div>
            </div>
            
        </div>
    
    
    
    
    
    
    </div>
</div>

<!-- <ng-template #content let-modal>
    
    <div class="modal-body">
        <video width="100%" class="video_player" controls autoplay>
            <source [src]="safeUrl" type="video/mp4">
            <source src="mov_bbb.ogg" type="video/ogg">
            Your browser does not support HTML video.
        </video>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" [style.background]="dark_color" [style.color]="fontcolor"
            style="width: 15vw;" (click)="close(content)">Skip</button>
    </div>
</ng-template> -->
