<!-- <div >
    <table #dataTable id="example" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th >Date
                    <img class="up_down_arrow" src="/assets/images/rewards/up_down_arrow.png">
                  </th>
                  <th scope="col">Source</th>
                  <th scope="col">Earned
                    <img class="up_down_arrow" src="/assets/images/rewards/up_down_arrow.png">
    
                  </th>
                  <th scope="col">Redeemed
                    <img class="up_down_arrow" src="/assets/images/rewards/up_down_arrow.png">
    
                  </th>
                  <th scope="col">Balance</th>
    
            </tr>
        </thead>
        <tbody  *ngFor="let response of rewardresponse">
            <tr *ngFor="let passbookresponse of response.data.points_list[1]._data">
                <td>{{passbookresponse.date_time | date: 'dd/MM/yyyy' }}</td>
                <td>{{passbookresponse.description_}}</td>
                <td>{{passbookresponse.points_credited}}</td>
                <td >{{passbookresponse.points_debited}}
                    <img class="redeemed_popup_logo" src="/assets/images/rewards/redeemed.png" >
    
                </td>
            
                <td  class="col-md-2">{{passbookresponse.balance}}</td>
    
            </tr>
        
    
        </tbody>
       
    </table>
</div> -->

<div class="container-fluid">
    <h1>
    Angular 13 Carousel Example
    </h1>
    <h2>Full tutorial in Techiediaries</h2>
    <ngb-carousel *ngIf="images">
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[0]" alt="Random first slide">
        </div>
        <div class="carousel-caption">
          <h3>First Slide</h3>
          <p> Angular 13 Carousel Example </p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[1]" alt="Random second slide">
        </div>
        <div class="carousel-caption">
          <h3>Second Slide</h3>
          <p> Check out Techiediaries</p>
        </div>
      </ng-template>
      <ng-template ngbSlide>
        <div class="wrapper">
          <img [src]="images[2]"  alt="Random third slide">
        </div>
        <div class="carousel-caption">
          <h3>Third Slide</h3>
          <p>for full tutorial...</p>
        </div>
      </ng-template>
    </ngb-carousel>
    </div>